Repository MicrosoftDocs/win32, pull requests merged in 2019-11, with the labels that each got.

#114 Fix rendering in igmp-and-windows-sockets.md
  desktop-src/WinSock/igmp-and-windows-sockets.md
Labels: Change sent to author, do-not-merge

#115 Update example code for multi-threaded pipe server
  desktop-src/ipc/multithreaded-pipe-server.md
Labels: Change sent to author, do-not-merge

#118 Update code samples in "Using Mailslots"
  desktop-src/ipc/creating-a-mailslot.md
  desktop-src/ipc/reading-from-a-mailslot.md
  desktop-src/ipc/writing-to-a-mailslot.md
Labels: Change sent to author, do-not-merge

#98 XAudio 2.9 Redistributable docs
  desktop-src/xaudio2/toc.yml
  desktop-src/xaudio2/xaudio2-redistributable.md
  desktop-src/xaudio2/xaudio2-versions.md
Labels: Change sent to author, do-not-merge

#123 Update wmi-tasks--files-and-folders.md
  desktop-src/WmiSdk/wmi-tasks--files-and-folders.md
Labels: Change sent to author, desktop/prod, do-not-merge, server-tech/tech

#121 Update wm-setcursor.md
  desktop-src/menurc/wm-setcursor.md
Labels: Change sent to author, desktop-app-ui/tech, desktop/prod, do-not-merge

#124 Minor edit(s) to resolve C++ compile time error
  desktop-src/WinSock/complete-client-code.md
  desktop-src/WinSock/sending-and-receiving-data-on-the-client.md
Labels: Change sent to author, desktop/prod, do-not-merge, networking/tech

#126 Update -wic-codec-metadataquerylanguage.md
  desktop-src/wic/-wic-codec-metadataquerylanguage.md
Labels: Change sent to author, desktop/prod, do-not-merge, graphics-gaming/tech

#129 Missing field "streamID" on Windows Server 2016 +
  desktop-src/Http/http-log-field--constants.md
Labels: Change sent to author, desktop/prod, do-not-merge, networking/tech

#130 Add "streamid" field
  desktop-src/Http/error-logging-in-windows-server-2003-sp1.md
Labels: Change sent to author, desktop/prod, do-not-merge, networking/tech

#131 Missing "streamid" field
  desktop-src/Http/w3c-logging.md
Labels: Change sent to author, desktop/prod, do-not-merge, networking/tech

#135 Update registry-hives.md
  desktop-src/SysInfo/registry-hives.md
Labels: Change sent to author, desktop/prod, do-not-merge, system-services/tech

#141 fix closing tag
  desktop-src/TaskSchd/taskschedulerschema-schedulebymonth-calendartriggertype-element.md
Labels: Change sent to author, desktop/prod, do-not-merge, server-tech/tech

#137 Update -wic-native-image-format-metadata-queries.md
  desktop-src/wic/-wic-native-image-format-metadata-queries.md
Labels: Change sent to author, desktop/prod, do-not-merge, graphics-gaming/tech

#136 Update delete-method-in-class-win32-directory.md
  desktop-src/CIMWin32Prov/delete-method-in-class-win32-directory.md
Labels: Change sent to author, desktop/prod, do-not-merge, server-tech/tech

#132 Added description for /f option
  desktop-src/Debug/symstore-command-line-options.md
Labels: Change sent to author, desktop/prod, diagnostics/tech, do-not-merge

#140 DecryptMessage (Schannel) function
  desktop-src/SecAuthN/decryptmessage--schannel.md
Labels: Change sent to author, desktop/prod, do-not-merge, security-identity/tech

#142 Fix tag names as inline code in VML docs
  desktop-src/VML/web-workshop---how-to-use-vml-on-web-pages-----background--element.md
  desktop-src/VML/web-workshop---how-to-use-vml-on-web-pages-----fill--element.md
  desktop-src/VML/web-workshop---how-to-use-vml-on-web-pages-----formulas--element.md
  desktop-src/VML/web-workshop---how-to-use-vml-on-web-pages-----handles--element.md
  desktop-src/VML/web-workshop---how-to-use-vml-on-web-pages-----image--element.md
  desktop-src/VML/web-workshop---how-to-use-vml-on-web-pages-----path--element.md
  desktop-src/VML/web-workshop---how-to-use-vml-on-web-pages-----shadow--element.md
  desktop-src/VML/web-workshop---how-to-use-vml-on-web-pages-----shapetype--element.md
  desktop-src/VML/web-workshop---how-to-use-vml-on-web-pages-----stroke--element.md
  desktop-src/VML/web-workshop---how-to-use-vml-on-web-pages-----textbox--element.md
  desktop-src/VML/web-workshop---how-to-use-vml-on-web-pages-----textpath--element.md
  desktop-src/VML/web-workshop---how-to-use-vml-on-web-pages----appendix.md
  desktop-src/VML/web-workshop---how-to-use-vml-on-web-pages----drawing-basic-shapes.md
  desktop-src/VML/web-workshop---how-to-use-vml-on-web-pages----grouping-shapes.md
  desktop-src/VML/web-workshop---how-to-use-vml-on-web-pages----local-coordinate-space.md
  desktop-src/VML/web-workshop---how-to-use-vml-on-web-pages----positioning-shapes.md
  desktop-src/VML/web-workshop---how-to-use-vml-on-web-pages----using-predefined-shapes.md
Labels: Change sent to author, desktop/prod, do-not-merge, graphics-gaming/tech

#138 Recognizing a Request to Renegotiate a Connection
  desktop-src/SecAuthN/recognizing-a-request-to-renegotiate-a-connection.md
Labels: Change sent to author, desktop/prod, do-not-merge, security-identity/tech

#139 Renegotiating an Schannel Connection
  desktop-src/SecAuthN/renegotiating-an-schannel-connection.md
Labels: Change sent to author, desktop/prod, do-not-merge, security-identity/tech

#144 Update schannel.md
  desktop-src/com/schannel.md
Labels: Change sent to author, desktop/prod, do-not-merge, system-services/tech

#145 Remove internal-only references in Windows version compatibility discussions; otherwise improve same
  desktop-src/SysInfo/targeting-your-application-at-windows-8-1.md
  desktop-src/w8cookbook/operating-system-version-changes-in-windows-8-1.md
  desktop-src/w8cookbook/windows-version-check.md
Labels: desktop/prod, get-started/tech
