Repository MicrosoftDocs/win32, pull requests merged in 2020-08, with the labels that each got.

#468 Update tracelogging-record-and-display-tracelogging-events.md
  desktop-src/tracelogging/tracelogging-record-and-display-tracelogging-events.md
Labels: Change sent to author, desktop/prod, diagnostics/tech, do-not-merge

#469 Update inter-object-communication.md
  desktop-src/com/inter-object-communication.md
Labels: Change sent to author, desktop/prod, do-not-merge, system-services/tech

#470 Update dx-graphics-hlsl-to-samplecmp.md
  desktop-src/direct3dhlsl/dx-graphics-hlsl-to-samplecmp.md
Labels: Change sent to author, desktop/prod, do-not-merge, graphics-gaming/tech

#466 Fix incomplete `syntax`es in SecAuthN
  desktop-src/SecAuthN/acquirecredentialshandle--general.md
  desktop-src/SecAuthN/decryptmessage--general.md
  desktop-src/SecAuthN/encryptmessage--general.md
  desktop-src/SecAuthN/initializesecuritycontext--general.md
  desktop-src/SecAuthN/querycontextattributes--credssp.md
  desktop-src/SecAuthN/querycontextattributes--digest.md
  desktop-src/SecAuthN/querycontextattributes--general.md
  desktop-src/SecAuthN/querycontextattributes--kerberos.md
  desktop-src/SecAuthN/querycontextattributes--negotiate.md
  desktop-src/SecAuthN/querycontextattributes--ntlm.md
  desktop-src/SecAuthN/querycontextattributes--schannel.md
Labels: Change sent to author, desktop/prod, do-not-merge, security-identity/tech

#472 Update setting-up-a-source-initiated-subscription.md
  desktop-src/WEC/setting-up-a-source-initiated-subscription.md
Labels: Change sent to author, desktop/prod, diagnostics/tech, do-not-merge

#471 Update taskschedulerschema-stopatdurationend-repetitiontype-element.md
  desktop-src/TaskSchd/taskschedulerschema-stopatdurationend-repetitiontype-element.md
Labels: Change sent to author, desktop/prod, do-not-merge, server-tech/tech

#473 Update registering-to-execute-a-program.md
  desktop-src/Bits/registering-to-execute-a-program.md
Labels: Change sent to author, desktop/prod, do-not-merge, networking/tech

#456 Update modifying-key-container-access.md
  desktop-src/SecCrypto/modifying-key-container-access.md
Labels: Change sent to author, desktop/prod, do-not-merge, security-identity/tech

#476 Update midl-arrays.md
  desktop-src/Midl/midl-arrays.md
Labels: Change sent to author, desktop/prod, do-not-merge, system-services/tech

#475 refactor: better code appearance for WM_DROPFILES
  desktop-src/shell/wm-dropfiles.md
Labels: Change sent to author, desktop-environment/tech, desktop/prod, do-not-merge

#477 Clarify Win32_ComputerSystem Status
  desktop-src/CIMWin32Prov/win32-computersystem.md
Labels: Change sent to author, desktop/prod, do-not-merge, server-tech/tech

#431 Update shortcut-menu-using-dynamic-verbs.md
  desktop-src/shell/shortcut-menu-using-dynamic-verbs.md
Labels: Change sent to author, desktop-environment/tech, desktop/prod, do-not-merge

#458 Clipboard: minor rewrite of discussion of cloud clipboard special formats
  desktop-src/dataxchg/clipboard-formats.md
Labels: Change sent to author, desktop-app-ui/tech, desktop/prod, do-not-merge

#479 Update dx-graphics-hlsl-packing-rules.md
  desktop-src/direct3dhlsl/dx-graphics-hlsl-packing-rules.md
Labels: Change sent to author, desktop/prod, do-not-merge, graphics-gaming/tech

#478 Add information about pooling and CreateCommandList1 to list/bundles doc
  desktop-src/direct3d12/recording-command-lists-and-bundles.md
Labels: Change sent to author, desktop/prod, do-not-merge, graphics-gaming/tech

#480 Insert missing method names
  desktop-src/gdiplus/-gdiplus-changes-in-the-programming-model-about.md
Labels: Change sent to author, desktop-app-ui/tech, desktop/prod, do-not-merge

#482 Replace dl-elements by simple level-3-headings
  desktop-src/SysInfo/acquiring-high-resolution-time-stamps.md
Labels: Change sent to author, desktop/prod, do-not-merge, system-services/tech

#484 Update blur-ovw.md
  desktop-src/dwm/blur-ovw.md
Labels: Change sent to author, desktop/prod, do-not-merge, graphics-gaming/tech

#485 Update functions.md
  desktop-src/dwm/functions.md
Labels: Change sent to author, desktop/prod, do-not-merge, graphics-gaming/tech

#486 Fix typo
  desktop-src/direct3dtools/pipelinestageerror.md
Labels: Change sent to author, desktop/prod, do-not-merge, graphics-gaming/tech

#461 Wide string arguments passed into non wide string function.
  desktop-src/LearnWin32/example--the-open-dialog-box.md
Labels: Change sent to author, desktop/prod, do-not-merge, get-started/tech

#462 Note Id2D1Factory::GetDesktopDpi is deprecated.
  desktop-src/LearnWin32/dpi-and-device-independent-pixels.md
Labels: Change sent to author, desktop/prod, get-started/tech, ready-to-merge

#488 Update using-the-compression-api-in-block-mode.md
  desktop-src/cmpapi/using-the-compression-api-in-block-mode.md
Labels: Change sent to author, desktop/prod, do-not-merge, system-services/tech

#483 Update locale-names.md
  desktop-src/Intl/locale-names.md
Labels: Change sent to author, desktop-app-ui/tech, desktop/prod, do-not-merge

#493 Remove duplicate instances of the word "method" in -gdiplus-drawing-a-string-use.md
  desktop-src/gdiplus/-gdiplus-drawing-a-string-use.md
Labels: Change sent to author, desktop-app-ui/tech, desktop/prod, do-not-merge

#491 Remove unecessary "the"
  desktop-src/DirectWrite/how-to-ensure-text-is-displayed-with-the-correct-reading-direction.md
Labels: Change sent to author, desktop/prod, do-not-merge, graphics-gaming/tech

#495 Fix error with longPathAware example
  desktop-src/SbsCs/application-manifests.md
Labels: Change sent to author, desktop/prod, do-not-merge, installation-servicing/tech

#496 Fix link to example repository
  desktop-src/wintouch/windows-touch-scratchpad-sample-in-c---mtscratchpadwmtouchcs-.md
Labels: Change sent to author, desktop-app-ui/tech, desktop/prod, do-not-merge

#465 Windows And Messages: Slight stylistic changes to child, owned window discussion
  desktop-src/winmsg/about-windows.md
  desktop-src/winmsg/window-features.md
Labels: Change sent to author, desktop-app-ui/tech, desktop/prod, do-not-merge

#497 Fix memory leak in xinput-and-directinput.md
  desktop-src/xinput/xinput-and-directinput.md
Labels: Change sent to author, desktop/prod, do-not-merge, graphics-gaming/tech

#499 Update hardware-feature-levels.md
  desktop-src/direct3d12/hardware-feature-levels.md
Labels: Change sent to author, desktop/prod, do-not-merge, graphics-gaming/tech

#489 Fix broken Note rendering in -gdiplus-types-of-coordinate-systems-about.md
  desktop-src/gdiplus/-gdiplus-types-of-coordinate-systems-about.md
Labels: Change sent to author, desktop-app-ui/tech, desktop/prod, do-not-merge

#498 Fix images with spaces in their filenames
  desktop-src/DxTechArts/common-techniques-to-improve-shadow-depth-maps.md
Labels: Change sent to author, desktop/prod, do-not-merge, graphics-gaming/tech
