Repository MicrosoftDocs/win32, pull requests merged in 2020-10, with the labels that each got.

#550 Update localization independent SID｡
  desktop-src/TaskSchd/logon-trigger-example--c---.md
Labels: Change sent to author, desktop/prod, do-not-merge, server-tech/tech

#551 Update application-manifests.md
  desktop-src/SbsCs/application-manifests.md
Labels: Change sent to author, desktop/prod, do-not-merge, installation-servicing/tech

#552 Update application-manifests.md
  desktop-src/SbsCs/application-manifests.md
Labels: Change sent to author, desktop/prod, do-not-merge, installation-servicing/tech

#553 Stray ']' at the beginning of WM_GETDPISCALEDSIZE
  desktop-src/hidpi/wm-getdpiscaledsize.md
Labels: Change sent to author, desktop-environment/tech, desktop/prod, do-not-merge

#554 Remove doubled content
  desktop-src/OpenGL/gldrawbuffer.md
Labels: Change sent to author, desktop/prod, do-not-merge, graphics-gaming/tech

#556 Remove doubled content - gldrawpixels.md
  desktop-src/OpenGL/gldrawpixels.md
Labels: Change sent to author, desktop/prod, do-not-merge, graphics-gaming/tech

#555 Remove doubled content - glreadpixels.md
  desktop-src/OpenGL/glreadpixels.md
Labels: Change sent to author, desktop/prod, do-not-merge, graphics-gaming/tech

#557 Update glrendermode.md
  desktop-src/OpenGL/glrendermode.md
Labels: Change sent to author, desktop/prod, do-not-merge, graphics-gaming/tech

#559 Update improving-direct2d-performance.md
  desktop-src/Direct2D/improving-direct2d-performance.md
Labels: Change sent to author, desktop/prod, do-not-merge, graphics-gaming/tech

#561 Fix IPv6 format typo in isInNetEx example
  desktop-src/WinHttp/isinnetex.md
Labels: Change sent to author, desktop/prod, do-not-merge, networking/tech

#562 Update wait-functions.md
  desktop-src/Sync/wait-functions.md
Labels: Change sent to author, desktop/prod, do-not-merge, system-services/tech

#565 Documenting Signtool.md crypto algorithm requirements
  desktop-src/SecCrypto/signtool.md
Labels: Change sent to author, desktop/prod, do-not-merge, security-identity/tech

#566 detail halfway cases in round documentation
  desktop-src/direct3dhlsl/dx-graphics-hlsl-round.md
Labels: Change sent to author, desktop/prod, do-not-merge, graphics-gaming/tech

#534 Fixed hyperlink in the themesfileformat-overview.md file
  desktop-src/Controls/themesfileformat-overview.md
Labels: Change sent to author, desktop-app-ui/tech, desktop/prod

#351 Correct FILEFLAGS and related mask descriptions
  desktop-src/menurc/versioninfo-resource.md
Labels: Change sent to author, desktop-app-ui/tech, desktop/prod

#564 Update time-stamping-authenticode-signatures.md
  desktop-src/SecCrypto/time-stamping-authenticode-signatures.md
Labels: Change sent to author, desktop/prod, do-not-merge, security-identity/tech

#567 connect call was failing due to the value of "hints.ai_family" paramt…
  desktop-src/WinSock/creating-a-socket-for-the-client.md
Labels: Change sent to author, desktop/prod, do-not-merge, networking/tech

#569 Fix highlight of a link
  desktop-src/properties/propdesc-schema-entry.md
Labels: Change sent to author, desktop-environment/tech, desktop/prod, do-not-merge

#558 Update naming-attributes-and-classes.md
  desktop-src/AD/naming-attributes-and-classes.md
Labels: Change sent to author, desktop/prod, do-not-merge, security-identity/tech

#568 Update naming-a-file.md
  desktop-src/FileIO/naming-a-file.md
Labels: do-not-merge

#571 Add hierarchy to performance counter list
  desktop-src/Http/scenario-3--performance-counters.md
Labels: Change sent to author, desktop/prod, do-not-merge, networking/tech

#573 Abstract message meaning from cause and clarify causes.
  desktop-src/menurc/wm-contextmenu.md
Labels: Change sent to author, desktop-app-ui/tech, desktop/prod

#574 added WScript.CreateObject()
  desktop-src/com/using-com-objects-in-windows-script-host.md
Labels: Change sent to author, desktop/prod, do-not-merge, system-services/tech

#575 Update -wic-codec-wiccreateimagingfactory-proxy.md
  desktop-src/wic/-wic-codec-wiccreateimagingfactory-proxy.md
Labels: Change sent to author, desktop/prod, do-not-merge, graphics-gaming/tech
