Repository MicrosoftDocs/win32, pull requests merged in 2020-03, with the labels that each got.

#245 Update about-messages-and-message-queues.md
  desktop-src/winmsg/about-messages-and-message-queues.md
Labels: Change sent to author, desktop-app-ui/tech, desktop/prod, do-not-merge

#192 Update cb-getcuebanner.md
  desktop-src/Controls/cb-getcuebanner.md
Labels: Change sent to author, desktop/prod, do-not-merge

#191 Update cb-setcuebanner.md
  desktop-src/Controls/cb-setcuebanner.md
Labels: Change sent to author, desktop/prod, do-not-merge

#244 Update mfsampleextension-capturemetadata.md
  desktop-src/medfound/mfsampleextension-capturemetadata.md
Labels: Change sent to author, audio-video/tech, desktop/prod, do-not-merge

#249 Fix table formatting for WinHttp option flags
  desktop-src/WinHttp/option-flags.md
Labels: Change sent to author, desktop/prod, do-not-merge, networking/tech

#235 Compatibility note for tracelogging provider
  desktop-src/tracelogging/tracelogging-native-quick-start.md
Labels: Change sent to author, desktop/prod, diagnostics/tech, do-not-merge

#251 Support Windows Server 2019
  desktop-src/SbsCs/application-manifests.md
Labels: Change sent to author, desktop/prod, do-not-merge, installation-servicing/tech

#255 Fixing misspelling of the word 'Across' in the docs
  desktop-src/direct3dhlsl/hlsl-shader-model-6-0-features-for-direct3d-12.md
  desktop-src/direct3dhlsl/quadreadacrossdiagonal.md
  desktop-src/direct3dhlsl/quadswapx.md
  desktop-src/direct3dhlsl/quadswapy.md
  desktop-src/direct3dhlsl/shader-model-6-0.md
  desktop-src/direct3dhlsl/toc.yml
Labels: Change sent to author, desktop/prod, do-not-merge, graphics-gaming/tech

#254 fixing invalid description value of documentation
  desktop-src/direct3d9/d3dformat.md
Labels: Change sent to author, desktop/prod, do-not-merge, graphics-gaming/tech

#250 iplisten address parameter is 'ipaddress'
  desktop-src/Http/add-iplisten.md
Labels: Change sent to author, desktop/prod, do-not-merge, networking/tech

#262 Update using-one-time-initialization.md
  desktop-src/Sync/using-one-time-initialization.md
Labels: Change sent to author, desktop/prod, do-not-merge, system-services/tech

#257 Typo fix for a-msiis-ftpdir.md
  desktop-src/ADSchema/a-msiis-ftpdir.md
Labels: Change sent to author, desktop/prod, do-not-merge, security-identity/tech

#256 Typo fix for a-msiis-ftproot.md
  desktop-src/ADSchema/a-msiis-ftproot.md
Labels: Change sent to author, desktop/prod, do-not-merge, security-identity/tech

#247 Update index-key.md
  desktop-src/extensible-storage-engine/index-key.md
Labels: Change sent to author, data-access-storage/tech, desktop/prod, do-not-merge

#263 Fixed description for SetNoPPIMaintenance_True
  desktop-src/SecProv/setphysicalpresencerequest-win32-tpm.md
Labels: Change sent to author, desktop/prod, do-not-merge, security-identity/tech

#241 Update initializesecuritycontext--general.md
  desktop-src/SecAuthN/initializesecuritycontext--general.md
Labels: Change sent to author, desktop/prod, do-not-merge, security-identity/tech

#265 Noting Deprecation of Dynamic disk scenarios
  desktop-src/FileIO/basic-and-dynamic-disks.md
Labels: Change sent to author, data-access-storage/tech, desktop/prod, do-not-merge

#171 Fix and update documentation for HDM_GET*RECT messages
  desktop-src/Controls/hdm-getitemdropdownrect.md
  desktop-src/Controls/hdm-getitemrect.md
Labels: Change sent to author, desktop/prod, do-not-merge

#267 Update some non-working Markdown to correctly link.
  desktop-src/WmiSdk/using-wmi.md
Labels: Change sent to author, desktop/prod, do-not-merge, server-tech/tech

#268 Minor update pe-format.md
  desktop-src/Debug/pe-format.md
Labels: Change sent to author, desktop/prod, diagnostics/tech, do-not-merge

#269 This is to fix the SetEvent link
  desktop-src/Sync/synchronization-object-security-and-access-rights.md
Labels: Change sent to author, desktop/prod, do-not-merge, system-services/tech

#271 Minor update pe-format.md
  desktop-src/Debug/pe-format.md
Labels: Change sent to author, desktop/prod, diagnostics/tech, do-not-merge

#275 Bias range is supposed to be -16..15.99
  desktop-src/direct3dhlsl/dx-graphics-hlsl-to-samplebias.md
Labels: Change sent to author, desktop/prod, do-not-merge, graphics-gaming/tech

#278 The D3D11 feature levels page should cross-link to D3D12
  desktop-src/direct3d11/overviews-direct3d-11-devices-downlevel-intro.md
Labels: Change sent to author, desktop/prod, do-not-merge, graphics-gaming/tech

#285 Update wm-syskeyup.md
  desktop-src/inputdev/wm-syskeyup.md
Labels: Change sent to author, desktop-app-ui/tech, desktop/prod, do-not-merge

#287 Update wm-deadchar.md
  desktop-src/inputdev/wm-deadchar.md
Labels: Change sent to author, desktop-app-ui/tech, desktop/prod, do-not-merge

#288 Update wm-sysdeadchar.md
  desktop-src/inputdev/wm-sysdeadchar.md
Labels: Change sent to author, desktop-app-ui/tech, desktop/prod, do-not-merge

#286 Update wm-unichar.md
  desktop-src/inputdev/wm-unichar.md
Labels: Change sent to author, desktop-app-ui/tech, desktop/prod, do-not-merge

#284 Update wm-syskeydown.md
  desktop-src/inputdev/wm-syskeydown.md
Labels: Change sent to author, desktop-app-ui/tech, desktop/prod, do-not-merge

#283 Update wm-keyup.md
  desktop-src/inputdev/wm-keyup.md
Labels: Change sent to author, desktop-app-ui/tech, desktop/prod, do-not-merge

#282 Update wm-keydown.md
  desktop-src/inputdev/wm-keydown.md
Labels: Change sent to author, desktop-app-ui/tech, desktop/prod, do-not-merge

#281 Update wm-char.md
  desktop-src/inputdev/wm-char.md
Labels: Change sent to author, desktop-app-ui/tech, desktop/prod, do-not-merge

#279 Update raw-input-structures.md
  desktop-src/inputdev/raw-input-structures.md
Labels: Change sent to author, desktop-app-ui/tech, desktop/prod, do-not-merge

#289 errors in code
  desktop-src/Debug/using-wct.md
Labels: Change sent to author, desktop/prod, diagnostics/tech, do-not-merge

#292 Update directinput-and-xusb-devices.md
  desktop-src/xinput/directinput-and-xusb-devices.md
Labels: Change sent to author, desktop/prod, do-not-merge, graphics-gaming/tech

#291 Fix missing parenthesis in sample code.
  desktop-src/DxTechArts/taking-advantage-of-high-dpi-mouse-movement.md
Labels: Change sent to author, desktop/prod, do-not-merge, graphics-gaming/tech

#270 Update disk-management-control-codes.md
  desktop-src/FileIO/disk-management-control-codes.md
Labels: Change sent to author, data-access-storage/tech, desktop/prod, do-not-merge

#277 change download link to point the right repository
  desktop-src/LearnWin32/draw-circle-sample.md
Labels: Change sent to author, desktop/prod, get-started/tech, ready-to-merge

#8 Fix typo in using-syslink-controls.md
  desktop-src/Controls/using-syslink-controls.md
Labels: Change sent to author, ready-to-merge

#104 Fix bolding in month-calendar-control-styles.md...
  desktop-src/Controls/month-calendar-control-styles.md
Labels: Change sent to author, ready-to-merge

#246 Use code blocks for code samples
  desktop-src/Win7AppQual/preventing-hangs-in-windows-applications.md
Labels: Change sent to author, desktop/prod, get-started/tech, ready-to-merge

#183 Update glossary.md
  desktop-src/wintouch/glossary.md
Labels: Change sent to author, desktop/prod, do-not-merge

#294 Update receiving-completion-indications-2.md
  desktop-src/WinSock/receiving-completion-indications-2.md
Labels: Change sent to author, desktop/prod, do-not-merge, networking/tech

#295 Fix article "Retrieving Counter Names and Help Text"
  desktop-src/PerfCtrs/retrieving-counter-names-and-help-text.md
Labels: Change sent to author, desktop/prod, diagnostics/tech, do-not-merge

#290 Update wm-syschar.md
  desktop-src/menurc/wm-syschar.md
Labels: Change sent to author, desktop-app-ui/tech, desktop/prod, do-not-merge

#293 Update mftrace.md to explicitly call out where to find mftrace.exe
  desktop-src/medfound/mftrace.md
Labels: Change sent to author, audio-video/tech, desktop/prod, do-not-merge

#296 Update about-mouse-input.md
  desktop-src/inputdev/about-mouse-input.md
Labels: Change sent to author, desktop-app-ui/tech, desktop/prod, do-not-merge
