Repository MicrosoftDocs/win32, pull requests merged in 2020-07, with the labels that each got.

#425 fix spelling mistake
  desktop-src/WinSock/winsock-ioctls.md
Labels: Change sent to author, desktop/prod, do-not-merge, networking/tech

#427 Update setting-the-default-dpi-awareness-for-a-process.md
  desktop-src/hidpi/setting-the-default-dpi-awareness-for-a-process.md
Labels: Change sent to author, desktop-environment/tech, desktop/prod, do-not-merge

#428 Update setting-the-default-dpi-awareness-for-a-process.md
  desktop-src/hidpi/setting-the-default-dpi-awareness-for-a-process.md
Labels: Change sent to author, desktop-environment/tech, desktop/prod, do-not-merge

#429 Fix typo
  desktop-src/direct3d12/core-feature-levels.md
Labels: Change sent to author, desktop/prod, do-not-merge, graphics-gaming/tech

#430 Update waveballot.md
  desktop-src/direct3dhlsl/waveballot.md
Labels: Change sent to author, desktop/prod, do-not-merge, graphics-gaming/tech

#433 Clarify back-buffer identity changes
  desktop-src/direct3ddxgi/d3d10-graphics-programming-guide-dxgi.md
Labels: Change sent to author, desktop/prod, do-not-merge, graphics-gaming/tech

#376 Update command typo in cng-named-elliptic-curves.md
  desktop-src/SecCNG/cng-named-elliptic-curves.md
Labels: Change sent to author, desktop/prod, do-not-merge, security-identity/tech

#383 Fixed typo
  desktop-src/VSS/in-box-vss-writers.md
Labels: Change sent to author, data-access-storage/tech, desktop/prod, do-not-merge

#436 Update wm-input.md
  desktop-src/inputdev/wm-input.md
Labels: Change sent to author, desktop-app-ui/tech, desktop/prod, do-not-merge

#438 Update values for defined port numbers
  desktop-src/WinHttp/internet-port.md
Labels: Change sent to author, desktop/prod, do-not-merge, networking/tech

#437 Fixed a typo in the last "WM_PAINT".
  desktop-src/gdi/the-update-region.md
Labels: Change sent to author, desktop-app-ui/tech, desktop/prod, do-not-merge

#435 Update taking-advantage-of-high-dpi-mouse-movement.md
  desktop-src/DxTechArts/taking-advantage-of-high-dpi-mouse-movement.md
Labels: Change sent to author, desktop/prod, do-not-merge, graphics-gaming/tech

#424 Reword DXCore adapter list order description to be less confusing
  desktop-src/dxcore/dxcore_interface/nf-dxcore_interface-idxcoreadapterfactory-createadapterlist.md
Labels: Change sent to author, desktop-environment/tech, desktop/prod, do-not-merge

#441 Replace with "opaque box"
  desktop-src/com/reusing-objects.md
Labels: Change sent to author, desktop/prod, do-not-merge, system-services/tech

#421 fix typo
  desktop-src/AppUIStart/-user-interface-principles.md
Labels: Change sent to author, desktop-app-ui/tech, desktop/prod, do-not-merge

#434 Update wm-input-device-change.md
  desktop-src/inputdev/wm-input-device-change.md
Labels: Change sent to author, desktop-app-ui/tech, desktop/prod, do-not-merge

#440 Update uncompressed-rgb-video-subtypes.md
  desktop-src/DirectShow/uncompressed-rgb-video-subtypes.md
Labels: Change sent to author, desktop/prod, do-not-merge, graphics-gaming/tech

#350 XInput: Add more information on XUSB usage via low-level HID API
  desktop-src/xinput/directinput-and-xusb-devices.md
  desktop-src/xinput/getting-started-with-xinput.md
  desktop-src/xinput/xinput-and-directinput.md
Labels: Change sent to author, desktop/prod, do-not-merge, graphics-gaming/tech

#419 Update nf-do-idodownload-start.md
  desktop-src/delivery_optimization/do/nf-do-idodownload-start.md
Labels: Change sent to author, desktop-environment/tech, desktop/prod, do-not-merge

#442 HLSL Sample*(): Fix more rendering errors.
  desktop-src/direct3dhlsl/dx-graphics-hlsl-to-gather.md
  desktop-src/direct3dhlsl/dx-graphics-hlsl-to-samplebias.md
  desktop-src/direct3dhlsl/dx-graphics-hlsl-to-samplegrad.md
  desktop-src/direct3dhlsl/dx-graphics-hlsl-to-samplelevel.md
Labels: Change sent to author, desktop/prod, do-not-merge, graphics-gaming/tech

#432 Update name-space.md
  desktop-src/DNS/name-space.md
Labels: Change sent to author, desktop/prod, do-not-merge, networking/tech

#445 Replace the flag from int zero to the right enum
  desktop-src/direct3d12/creating-descriptor-heaps.md
Labels: Change sent to author, desktop/prod, do-not-merge, graphics-gaming/tech

#398 Fix error of the description of 'SensorAdapterFinishCapture' in sensor-adapter-funciton.md
  desktop-src/SecBioMet/sensor-adapter-functions.md
Labels: Change sent to author, desktop/prod, do-not-merge, security-identity/tech

#448 Update default-texture-mapping.md
  desktop-src/direct3d12/default-texture-mapping.md
Labels: Change sent to author, desktop/prod, do-not-merge, graphics-gaming/tech

#447 Update pe-format.md: Longnames member is optional.
  desktop-src/Debug/pe-format.md
Labels: Change sent to author, desktop/prod, diagnostics/tech, do-not-merge

#446 Update pe-format.md: Forward slash vs. backward slash in .libs.
  desktop-src/Debug/pe-format.md
Labels: Change sent to author, desktop/prod, diagnostics/tech, do-not-merge

#426 Update tls-cipher-suites-in-windows-7.md
  desktop-src/SecAuthN/tls-cipher-suites-in-windows-7.md
Labels: Change sent to author, desktop/prod, do-not-merge, security-identity/tech

#449 Update creating-a-basic-winsock-application.md
  desktop-src/WinSock/creating-a-basic-winsock-application.md
Labels: Change sent to author, desktop/prod, do-not-merge, networking/tech

#451 Make appx package formatting fixes
  desktop-src/appxpkg/make-appx-package--makeappx-exe-.md
Labels: Change sent to author, desktop-environment/tech, desktop/prod, do-not-merge

#453 Update samples-recipepreviewhandler.md
  desktop-src/shell/samples-recipepreviewhandler.md
Labels: Change sent to author, desktop-environment/tech, desktop/prod, do-not-merge

#443 Update manifest-file-schema.md
  desktop-src/SbsCs/manifest-file-schema.md
Labels: Change sent to author, desktop/prod, do-not-merge, installation-servicing/tech

#450 Update d3dxuvatlascreate.md
  desktop-src/direct3d9/d3dxuvatlascreate.md
Labels: Change sent to author, desktop/prod, do-not-merge, graphics-gaming/tech

#457 Add link to NVIDIA's CUDA on WSL User Guide
  desktop-src/direct3d12/gpu-cuda-in-wsl.md
Labels: Change sent to author, desktop/prod, do-not-merge, graphics-gaming/tech

#459 Fix incorrect text in Tip box
  desktop-src/tracelogging/tracelogging-record-and-display-tracelogging-events.md
Labels: Change sent to author, desktop/prod, diagnostics/tech, do-not-merge

#452 Update convertsystemtimetocaldatetime.md
  desktop-src/Intl/convertsystemtimetocaldatetime.md
Labels: Change sent to author, desktop-app-ui/tech, desktop/prod, do-not-merge

#455 Fix misspelled and non-hyperlinked function name
  desktop-src/direct3dhlsl/overviews-direct3d-11-hlsl-dynamic-linking-class.md
Labels: Change sent to author, desktop/prod, do-not-merge, graphics-gaming/tech

#454 Update window-styles.md
  desktop-src/winmsg/window-styles.md
Labels: Change sent to author, desktop-app-ui/tech, desktop/prod, do-not-merge

#460 Update application-manifests.md
  desktop-src/SbsCs/application-manifests.md
Labels: Change sent to author, desktop/prod, do-not-merge, installation-servicing/tech

#463 Fix typo in "Custom Window Frame" code snippet
  desktop-src/dwm/customframe.md
Labels: Change sent to author, desktop/prod, do-not-merge, graphics-gaming/tech

#464 Fix broken table in EncryptMessage (General)
  desktop-src/SecAuthN/encryptmessage--general.md
Labels: Change sent to author, desktop/prod, do-not-merge, security-identity/tech

#420 It doesn't persist between application restarts
  desktop-src/CoreAudio/audclnt-streamflags-xxx-constants.md
Labels: Change sent to author, audio-video/tech, desktop/prod, do-not-merge

#467 WindowsRibbon docs corrected:
  desktop-src/windowsribbon/ribbon-controls-galleries.md
  desktop-src/windowsribbon/windowsribbon-element-fontcontrol.md
  desktop-src/windowsribbon/windowsribbon-element-inribbongallery.md
  desktop-src/windowsribbon/windowsribbon-element-verticalmenulayout.md
  desktop-src/windowsribbon/windowsribbon-templates.md
Labels: Change sent to author, desktop-app-ui/tech, desktop/prod, do-not-merge
