Repository MicrosoftDocs/win32, pull requests merged in 2020-01, with the labels that each got.

#157 Update entry-uiauto-win32.md
  desktop-src/WinAuto/entry-uiauto-win32.md
Labels: Change sent to author, desktop/prod, do-not-merge

#161 Update thread-pool-api.md
  desktop-src/ProcThread/thread-pool-api.md
Labels: Change sent to author, desktop/prod, do-not-merge

#156 Update win32-processor.md
  desktop-src/CIMWin32Prov/win32-processor.md
Labels: Change sent to author, desktop/prod, do-not-merge

#175 Fix wrong indentation in side-by-side assembly.
  desktop-src/SbsCs/enabling-an-assembly-in-an-application-hosting-a-dll-extension-or-control-panel.md
  desktop-src/SbsCs/enabling-an-assembly-in-an-application-without-extensions.md
Labels: Change sent to author, desktop/prod, do-not-merge

#167 fixed typo: gradiant->gradient
  desktop-src/LearnWin32/render-targets--devices--and-resources.md
Labels: Change sent to author, desktop/prod, do-not-merge

#163 Replaced reserved symbol '<' with HTML entities.
  desktop-src/search/-search-3x-advancedquerysyntax.md
Labels: Change sent to author, desktop/prod, do-not-merge

#172 Update virtual-address-space-and-physical-storage.md
  desktop-src/Memory/virtual-address-space-and-physical-storage.md
Labels: Change sent to author, desktop/prod, do-not-merge

#173 Update asf-support-in-media-foundation.md
  desktop-src/medfound/asf-support-in-media-foundation.md
Labels: Change sent to author, desktop/prod, do-not-merge

#174 Note performance counter permission distinction for interactive logon sessions
  desktop-src/PerfCtrs/limited-user-access-support.md
Labels: Change sent to author, desktop/prod, do-not-merge

#176 Delete broken link or update it
  desktop-src/TSF/text-services-framework.md
Labels: Change sent to author, desktop/prod, do-not-merge

#120 Fix typo
  desktop-src/uxguide/experiences.md
Labels: Change sent to author, design/tech, desktop/prod

#96 Fix broken links for each hook type
  desktop-src/winmsg/about-hooks.md
Labels: Change sent to author

#111 Update dlgbox-programming-considerations.md
  desktop-src/dlgbox/dlgbox-programming-considerations.md
Labels: Change sent to author, desktop/prod, do-not-merge

#180 Added syntax highlighting hints to code sample
  desktop-src/dataxchg/using-data-copy.md
Labels: Change sent to author, desktop/prod, do-not-merge

#184 D3D12: Add doc table showing which APIs are valid on which types of command list
  desktop-src/direct3d12/recording-command-lists-and-bundles.md
Labels: Change sent to author, desktop/prod, do-not-merge

#178 Fixed the formulas.
  desktop-src/direct3dhlsl/dx-graphics-hlsl-lit.md
Labels: Change sent to author, desktop/prod, do-not-merge

#190 Fixing BC7 mode 5's textual description
  desktop-src/direct3d11/bc7-format-mode-reference.md
Labels: Change sent to author, desktop/prod, do-not-merge

#182 Update adding-manipulation-support-in-unmanaged-code.md
  desktop-src/wintouch/adding-manipulation-support-in-unmanaged-code.md
Labels: Change sent to author, desktop/prod, do-not-merge

#189 Fix sample links.
  desktop-src/Intl/about-the-spell-checker-api.md
Labels: Change sent to author, desktop/prod, do-not-merge

#194 Japanese IME team has added two new vkeys
  desktop-src/inputdev/virtual-key-codes.md
Labels: Change sent to author, desktop-app-ui/tech, desktop/prod, do-not-merge

#198 Fix _WIN32_WINNT value for Windows 8.1
  desktop-src/WinProg/using-the-windows-headers.md
Labels: Change sent to author, desktop/prod, get-started/tech, ready-to-merge

#200 Update user-interaction.md
  desktop-src/user-interaction.md
Labels: Change sent to author, desktop-app-ui/tech, desktop/prod, do-not-merge

#202 Add a note about SetDllDirectory effect on a child process
  desktop-src/Dlls/dynamic-link-library-search-order.md
Labels: Change sent to author, desktop/prod, do-not-merge, system-services/tech

#196 Escape backslashes which precede a curly bracket.
  desktop-src/AMSI/dev-audience.md
Labels: Change sent to author, desktop/prod, do-not-merge, security-identity/tech

#177 Fix unescaped anchor tag running loose
  desktop-src/Controls/syslink-overview.md
Labels: Change sent to author, desktop/prod, do-not-merge

#170 Fix broken link to Control Spy 2.0
  desktop-src/Controls/control-spy.md
Labels: Change sent to author, desktop/prod, do-not-merge
