Repository MicrosoftDocs/win32, pull requests merged in 2020-11, with the labels that each got.

#577 Update RECT link to up to date documentation
  desktop-src/hidpi/wm-dpichanged.md
Labels: Change sent to author, desktop-environment/tech, desktop/prod, do-not-merge

#576 minor edit!
  desktop-src/shell/shell-shellexecute.md
Labels: Change sent to author, desktop-environment/tech, desktop/prod, do-not-merge

#578 grammar fix
  desktop-src/Direct2D/multi-threaded-direct2d-apps.md
Labels: Change sent to author, desktop/prod, do-not-merge, graphics-gaming/tech

#581 Update shader-model-6-0.md
  desktop-src/direct3dhlsl/shader-model-6-0.md
Labels: Change sent to author, desktop/prod, do-not-merge, graphics-gaming/tech

#604 Update quadreadacrossdiagonal.md
  desktop-src/direct3dhlsl/quadreadacrossdiagonal.md
Labels: Change sent to author, desktop/prod, do-not-merge, graphics-gaming/tech

#603 Update quadreadlaneat.md
  desktop-src/direct3dhlsl/quadreadlaneat.md
Labels: Change sent to author, desktop/prod, do-not-merge, graphics-gaming/tech

#602 Update quadswapx.md
  desktop-src/direct3dhlsl/quadswapx.md
Labels: Change sent to author, desktop/prod, do-not-merge, graphics-gaming/tech

#601 Update quadswapy.md
  desktop-src/direct3dhlsl/quadswapy.md
Labels: Change sent to author, desktop/prod, do-not-merge, graphics-gaming/tech

#600 Update waveactiveallequal.md
  desktop-src/direct3dhlsl/waveactiveallequal.md
Labels: Change sent to author, desktop/prod, do-not-merge, graphics-gaming/tech

#599 Update waveallbitand.md
  desktop-src/direct3dhlsl/waveallbitand.md
Labels: Change sent to author, desktop/prod, do-not-merge, graphics-gaming/tech

#598 Update waveallbitor.md
  desktop-src/direct3dhlsl/waveallbitor.md
Labels: Change sent to author, desktop/prod, do-not-merge, graphics-gaming/tech

#597 Update waveallbitxor.md
  desktop-src/direct3dhlsl/waveallbitxor.md
Labels: Change sent to author, desktop/prod, do-not-merge, graphics-gaming/tech

#594 Update waveallmin.md
  desktop-src/direct3dhlsl/waveallmin.md
Labels: Change sent to author, desktop/prod, do-not-merge, graphics-gaming/tech

#593 Update waveallproduct.md
  desktop-src/direct3dhlsl/waveallproduct.md
Labels: Change sent to author, desktop/prod, do-not-merge, graphics-gaming/tech

#592 Update waveallsum.md
  desktop-src/direct3dhlsl/waveallsum.md
Labels: Change sent to author, desktop/prod, do-not-merge, graphics-gaming/tech

#591 Update wavealltrue.md
  desktop-src/direct3dhlsl/wavealltrue.md
Labels: Change sent to author, desktop/prod, do-not-merge, graphics-gaming/tech

#590 Update waveanytrue.md
  desktop-src/direct3dhlsl/waveanytrue.md
Labels: Change sent to author, desktop/prod, do-not-merge, graphics-gaming/tech

#589 Update waveballot.md
  desktop-src/direct3dhlsl/waveballot.md
Labels: Change sent to author, desktop/prod, do-not-merge, graphics-gaming/tech

#588 Update wavegetlanecount.md
  desktop-src/direct3dhlsl/wavegetlanecount.md
Labels: Change sent to author, desktop/prod, do-not-merge, graphics-gaming/tech

#587 Update wavegetlaneindex.md
  desktop-src/direct3dhlsl/wavegetlaneindex.md
Labels: Change sent to author, desktop/prod, do-not-merge, graphics-gaming/tech

#586 Update waveisfirstlane.md
  desktop-src/direct3dhlsl/waveisfirstlane.md
Labels: Change sent to author, desktop/prod, do-not-merge, graphics-gaming/tech

#585 Update waveprefixcountbytes.md
  desktop-src/direct3dhlsl/waveprefixcountbytes.md
Labels: Change sent to author, desktop/prod, do-not-merge, graphics-gaming/tech

#584 Update waveprefixproduct.md
  desktop-src/direct3dhlsl/waveprefixproduct.md
Labels: Change sent to author, desktop/prod, do-not-merge, graphics-gaming/tech

#583 Update waveprefixsum.md
  desktop-src/direct3dhlsl/waveprefixsum.md
Labels: Change sent to author, desktop/prod, do-not-merge, graphics-gaming/tech

#582 Update wavereadfirstlane.md
  desktop-src/direct3dhlsl/wavereadfirstlane.md
Labels: Change sent to author, desktop/prod, do-not-merge, graphics-gaming/tech

#579 Fix typo
  desktop-src/direct3ddds/dx-graphics-dds-pguide.md
Labels: Change sent to author, desktop/prod, do-not-merge, graphics-gaming/tech

#606 wrong id value for UIA_ActiveTextPositionChangedEventId
  desktop-src/WinAuto/uiauto-event-ids.md
Labels: Change sent to author, accessibility/tech, desktop/prod, do-not-merge

#605 win32-operatingsystem SKU 48
  desktop-src/CIMWin32Prov/win32-operatingsystem.md
Labels: Change sent to author, desktop/prod, do-not-merge, server-tech/tech

#596 Update waveactivecountbits.md
  desktop-src/direct3dhlsl/waveactivecountbits.md
Labels: Change sent to author, desktop/prod, do-not-merge, graphics-gaming/tech

#595 Update waveallmax.md
  desktop-src/direct3dhlsl/waveallmax.md
Labels: Change sent to author, desktop/prod, do-not-merge, graphics-gaming/tech

#607 Update dx-graphics-hlsl-variable-syntax.md
  desktop-src/direct3dhlsl/dx-graphics-hlsl-variable-syntax.md
Labels: Change sent to author, desktop/prod, do-not-merge, graphics-gaming/tech

#612 Update dxcore.md
  desktop-src/dxcore/dxcore.md
Labels: Change sent to author, desktop/prod, do-not-merge, graphics-gaming/tech

#611 Update dx-graphics-hlsl-variable-syntax.md
  desktop-src/direct3dhlsl/dx-graphics-hlsl-variable-syntax.md
Labels: Change sent to author, desktop/prod, do-not-merge, graphics-gaming/tech

#610 adding a note
  desktop-src/HyperV_v2/msvm-compatibilityvector.md
Labels: Change sent to author, desktop/prod, do-not-merge, server-tech/tech

#608 Update shell-shellexecute.md
  desktop-src/shell/shell-shellexecute.md
Labels: Change sent to author, desktop-environment/tech, desktop/prod, do-not-merge

#613 Revert "adding a note"
  desktop-src/HyperV_v2/msvm-compatibilityvector.md
Labels: Change sent to author, desktop/prod, do-not-merge, server-tech/tech

#615 Update dx-graphics-hlsl-variable-syntax.md
  desktop-src/direct3dhlsl/dx-graphics-hlsl-variable-syntax.md
Labels: Change sent to author, desktop/prod, do-not-merge, graphics-gaming/tech

#614 Fix link URL
  desktop-src/VML/web-workshop---specs---standards----introduction-to-vector-markup-language--vml-.md
Labels: Change sent to author, desktop/prod, do-not-merge, graphics-gaming/tech

#616 Fix links at bottom of page.
  desktop-src/Tapi/initialize-tapi.md
Labels: do-not-merge

#619 Updating requirements for tutorial
  desktop-src/direct3dgetstarted/pre-requisites-for-developing-a-tailored-c---with-directx-app.md
Labels: Change sent to author, desktop/prod, do-not-merge, graphics-gaming/tech

#625 Update sample-s-float--int-uint-.md
  desktop-src/direct3dhlsl/sample-s-float--int-uint-.md
Labels: Change sent to author, desktop/prod, do-not-merge, graphics-gaming/tech

#624 Update sample-s-float--int-float-.md
  desktop-src/direct3dhlsl/sample-s-float--int-float-.md
Labels: Change sent to author, desktop/prod, do-not-merge, graphics-gaming/tech

#626 Update dx-graphics-hlsl-to-gather.md
  desktop-src/direct3dhlsl/dx-graphics-hlsl-to-gather.md
Labels: Change sent to author, desktop/prod, do-not-merge, graphics-gaming/tech

#623 Update dx-graphics-hlsl-to-samplecmp.md
  desktop-src/direct3dhlsl/dx-graphics-hlsl-to-samplecmp.md
Labels: Change sent to author, desktop/prod, do-not-merge, graphics-gaming/tech

#622 Update dx-graphics-hlsl-to-load.md
  desktop-src/direct3dhlsl/dx-graphics-hlsl-to-load.md
Labels: Change sent to author, desktop/prod, do-not-merge, graphics-gaming/tech

#629 Update dx-graphics-hlsl-to-sample.md
  desktop-src/direct3dhlsl/dx-graphics-hlsl-to-sample.md
Labels: Change sent to author, desktop/prod, do-not-merge, graphics-gaming/tech

#628 Update dx-graphics-hlsl-to-samplelevel.md
  desktop-src/direct3dhlsl/dx-graphics-hlsl-to-samplelevel.md
Labels: Change sent to author, desktop/prod, do-not-merge, graphics-gaming/tech

#627 Update dx-graphics-hlsl-to-samplebias.md
  desktop-src/direct3dhlsl/dx-graphics-hlsl-to-samplebias.md
Labels: Change sent to author, desktop/prod, do-not-merge, graphics-gaming/tech

#621 Update -cpp-opt.md
  desktop-src/Midl/-cpp-opt.md
Labels: Change sent to author, desktop/prod, do-not-merge, system-services/tech

#630 Not all shell extensions are in proc
  desktop-src/shell/handlers.md
Labels: Change sent to author, desktop-environment/tech, desktop/prod, do-not-merge

#609 Update refreshing-a-dynamic-object.md
  desktop-src/AD/refreshing-a-dynamic-object.md
Labels: Change sent to author, desktop/prod, do-not-merge, security-identity/tech

#572 Update a-msds-additionaldnshostname.md
  desktop-src/ADSchema/a-msds-additionaldnshostname.md
Labels: Change sent to author, desktop/prod, do-not-merge, security-identity/tech

#632 Update populating-filter-conditions.md
  desktop-src/FWP/populating-filter-conditions.md
Labels: Change sent to author, desktop/prod, do-not-merge, networking/tech

#633 Update code-page-identifiers.md
  desktop-src/Intl/code-page-identifiers.md
Labels: Change sent to author, desktop-app-ui/tech, desktop/prod, do-not-merge, ready-to-merge

#634 Fixed incorrect member name used with D3D12_INDIRECT_ARGUMENT_DESC
  desktop-src/direct3d12/indirect-drawing.md
Labels: Change sent to author, desktop/prod, do-not-merge, graphics-gaming/tech

#635 Update so-keepalive.md
  desktop-src/WinSock/so-keepalive.md
Labels: Change sent to author, desktop/prod, do-not-merge, networking/tech

#636 Update sio-keepalive-vals.md
  desktop-src/WinSock/sio-keepalive-vals.md
Labels: Change sent to author, desktop/prod, do-not-merge, networking/tech

#638 Update prog-dx-with-com.md
  desktop-src/prog-dx-with-com.md
Labels: Change sent to author, desktop-environment/tech, desktop/prod, do-not-merge

#637 Update drawing-at-timed-intervals.md
  desktop-src/gdi/drawing-at-timed-intervals.md
Labels: Change sent to author, desktop-app-ui/tech, desktop/prod, do-not-merge

#643 Fix incorrect Query Heap Type enumerants
  desktop-src/direct3d12/queries.md
Labels: Change sent to author, desktop/prod, do-not-merge, graphics-gaming/tech

#644 Fix bogus D3DSTT_* values.
  desktop-src/direct3d9/d3dsampler-texture-type.md
Labels: Change sent to author, desktop/prod, do-not-merge, graphics-gaming/tech

#487 Update example-c-program-decrypting-a-file.md
  desktop-src/SecCrypto/example-c-program-decrypting-a-file.md
Labels: Change sent to author, desktop/prod, do-not-merge, security-identity/tech

#631 Update disabling-terminal-services-features.md
  desktop-src/TermServ/disabling-terminal-services-features.md
Labels: Change sent to author, desktop/prod, do-not-merge, system-services/tech
