Repository MicrosoftDocs/win32, pull requests merged in 2020-05, with the labels that each got.

#334 Making it explicit what kind of object a user is
  desktop-src/AD/naming-properties.md
Labels: Change sent to author, desktop/prod, do-not-merge, security-identity/tech

#330 Removed extra word
  desktop-src/cfApi/build-a-cloud-file-sync-engine.md
Labels: Change sent to author, data-access-storage/tech, desktop/prod, do-not-merge

#325 Spelling mistake
  desktop-src/FileIO/exfat-specification.md
Labels: Change sent to author, data-access-storage/tech, desktop/prod, do-not-merge

#273 SSPI: Correct function signature for AcceptSecurityContext (Digest)
  desktop-src/SecAuthN/acceptsecuritycontext--digest.md
Labels: Change sent to author, desktop/prod, do-not-merge, security-identity/tech

#274 SSPI: Correct function signature for AcceptSecurityContext (General)
  desktop-src/SecAuthN/acceptsecuritycontext--general.md
Labels: Change sent to author, desktop/prod, do-not-merge, security-identity/tech

#338 Fix: The text was treated as a single line
  desktop-src/Debug/symbol-paths.md
Labels: Change sent to author, desktop/prod, diagnostics/tech, do-not-merge

#344 Fix incorrect links to InitializeSecurityContext in Schannel docs
  desktop-src/SecAuthN/performing-authentication-using-schannel.md
Labels: Change sent to author, desktop/prod, do-not-merge, security-identity/tech

#335 Add DirectX HDR conceptual content
  desktop-src/direct3darticles/high-dynamic-range.md
  desktop-src/direct3darticles/images/HDR-HDR.jpg
  desktop-src/direct3darticles/images/HDR-WCG.jpg
  desktop-src/direct3darticles/images/HDR-bitdepth.jpg
  desktop-src/direct3darticles/toc.yml
  desktop-src/direct3ddxgi/high-dynamic-range-and-wide-color-gamut.md
  desktop-src/direct3ddxgi/toc.yml
Labels: Change sent to author, desktop/prod, do-not-merge, graphics-gaming/tech

#352 Guide missing some common 'mapping' tables
  desktop-src/direct3d12/porting-from-direct3d-11-to-direct3d-12.md
Labels: Change sent to author, desktop/prod, do-not-merge, graphics-gaming/tech

#355 Replace â€” with i.e.
  desktop-src/com/the-com-library.md
Labels: Change sent to author, desktop/prod, do-not-merge, system-services/tech

#354 Correcting punctuation
  desktop-src/com/getting-a-pointer-to-an-object.md
Labels: Change sent to author, desktop/prod, do-not-merge, system-services/tech

#356 Make _tmain() return int instead of void.
  desktop-src/FileIO/moving-directories.md
  desktop-src/FileIO/opening-a-file-for-reading-or-writing.md
  desktop-src/FileIO/testing-for-the-end-of-a-file.md
  desktop-src/Services/svc-cpp.md
  desktop-src/Services/svcconfig-cpp.md
  desktop-src/Services/writing-a-service-program-s-main-function.md
  desktop-src/SysInfo/enumerating-registry-subkeys.md
Labels: Change sent to author, desktop/prod, do-not-merge, system-services/tech

#357 Update ishl--sm5---asm-.md
  desktop-src/direct3dhlsl/ishl--sm5---asm-.md
Labels: Change sent to author, desktop/prod, do-not-merge, graphics-gaming/tech

#358 Remove â€“
  desktop-src/com/defining-com-interfaces.md
Labels: Change sent to author, desktop/prod, do-not-merge, system-services/tech

#348 Should be a share path
  desktop-src/Debug/symbol-paths.md
Labels: Change sent to author, desktop/prod, diagnostics/tech, do-not-merge

#361 Fix typo in acid-properties.md
  desktop-src/cossdk/acid-properties.md
Labels: Change sent to author, desktop/prod, do-not-merge, system-services/tech

#362 Update interfaces-and-interface-implementations.md
  desktop-src/com/interfaces-and-interface-implementations.md
Labels: Change sent to author, desktop/prod, do-not-merge, system-services/tech

#363 Updating to explicitly state milliseconds
  desktop-src/Services/service-control-handler-function.md
Labels: Change sent to author, desktop/prod, do-not-merge, system-services/tech

#366 Add raytracing acceleration structure SRVs to "Using Descriptors Directly in the Root Signature" page
  desktop-src/direct3d12/using-descriptors-directly-in-the-root-signature.md
Labels: Change sent to author, desktop/prod, do-not-merge, graphics-gaming/tech

#365 Fix documentation for JET_ObjInfoList and JET_ObjInfoListNoStats
  desktop-src/extensible-storage-engine/jetgetobjectinfo-function.md
Labels: Change sent to author, data-access-storage/tech, desktop/prod, do-not-merge

#368 Update audclnt-streamflags-xxx-constants.md
  desktop-src/CoreAudio/audclnt-streamflags-xxx-constants.md
Labels: Change sent to author, audio-video/tech, desktop/prod, do-not-merge

#367 Update dx-graphics-hlsl-part1.md
  desktop-src/direct3dhlsl/dx-graphics-hlsl-part1.md
Labels: Change sent to author, desktop/prod, do-not-merge, graphics-gaming/tech

#370 fix typos
  desktop-src/ProcThread/creating-a-child-process-with-redirected-input-and-output.md
Labels: Change sent to author, desktop/prod, diagnostics/tech, do-not-merge

#371 Indicate that the jsproxy.dll APIs are deprecated
  desktop-src/WinInet/internetgetproxyinfo.md
Labels: Change sent to author, desktop/prod, do-not-merge, networking/tech

#372 Update direct3d-architecture.md
  desktop-src/direct3d9/direct3d-architecture.md
Labels: Change sent to author, desktop/prod, do-not-merge, graphics-gaming/tech

#349 Update desktop-app-technologies.md
  desktop-src/desktop-app-technologies.md
Labels: Change sent to author, desktop-environment/tech, desktop/prod, do-not-merge

#375 Fixed error in variable naming
  desktop-src/direct3d11/d3d10-graphics-programming-guide-depth-stencil.md
Labels: Change sent to author, desktop/prod, do-not-merge, graphics-gaming/tech

#377 Fix casing policy for AppUserModelID
  desktop-src/shell/appids.md
Labels: Change sent to author, desktop-environment/tech, desktop/prod, do-not-merge

#381 fix err sio-set-wfp-connection-redirect-records.md
  desktop-src/WinSock/sio-set-wfp-connection-redirect-records.md
Labels: Change sent to author, desktop/prod, do-not-merge, networking/tech
