Repository MicrosoftDocs/win32, pull requests merged in 2020-06, with the labels that each got.

#387 Update dx-graphics-hlsl-scalar.md
  desktop-src/direct3dhlsl/dx-graphics-hlsl-scalar.md
Labels: Change sent to author, desktop/prod, do-not-merge, graphics-gaming/tech

#353 Event log and ETW corrections and cleanup
  desktop-src/ETW/logging-mode-constants.md
  desktop-src/EventLog/about-event-logging.md
  desktop-src/EventLog/event-logging.md
  desktop-src/WES/accessing-remote-computers.md
  desktop-src/WES/defining-channels.md
  desktop-src/WES/defining-event-data-templates.md
  desktop-src/WES/defining-events.md
  desktop-src/WES/defining-filters.md
  desktop-src/WES/defining-keywords-used-to-classify-types-of-events.md
  desktop-src/WES/defining-name-value-mappings.md
  desktop-src/WES/defining-severity-levels.md
  desktop-src/WES/defining-tasks-and-opcodes.md
  desktop-src/WES/developing-a-provider.md
  desktop-src/WES/eventmanifestschema-eventstype-complextype.md
  desktop-src/WES/identifying-the-provider.md
  desktop-src/WES/localizing-message-strings.md
  desktop-src/WES/message-compiler--mc-exe-.md
  desktop-src/WES/rendering-events.md
  desktop-src/WES/toc.yml
  desktop-src/WES/using-windows-event-log.md
  desktop-src/WES/what-s-new.md
  desktop-src/WES/windows-event-log-reference.md
  desktop-src/WES/windows-event-log-tools.md
  desktop-src/WES/windows-event-log.md
Labels: Change sent to author, desktop/prod, diagnostics/tech, do-not-merge

#374 InstallLayoutOrTip: Typo in example code - InputLayoutOrTip should be InstallLayoutOrTip
  desktop-src/TSF/installlayoutortip.md
Labels: Change sent to author, desktop-app-ui/tech, desktop/prod, do-not-merge

#389 Fix a mojibake in com/managing-object-lifetimes-through-reference-counting.md
  desktop-src/com/managing-object-lifetimes-through-reference-counting.md
Labels: Change sent to author, desktop/prod, do-not-merge, system-services/tech

#388 Clarify that MFSampleExtension_DeviceTimestamp is in MFTIME domain
  desktop-src/medfound/mfsampleextension-devicetimestamp.md
Labels: Change sent to author, audio-video/tech, desktop/prod, do-not-merge

#386 Fixed grammatical error
  desktop-src/SecAuthN/using-sspi-with-a-windows-sockets-server.md
Labels: Change sent to author, desktop/prod, do-not-merge, security-identity/tech

#360 new information flag for Windows 10 20H2
  desktop-src/SecProv/win32-tpm-isreadyinformation.md
Labels: Change sent to author, desktop/prod, do-not-merge, security-identity/tech

#345 Update cng-features.md
  desktop-src/SecCNG/cng-features.md
Labels: Change sent to author, desktop/prod, do-not-merge, security-identity/tech

#337 Allowed TPM 2.0 commands fixed in Windows 10 1809 or newer
  desktop-src/TBS/command-blocking.md
Labels: Change sent to author, desktop/prod, do-not-merge, security-identity/tech

#336 Update using-signtool-to-sign-a-file.md
  desktop-src/SecCrypto/using-signtool-to-sign-a-file.md
Labels: Change sent to author, desktop/prod, do-not-merge, security-identity/tech

#373 Document more IO_REPARSE_TAGs
  desktop-src/FileIO/reparse-point-tags.md
Labels: Change sent to author, data-access-storage/tech, desktop/prod, do-not-merge

#379 Corrected spelling of "Clipboard".
  desktop-src/dataxchg/clipboard-formats.md
Labels: Change sent to author, desktop-app-ui/tech, desktop/prod, do-not-merge

#391 Fix typos
  desktop-src/shell/default-programs.md
Labels: Change sent to author, desktop-environment/tech, desktop/prod, do-not-merge

#385 Fix typo of two consecutive commas
  desktop-src/EventLog/event-sources.md
Labels: Change sent to author, desktop/prod, diagnostics/tech, do-not-merge

#393 Added Bias-Free Communications Note
  desktop-src/Multimedia/changing-sequencer-synchronization.md
Labels: do-not-merge

#394 Bias-Free Communications Note
  desktop-src/Multimedia/set.md
Labels: Change sent to author, audio-video/tech, desktop/prod, do-not-merge

#392 Fix potential typo in for R8G8_SINT.
  desktop-src/direct3d12/typed-unordered-access-view-loads.md
Labels: Change sent to author, desktop/prod, do-not-merge, graphics-gaming/tech

#399 Fix typo
  desktop-src/Debug/working-with-xstate-context.md
Labels: Change sent to author, desktop/prod, diagnostics/tech, do-not-merge

#378 Clarify what you need to do to get WM_SIZE and WM_MOVE messages
  desktop-src/winmsg/wm-move.md
  desktop-src/winmsg/wm-size.md
Labels: Change sent to author, desktop-app-ui/tech, desktop/prod, do-not-merge

#384 Fix incorrect expansion of ECMA acronym
  desktop-src/printdocs/app-support-for-openxps-printing.md
Labels: Change sent to author, desktop/prod, do-not-merge, documents-printing/tech

#401 Add NotLatestTargetedVersion enum description
  desktop-src/SysInfo/updateassessmentstatus.md
Labels: do-not-merge

#403 Mistype in LSAISO
  desktop-src/ProcThread/isolated-user-mode--ium--processes.md
Labels: Change sent to author, desktop/prod, diagnostics/tech, do-not-merge

#402 Fix broken link
  desktop-src/ProcThread/environment-variables.md
Labels: Change sent to author, desktop/prod, diagnostics/tech, do-not-merge

#397 Clipboard: Fix errors regarding how to respond to WM_RENDERALLFORMATS
  desktop-src/dataxchg/clipboard-operations.md
  desktop-src/dataxchg/clipboard.md
  desktop-src/dataxchg/using-the-clipboard.md
  desktop-src/dataxchg/wm-renderallformats.md
  desktop-src/dataxchg/wm-renderformat.md
Labels: Change sent to author, desktop-app-ui/tech, desktop/prod, do-not-merge

#404 Fix copy paste error
  desktop-src/Debug/pe-format.md
Labels: Change sent to author, desktop/prod, diagnostics/tech, do-not-merge

#342 Typo "**Note:**When"→"**Note:** When"
  desktop-src/win_cert/using-the-windows-app-certification-kit.md
Labels: Change sent to author, deployment/tech, desktop/prod, ready-to-merge

#343 Typo "**Note: "→"<strong>Note: "
  desktop-src/win_cert/certification-requirements-for-windows-desktop-apps-v3-3.md
Labels: Change sent to author, deployment/tech, desktop/prod, do-not-merge

#347 Typo "**Note: "→"<strong>Note: "
  desktop-src/win_cert/archive--certification-requirements-for-windows-desktop-apps-v3-1.md
Labels: Change sent to author, deployment/tech, desktop/prod, do-not-merge

#346 Typo "**Note: "→"<strong>Note: "
  desktop-src/win_cert/certification-requirements-for-windows-desktop-apps.md
Labels: Change sent to author, deployment/tech, desktop/prod, do-not-merge

#329 Update windows-certification-portal.md to indicate Win32 desktop app certification is deprecated
  desktop-src/win_cert/windows-certification-portal.md
Labels: Change sent to author, deployment/tech, desktop/prod, do-not-merge

#405 HLSL Sample(): Fix rendering error
  desktop-src/direct3dhlsl/dx-graphics-hlsl-to-sample.md
Labels: Change sent to author, desktop/prod, do-not-merge, graphics-gaming/tech

#409 Very minor update to add TLS to the SSL nomenclature
  desktop-src/Http/ssl-certificates.md
Labels: Change sent to author, desktop/prod, do-not-merge, networking/tech

#411 Adding a TF 1.15 callout
  desktop-src/direct3d12/gpu-tensorflow-windows.md
Labels: Change sent to author, desktop/prod, do-not-merge, graphics-gaming/tech

#410 Adding a TF 1.15 callout
  desktop-src/direct3d12/gpu-tensorflow-wsl.md
Labels: Change sent to author, desktop/prod, do-not-merge, graphics-gaming/tech

#412 Update create-a-simple-combo-box.md
  desktop-src/Controls/create-a-simple-combo-box.md
Labels: Change sent to author, desktop-app-ui/tech, desktop/prod

#413 Update dx-graphics-hlsl-semantics.md
  desktop-src/direct3dhlsl/dx-graphics-hlsl-semantics.md
Labels: Change sent to author, desktop/prod, do-not-merge, graphics-gaming/tech

#406 Update loopback-recording.md
  desktop-src/CoreAudio/loopback-recording.md
Labels: Change sent to author, audio-video/tech, desktop/prod, do-not-merge

#415 Update in-process-server-threading-issues.md
  desktop-src/com/in-process-server-threading-issues.md
Labels: Change sent to author, desktop/prod, do-not-merge, system-services/tech

#414 Update single-threaded-apartments.md
  desktop-src/com/single-threaded-apartments.md
Labels: Change sent to author, desktop/prod, do-not-merge, system-services/tech

#416 Update msvm-virtualsystemreferencepoint.md application consistent and crash consistent descriptions
  desktop-src/HyperV_v2/msvm-virtualsystemreferencepoint.md
Labels: Change sent to author, desktop/prod, do-not-merge, server-tech/tech

#417 Wrong code
  desktop-src/DxTechArts/taking-advantage-of-high-dpi-mouse-movement.md
Labels: Change sent to author, desktop/prod, do-not-merge, graphics-gaming/tech

#418 Remove uniform lane index requirement for Wave
  desktop-src/direct3dhlsl/wavereadlaneat.md
Labels: Change sent to author, desktop/prod, do-not-merge, graphics-gaming/tech

#422 Fix typo
  desktop-src/Debug/system-error-codes--0-499-.md
Labels: Change sent to author, desktop/prod, diagnostics/tech, do-not-merge

#423 Fix D3D12 return code page
  desktop-src/direct3d12/d3d12-graphics-reference-returnvalues.md
Labels: Change sent to author, desktop/prod, do-not-merge, graphics-gaming/tech
