Repository MicrosoftDocs/win32, pull requests merged in 2020-02, with the labels that each got.

#204 Fix the wrong example code
  desktop-src/CIMWin32Prov/win32-fan.md
Labels: Change sent to author, desktop/prod, do-not-merge, server-tech/tech

#205 Update directx-setup-for-game-developers.md
  desktop-src/DxTechArts/directx-setup-for-game-developers.md
Labels: Change sent to author, desktop/prod, do-not-merge, graphics-gaming/tech

#206 Replaced &quot; and &#39; with " and '
  desktop-src/WmiSdk/receiving-a-wmi-event.md
Labels: Change sent to author, desktop/prod, do-not-merge, server-tech/tech

#207 RWByteAddressBuffer and Interlocked functions available on all stages
  desktop-src/direct3dhlsl/interlockedadd.md
  desktop-src/direct3dhlsl/interlockedand.md
  desktop-src/direct3dhlsl/interlockedcompareexchange.md
  desktop-src/direct3dhlsl/interlockedcomparestore.md
  desktop-src/direct3dhlsl/interlockedexchange.md
  desktop-src/direct3dhlsl/interlockedmax.md
  desktop-src/direct3dhlsl/interlockedmin.md
  desktop-src/direct3dhlsl/interlockedor.md
  desktop-src/direct3dhlsl/interlockedxor.md
  desktop-src/direct3dhlsl/sm5-object-rwbyteaddressbuffer-interlockedadd.md
  desktop-src/direct3dhlsl/sm5-object-rwbyteaddressbuffer-interlockedand.md
  desktop-src/direct3dhlsl/sm5-object-rwbyteaddressbuffer-interlockedcompareexchange.md
  desktop-src/direct3dhlsl/sm5-object-rwbyteaddressbuffer-interlockedcomparestore.md
  desktop-src/direct3dhlsl/sm5-object-rwbyteaddressbuffer-interlockedexchange.md
  desktop-src/direct3dhlsl/sm5-object-rwbyteaddressbuffer-interlockedmax.md
  desktop-src/direct3dhlsl/sm5-object-rwbyteaddressbuffer-interlockedmin.md
  desktop-src/direct3dhlsl/sm5-object-rwbyteaddressbuffer-interlockedor.md
  desktop-src/direct3dhlsl/sm5-object-rwbyteaddressbuffer-interlockedxor.md
Labels: Change sent to author, desktop/prod, do-not-merge, graphics-gaming/tech

#209 Remove duplicate entry for DestroyRecognizer
  desktop-src/tablet/hrecognizer-handle.md
Labels: Change sent to author, desktop-app-ui/tech, desktop/prod, do-not-merge

#208 Remove incorrect link for GetRangePropertyValue
  desktop-src/tablet/hrecoalt-handle.md
  desktop-src/tablet/toc.yml
Labels: Change sent to author, desktop-app-ui/tech, desktop/prod, do-not-merge

#158 Update isolated-user-mode--ium--processes.md
  desktop-src/ProcThread/isolated-user-mode--ium--processes.md
Labels: Change sent to author, desktop/prod, do-not-merge

#203 Fix softlock in example for creating-a-child-process-with-redirected-input-and-output
  desktop-src/ProcThread/creating-a-child-process-with-redirected-input-and-output.md
Labels: Change sent to author, desktop/prod, diagnostics/tech, do-not-merge

#211 Fixing broken link at the bottom of the article
  desktop-src/Dlls/dllmain.md
Labels: Change sent to author, desktop/prod, do-not-merge, system-services/tech

#201 Replace broken links to Hardware dev center
  desktop-src/CoreAudio/protected-user-mode-audio--puma-.md
Labels: Change sent to author, audio-video/tech, desktop/prod, do-not-merge

#212 Update overviews-direct3d-11-devices-layers.md
  desktop-src/direct3d11/overviews-direct3d-11-devices-layers.md
Labels: Change sent to author, desktop/prod, do-not-merge, graphics-gaming/tech

#213 Update directx-12-programming-environment-set-up.md
  desktop-src/direct3d12/directx-12-programming-environment-set-up.md
Labels: do-not-merge

#214 Wrong example code
  desktop-src/shell/shellwindows-item.md
Labels: Change sent to author, desktop-environment/tech, desktop/prod, do-not-merge

#168 Fix the lower bound for some signed integer types
  desktop-src/WinProg/windows-data-types.md
Labels: Change sent to author, desktop/prod, ready-to-merge

#215 Add missing quote
  desktop-src/DirectShow/capturing-video-to-an-avi-file.md
Labels: Change sent to author, desktop/prod, do-not-merge, graphics-gaming/tech

#216 Remove errant space before period
  desktop-src/Debug/symbol-files.md
Labels: Change sent to author, desktop/prod, diagnostics/tech, do-not-merge

#217 Fix Shader Model 6.0 Wave intrinsics docs.
  desktop-src/direct3dhlsl/quadreadaccrossdiagonal.md
  desktop-src/direct3dhlsl/quadswapx.md
  desktop-src/direct3dhlsl/quadswapy.md
  desktop-src/direct3dhlsl/waveactiveallequal.md
  desktop-src/direct3dhlsl/waveactivecountbits.md
  desktop-src/direct3dhlsl/waveallbitand.md
  desktop-src/direct3dhlsl/waveallbitor.md
  desktop-src/direct3dhlsl/waveallbitxor.md
  desktop-src/direct3dhlsl/waveallmax.md
  desktop-src/direct3dhlsl/waveallmin.md
  desktop-src/direct3dhlsl/waveallproduct.md
  desktop-src/direct3dhlsl/waveallsum.md
  desktop-src/direct3dhlsl/wavealltrue.md
  desktop-src/direct3dhlsl/waveanytrue.md
  desktop-src/direct3dhlsl/waveballot.md
  desktop-src/direct3dhlsl/waveisfirstlane.md
  desktop-src/direct3dhlsl/waveprefixcountbytes.md
  desktop-src/direct3dhlsl/wavereadfirstlane.md
Labels: Change sent to author, desktop/prod, do-not-merge, graphics-gaming/tech

#218 Slim Reader Writer locks are not reentrant
  desktop-src/Sync/slim-reader-writer--srw--locks.md
Labels: Change sent to author, desktop/prod, do-not-merge, system-services/tech

#225 Fix Typo
  desktop-src/ProcThread/setprocessdefaultcpusets.md
Labels: Change sent to author, desktop/prod, diagnostics/tech, do-not-merge

#224 Fix Typo
  desktop-src/ProcThread/getthreadselectedcpusets.md
Labels: Change sent to author, desktop/prod, diagnostics/tech, do-not-merge

#223 Fix Typo
  desktop-src/ProcThread/getsystemcpusetinformation.md
Labels: Change sent to author, desktop/prod, diagnostics/tech, do-not-merge

#222 Fix Typo
  desktop-src/ProcThread/getprocessdefaultcpusets.md
Labels: Change sent to author, desktop/prod, diagnostics/tech, do-not-merge

#221 Fix Typo
  desktop-src/ProcThread/setthreadselectedcpusets.md
Labels: Change sent to author, desktop/prod, diagnostics/tech, do-not-merge

#220 Fix typo
  desktop-src/ProcThread/cpu-set-information-type.md
Labels: Change sent to author, desktop/prod, diagnostics/tech, do-not-merge

#226 Correct display of list
  desktop-src/WinProg64/application-installation.md
Labels: Change sent to author, desktop/prod, get-started/tech, ready-to-merge

#210 Update win-dialog-box.md
  desktop-src/uxguide/win-dialog-box.md
Labels: Change sent to author, design/tech, desktop/prod, do-not-merge

#227 Update memory limits for Windows releases
  desktop-src/Memory/memory-limits-for-windows-releases.md
Labels: Change sent to author, desktop/prod, do-not-merge, system-services/tech

#232 Removed broken link
  desktop-src/wintouch/windows-touch-scratchpad-sample-in-c---mtscratchpadwmtouchcs-.md
Labels: Change sent to author, desktop-app-ui/tech, desktop/prod, do-not-merge

#122 Clarify API support stance
  desktop-src/parcon/parental-controls-portal.md
Labels: Change sent to author, desktop/prod, do-not-merge, security-identity/tech

#195 Update sacl-access-right.md
  desktop-src/SecAuthZ/sacl-access-right.md
Labels: Change sent to author, desktop/prod, do-not-merge, security-identity/tech

#188 Update privilege-constants.md
  desktop-src/SecAuthZ/privilege-constants.md
Labels: Change sent to author, desktop/prod, do-not-merge

#230 Fix SVG table link
  desktop-src/Direct2D/svg-support.md
Labels: Change sent to author, desktop/prod, do-not-merge, graphics-gaming/tech

#187 Update initializesecuritycontext--general.md
  desktop-src/SecAuthN/initializesecuritycontext--general.md
Labels: Change sent to author, desktop/prod, do-not-merge

#186 Update querycontextattributes--general.md
  desktop-src/SecAuthN/querycontextattributes--general.md
Labels: Change sent to author, desktop/prod, do-not-merge

#185 Update querycontextattributes--schannel.md
  desktop-src/SecAuthN/querycontextattributes--schannel.md
Labels: Change sent to author, desktop/prod, do-not-merge

#228 Add HugePagesEnabled documentation
  desktop-src/HyperV_v2/msvm-memorysettingdata.md
Labels: Change sent to author, desktop/prod, do-not-merge, server-tech/tech

#234 Fix GIF metadata table
  desktop-src/wic/-wic-native-image-format-metadata-queries.md
Labels: Change sent to author, desktop/prod, do-not-merge, graphics-gaming/tech

#3 Add return code FVE_E_PROTECTOR_EXISTS
  desktop-src/SecProv/protectkeywithtpm-win32-encryptablevolume.md
Labels: Change sent to author, do-not-merge

#2 Add return code to ProtectKeyWithNumericalPassword
  desktop-src/SecProv/protectkeywithnumericalpassword-win32-encryptablevolume.md
Labels: Change sent to author, do-not-merge

#169 Update LVM_SETGROUPINFO docs
  desktop-src/Controls/lvm-setgroupinfo.md
Labels: Change sent to author, desktop/prod, do-not-merge

#229 Corrected OIDs for signingTime and countersignature
  desktop-src/SecCrypto/time-stamping-authenticode-signatures.md
Labels: Change sent to author, desktop/prod, do-not-merge, security-identity/tech

#231 Fixed description of /dg option which had missing words
  desktop-src/SecCrypto/signtool.md
Labels: Change sent to author, desktop/prod, do-not-merge, security-identity/tech

#236 Fix description of microphone related WM_APPCOMMANDs
  desktop-src/inputdev/wm-appcommand.md
Labels: Change sent to author, desktop-app-ui/tech, desktop/prod, do-not-merge

#237 Document new WinHTTP options added since RS5
  desktop-src/WinHttp/option-flags.md
Labels: Change sent to author, desktop/prod, do-not-merge, networking/tech

#239 Fix incorrect bookmark for "Thread Functions" in document "Process and Thread Functions"
  desktop-src/ProcThread/process-and-thread-functions.md
Labels: Change sent to author, desktop/prod, diagnostics/tech, do-not-merge

#238 Clean up misplaced escape characters and incorrect flag
  desktop-src/WinHttp/option-flags.md
  desktop-src/WinHttp/winhttp-enumerations.md
  desktop-src/WinHttp/winhttp-structures.md
Labels: Change sent to author, desktop/prod, do-not-merge, networking/tech

#240 Fix typo
  desktop-src/wmformat/drm-individualization-example.md
Labels: Change sent to author, audio-video/tech, desktop/prod, do-not-merge

#242 Fix typo
  desktop-src/VML/href-attribute--imagedata--vml.md
Labels: Change sent to author, desktop/prod, do-not-merge, graphics-gaming/tech
