Repository MicrosoftDocs/win32, pull requests merged in 2020-12, with the labels that each got.

#524 Fixed links of TOC at the beginning.
  desktop-src/SecCrypto/system-store-locations.md
Labels: Change sent to author, desktop/prod, do-not-merge, security-identity/tech

#642 Fix old shared_ptr and broken _aligned_malloc links
  desktop-src/dxmath/pg-xnamath-getting-started.md
Labels: do-not-merge

#618 Update cng-cryptographic-algorithm-providers.md
  desktop-src/SecCertEnroll/cng-cryptographic-algorithm-providers.md
Labels: Change sent to author, desktop/prod, do-not-merge, security-identity/tech

#648 fix (com-technical-overview.md): typo
  desktop-src/com/com-technical-overview.md
Labels: Change sent to author, desktop/prod, do-not-merge, system-services/tech

#647 Added missing example
  desktop-src/SysInfo/image-file-machine-constants.md
Labels: Change sent to author, desktop/prod, do-not-merge, system-services/tech

#650 Update directxmath-portal.md
  desktop-src/dxmath/directxmath-portal.md
Labels: Change sent to author, desktop/prod, do-not-merge, graphics-gaming/tech

#640 Update code example to not use undefined variable.
  desktop-src/winmsg/using-windows.md
Labels: Change sent to author, desktop-app-ui/tech, desktop/prod, do-not-merge

#652 Update dx-graphics-hlsl-data-types.md
  desktop-src/direct3dhlsl/dx-graphics-hlsl-data-types.md
Labels: Change sent to author, desktop/prod, do-not-merge, graphics-gaming/tech

#651 Powershell example should have -ne instead
  desktop-src/WmiCoreProv/wmimonitorid.md
Labels: Change sent to author, desktop/prod, do-not-merge, server-tech/tech

#654 Fix HD Photo codec option docs
  desktop-src/wic/hdphoto-format-overview.md
Labels: Change sent to author, desktop/prod, do-not-merge, graphics-gaming/tech

#653 Fix TIFF codec option docs
  desktop-src/wic/tiff-format-overview.md
Labels: Change sent to author, desktop/prod, do-not-merge, graphics-gaming/tech

#655 Fix typo
  desktop-src/DirectShow/negotiating-allocators.md
Labels: Change sent to author, desktop/prod, do-not-merge, graphics-gaming/tech

#658 Update how-to-create-a-linear-gradient-brush.md
  desktop-src/Direct2D/how-to-create-a-linear-gradient-brush.md
Labels: Change sent to author, desktop/prod, do-not-merge, graphics-gaming/tech

#656 Remove old SOV information
  desktop-src/direct3d12/non-shader-visible-descriptor-heaps.md
Labels: Change sent to author, desktop/prod, do-not-merge, graphics-gaming/tech

#660 Update hardware-support.md
  desktop-src/direct3d12/hardware-support.md
Labels: Change sent to author, desktop/prod, do-not-merge, graphics-gaming/tech

#659 Update pg-xnamath-internals.md
  desktop-src/dxmath/pg-xnamath-internals.md
Labels: Change sent to author, desktop/prod, do-not-merge, graphics-gaming/tech

#661 Update win32-physicalmemoryarray.md
  desktop-src/CIMWin32Prov/win32-physicalmemoryarray.md
Labels: Change sent to author, desktop/prod, do-not-merge, server-tech/tech

#664 Update protocols-in-tls-ssl--schannel-ssp-.md
  desktop-src/SecAuthN/protocols-in-tls-ssl--schannel-ssp-.md
Labels: Change sent to author, desktop/prod, do-not-merge, security-identity/tech

#663 Create tls-cipher-suites-in-windows-10-v21H1.md
  desktop-src/SecAuthN/cipher-suites-in-schannel.md
  desktop-src/SecAuthN/tls-cipher-suites-in-windows-10-v21H1.md
  desktop-src/SecAuthN/toc.yml
Labels: Change sent to author, desktop/prod, do-not-merge, security-identity/tech

#662 Update creating-a-root-signature.md, to fix stutter and clarify
  desktop-src/direct3d12/creating-a-root-signature.md
Labels: Change sent to author, desktop/prod, do-not-merge, graphics-gaming/tech

#668 Update predication.md
  desktop-src/direct3d12/predication.md
Labels: Change sent to author, desktop/prod, do-not-merge, graphics-gaming/tech

#669 Update descriptors-overview.md
  desktop-src/direct3d12/descriptors-overview.md
Labels: Change sent to author, desktop/prod, do-not-merge, graphics-gaming/tech

#667 Update timing.md
  desktop-src/direct3d12/timing.md
Labels: Change sent to author, desktop/prod, do-not-merge, graphics-gaming/tech

#674 Fix IPv4 address example format error
  desktop-src/WmiSdk/swbemlocator-connectserver.md
Labels: Change sent to author, desktop/prod, do-not-merge, server-tech/tech

#671 Fix syntax summary table formatting
  desktop-src/wic/-wic-codec-metadataquerylanguage.md
Labels: Change sent to author, desktop/prod, do-not-merge, graphics-gaming/tech
