Repository MicrosoftDocs/win32, pull requests merged in 2020-04, with the labels that each got.

#266 Update cng-property-identifiers.md
  desktop-src/SecCNG/cng-property-identifiers.md
Labels: Change sent to author, desktop/prod, do-not-merge, security-identity/tech

#276 SSPI: ACH with "Negotiate" uses Negotiate
  desktop-src/SecAuthN/acquirecredentialshandle--negotiate.md
Labels: Change sent to author, desktop/prod, do-not-merge, security-identity/tech

#299 Update dllmain.md
  desktop-src/Dlls/dllmain.md
Labels: Change sent to author, desktop/prod, do-not-merge, system-services/tech

#300 update GetWindowLong to GetWindowLongPtr where needed
  desktop-src/Controls/create-a-button.md
  desktop-src/Controls/create-a-command-link.md
  desktop-src/Controls/create-a-tabbed-dialog-box.md
  desktop-src/Controls/subclass-a-combo-box.md
  desktop-src/Controls/use-a-multiline-edit-control.md
Labels: Change sent to author, desktop-app-ui/tech, desktop/prod, do-not-merge

#301 Update pe-format.md
  desktop-src/Debug/pe-format.md
Labels: Change sent to author, desktop/prod, diagnostics/tech, do-not-merge

#303 Update -search-3x-wds-qryidx-crumb.md
  desktop-src/search/-search-3x-wds-qryidx-crumb.md
Labels: Change sent to author, desktop-environment/tech, desktop/prod, do-not-merge

#302 Update win32-logicaldisk.md
  desktop-src/CIMWin32Prov/win32-logicaldisk.md
Labels: Change sent to author, desktop/prod, do-not-merge, server-tech/tech

#305 Update wchar-t.md
  desktop-src/Midl/wchar-t.md
Labels: Change sent to author, desktop/prod, do-not-merge, system-services/tech

#306 Indicate WinHTTP supports IDNA/Punycode
  desktop-src/WinInet/wininet-vs-winhttp.md
Labels: Change sent to author, desktop/prod, do-not-merge, networking/tech

#308 Update one-time-initialization.md
  desktop-src/Sync/one-time-initialization.md
Labels: Change sent to author, desktop/prod, do-not-merge, system-services/tech

#304 Fixed links
  desktop-src/winmsg/about-hooks.md
Labels: Change sent to author, desktop-app-ui/tech, desktop/prod, do-not-merge

#307 Update vrs.md
  desktop-src/direct3d12/vrs.md
Labels: Change sent to author, desktop/prod, do-not-merge, graphics-gaming/tech

#310 Fix typo in ray flag enum
  desktop-src/direct3d12/ray_flag.md
Labels: Change sent to author, desktop/prod, do-not-merge, graphics-gaming/tech

#309 Update about-update-assessor-service.md
  desktop-src/SysInfo/about-update-assessor-service.md
Labels: Change sent to author, desktop/prod, do-not-merge, system-services/tech

#298 Update standard-clipboard-formats.md
  desktop-src/dataxchg/standard-clipboard-formats.md
Labels: Change sent to author, desktop-app-ui/tech, desktop/prod, do-not-merge

#297 extra fileds and column type change
  desktop-src/Nps/sql-programmability.md
Labels: Change sent to author, desktop/prod, do-not-merge, security-identity/tech

#314 Update about-raw-input.md
  desktop-src/inputdev/about-raw-input.md
Labels: Change sent to author, desktop-app-ui/tech, desktop/prod, do-not-merge

#315 Update troubleshooting documentation
  desktop-src/appxpkg/troubleshooting.md
Labels: Change sent to author, desktop-environment/tech, desktop/prod, do-not-merge

#318 Updated wording in wm-input.md
  desktop-src/inputdev/about-raw-input.md
  desktop-src/inputdev/wm-input.md
Labels: Change sent to author, desktop-app-ui/tech, desktop/prod, do-not-merge

#320 Update plug-ins-and-the-realtimestylus-class.md
  desktop-src/tablet/plug-ins-and-the-realtimestylus-class.md
Labels: Change sent to author, desktop-app-ui/tech, desktop/prod, do-not-merge

#319 Return through SetwindowLongPtr
  desktop-src/Controls/lvn-endlabeledit.md
Labels: Change sent to author, desktop-app-ui/tech, desktop/prod, do-not-merge

#313 Fix broken list due to mismatching dl tags, update MSDN links
  desktop-src/CIMWin32Prov/win32-processor.md
Labels: Change sent to author, desktop/prod, do-not-merge, server-tech/tech

#312 Update principal-displayname.md
  desktop-src/TaskSchd/principal-displayname.md
Labels: Change sent to author, desktop/prod, do-not-merge, server-tech/tech

#321 Update directx-warp.md with D3D12 support details
  desktop-src/direct3darticles/directx-warp.md
Labels: Change sent to author, desktop/prod, do-not-merge, graphics-gaming/tech

#322 Rogue ampersand on relational operators (likely typo or auto-conversion issue)
  desktop-src/direct3dhlsl/dx-graphics-hlsl-operators.md
Labels: Change sent to author, desktop/prod, do-not-merge, graphics-gaming/tech

#323 Correcting API names
  desktop-src/DevNotes/windows-lockdown-policy.md
Labels: Change sent to author, desktop/prod, do-not-merge, system-services/tech

#324 Correcting API names
  desktop-src/DevNotes/wldpisclassinapprovedlist.md
Labels: Change sent to author, desktop/prod, do-not-merge, system-services/tech

#327 Update pg-xnamath-whatsnew.md
  desktop-src/dxmath/pg-xnamath-whatsnew.md
Labels: Change sent to author, desktop/prod, do-not-merge, graphics-gaming/tech

#326 Update: Describe mpthreat categories table
  desktop-src/lwef/mpthreat-category.md
Labels: Change sent to author, desktop-environment/tech, desktop/prod, do-not-merge

#328 Windows Quality Online Services is gone
  desktop-src/wer/windows-error-reporting.md
Labels: Change sent to author, desktop/prod, diagnostics/tech, do-not-merge

#331 Fixed registry path
  desktop-src/Dlls/dynamic-link-library-redirection.md
Labels: Change sent to author, desktop/prod, do-not-merge, system-services/tech

#332 Typo "@CommandArguments"→"\@CommandArguments"
  desktop-src/Debug/source-server-and-source-indexing.md
Labels: Change sent to author, desktop/prod, diagnostics/tech, do-not-merge

#333 Add AV1 to supported encoded video subtypes list
  desktop-src/medfound/video-subtype-guids.md
Labels: Change sent to author, audio-video/tech, desktop/prod, do-not-merge

#316 Update using-color-in-direct2d.md
  desktop-src/LearnWin32/using-color-in-direct2d.md
Labels: Change sent to author, desktop/prod, get-started/tech, ready-to-merge

#339 Update dx-graphics-hlsl-function-syntax.md
  desktop-src/direct3dhlsl/dx-graphics-hlsl-function-syntax.md
Labels: Change sent to author, desktop/prod, do-not-merge, graphics-gaming/tech

#340 Added basic example boilerplate code.
  desktop-src/Tapi/initialize-tapi.md
Labels: Change sent to author, desktop/prod, do-not-merge, system-services/tech

#341 Fix typo in D3D12 Queries article
  desktop-src/direct3d12/queries.md
Labels: Change sent to author, desktop/prod, do-not-merge, graphics-gaming/tech
