Repository MicrosoftDocs/win32, pull requests merged in 2021-12, with the labels that each got.

#1081 Fix typos in Windows 11 memory limits
  desktop-src/Memory/memory-limits-for-windows-releases.md
Labels: do-not-merge, Change sent to author, desktop/prod, system-services/tech

#1060 fixed JET_bitSetSeparateLV reference
  desktop-src/extensible-storage-engine/long-value-columns.md
Labels: do-not-merge, Change sent to author, desktop/prod, data-access-storage/tech

#1039 Small fix-ups
  desktop-src/AD/how-clients-compose-a-serviceampaposs-spn.md
  desktop-src/AD/service-principal-names.md
Labels: do-not-merge, Change sent to author, desktop/prod, security-identity/tech

#1025 Update obtaining-a-root-oid-from-an-iso-name-registration-authority.md
  desktop-src/AD/obtaining-a-root-oid-from-an-iso-name-registration-authority.md
Labels: do-not-merge, Change sent to author, desktop/prod, security-identity/tech

#987 Update getqueuedcompletionstatusex-func.md
  desktop-src/FileIO/getqueuedcompletionstatusex-func.md
Labels: do-not-merge, Change sent to author, desktop/prod, data-access-storage/tech

#933 Correct link for FatEntry[0].
  desktop-src/FileIO/exfat-specification.md
Labels: do-not-merge, Change sent to author, desktop/prod, data-access-storage/tech

#918 Reparse point limit is not always 63
  desktop-src/FileIO/reparse-points.md
Labels: do-not-merge, Change sent to author, desktop/prod, data-access-storage/tech

#1083 Fixing typo
  desktop-src/direct3d12/descriptor-tables-overview.md
Labels: do-not-merge, Change sent to author, desktop/prod, graphics-gaming/tech

#1062 Fix time_t truncation in TimetToFileTime
  desktop-src/SysInfo/converting-a-time-t-value-to-a-file-time.md
Labels: do-not-merge, Change sent to author, desktop/prod, system-services/tech

#1082 Converted each manifest listing to link
  desktop-src/SbsCs/application-manifests.md
Labels: do-not-merge, Change sent to author, desktop/prod, installation-servicing/tech

#1080 Change out parameter name
  desktop-src/SecProv/findvalidcertificates-win32-encryptablevolume.md
Labels: do-not-merge, Change sent to author, desktop/prod, security-identity/tech

#1068 Update use-list-view-working-areas.md
  desktop-src/Controls/use-list-view-working-areas.md
Labels: do-not-merge, Change sent to author, desktop/prod, desktop-app-ui/tech

#1084 Multigroup affinities - Update Processor Groups and CPU Sets docs
  desktop-src/ProcThread/cpu-sets.md
  desktop-src/ProcThread/processor-groups.md
Labels: do-not-merge, Change sent to author, desktop/prod, diagnostics/tech

#853 Update distributed-link-tracking-and-object-identifiers.md
  desktop-src/FileIO/distributed-link-tracking-and-object-identifiers.md
Labels: do-not-merge, Change sent to author, desktop/prod, data-access-storage/tech

#1088 Update directxmath-portal.md
  desktop-src/dxmath/directxmath-portal.md
Labels: do-not-merge, Change sent to author, desktop/prod, graphics-gaming/tech
