Repository MicrosoftDocs/win32, pull requests merged in 2021-02, with the labels that each got.

#721 Formatting of example Raw Input code and minor additions
  desktop-src/inputdev/using-raw-input.md
Labels: Change sent to author, desktop-app-ui/tech, desktop/prod, do-not-merge

#720 Fix structure which specifies that handles are inheritable
  desktop-src/ProcThread/creating-a-child-process-with-redirected-input-and-output.md
Labels: Change sent to author, desktop/prod, diagnostics/tech, do-not-merge

#724 Update xaudio2-versions.md
  desktop-src/xaudio2/xaudio2-versions.md
Labels: Change sent to author, desktop/prod, do-not-merge, graphics-gaming/tech

#727 Updated Protocol Versions For Cipher Suites
  desktop-src/SecAuthN/schannel-cipher-suites-in-windows-vista.md
Labels: Change sent to author, desktop/prod, do-not-merge, security-identity/tech

#725 Clarify the "2" value for ISO compatibility
  desktop-src/Intl/locale-ifirstweekofyear.md
Labels: Change sent to author, desktop-app-ui/tech, desktop/prod, do-not-merge

#728 Fix HTML-encoded characters
  desktop-src/direct3d12/d3d12decomposesubresource.md
  desktop-src/input_ink/inkd2drenderer.md
  desktop-src/inputmsg/wm-pointerup.md
Labels: Change sent to author, desktop-app-ui/tech, desktop/prod, do-not-merge

#729 Update application-manifests.md
  desktop-src/SbsCs/application-manifests.md
Labels: Change sent to author, desktop/prod, do-not-merge, installation-servicing/tech

#710 Fix misspelling
  desktop-src/apiindex/api-set-loader-operation.md
Labels: Change sent to author, desktop/prod, do-not-merge, sdk-api-reference/tech

#723 Update directx-sdk--august-2009-.md
  desktop-src/directx-sdk--august-2009-.md
Labels: Change sent to author, desktop-environment/tech, desktop/prod, do-not-merge

#733 Update enumerating-all-processes.md
  desktop-src/psapi/enumerating-all-processes.md
Labels: Change sent to author, desktop/prod, diagnostics/tech, do-not-merge

#734 Fix typo: "Excepti" to "Except"
  desktop-src/Direct2D/resources-and-resource-domains.md
Labels: Change sent to author, desktop/prod, do-not-merge, graphics-gaming/tech

#731 Fix ORSetValue prototype
  desktop-src/DevNotes/orsetvalue.md
Labels: Change sent to author, desktop/prod, do-not-merge, system-services/tech

#549 Update keyboard-input.md - Fix style
  desktop-src/LearnWin32/keyboard-input.md
Labels: Change sent to author, desktop/prod, get-started/tech, ready-to-merge

#563 Updated your-first-windows-program.md
  desktop-src/LearnWin32/your-first-windows-program.md
Labels: Change sent to author, desktop/prod, get-started/tech, ready-to-merge

#645 enabling-strict.md: Handles aren't integers
  desktop-src/WinProg/enabling-strict.md
Labels: Change sent to author, desktop/prod, get-started/tech, ready-to-merge

#649 Fix misspell.
  desktop-src/WinProg64/general-porting-guidelines.md
Labels: Change sent to author, desktop/prod, get-started/tech, ready-to-merge

#666 Update large-integer-structures.md
  desktop-src/WinProg/large-integer-structures.md
Labels: Change sent to author, desktop/prod, do-not-merge, get-started/tech

#673 Update window-messages.md
  desktop-src/LearnWin32/window-messages.md
Labels: Change sent to author, desktop/prod, do-not-merge, get-started/tech

#676 Fix typo
  desktop-src/LearnWin32/overview-of-the-windows-graphics-architecture.md
Labels: Change sent to author, desktop/prod, get-started/tech, ready-to-merge

#678 Update accessing-an-alternate-registry-view.md
  desktop-src/WinProg64/accessing-an-alternate-registry-view.md
Labels: Change sent to author, desktop/prod, get-started/tech, ready-to-merge

#713 Cleanup the Shared Registry Keys page; use language inclusive of ARM architectures
  desktop-src/WinProg64/shared-registry-keys.md
Labels: Change sent to author, desktop/prod, get-started/tech, ready-to-merge

#735 add definition link of HRESULT
  desktop-src/com/anatomy-of-an-idl-file.md
Labels: Change sent to author, desktop/prod, do-not-merge, system-services/tech

#736 Fix HTML-encoded characters (part 2)
  desktop-src/HyperV_v2/exporting-the-configuration-of-a-virtual-machine.md
  desktop-src/HyperV_v2/exporting-virtual-machines.md
  desktop-src/WmiSdk/changing-registry-data.md
Labels: Change sent to author, desktop/prod, do-not-merge, server-tech/tech

#741 Update swap-chains.md
  desktop-src/direct3d12/swap-chains.md
Labels: Change sent to author, desktop/prod, do-not-merge, graphics-gaming/tech

#740 Small fixes
  desktop-src/direct3d12/queries.md
Labels: Change sent to author, desktop/prod, do-not-merge, graphics-gaming/tech

#739 Update dxcore-adapter-attribute-guids.md
  desktop-src/dxcore/dxcore-adapter-attribute-guids.md
Labels: Change sent to author, desktop/prod, do-not-merge, graphics-gaming/tech

#738 Add SV_ShadingRate to shader model 6.4 page
  desktop-src/direct3dhlsl/hlsl-shader-model-6-4-features-for-direct3d-12.md
Labels: Change sent to author, desktop/prod, do-not-merge, graphics-gaming/tech

#737 Add link from 'Raytracing HLSL Reference' page to State Objects page
  desktop-src/direct3d12/direct3d-12-raytracing-hlsl-reference.md
Labels: Change sent to author, desktop/prod, do-not-merge, graphics-gaming/tech

#722 Update xinput-versions.md
  desktop-src/xinput/xinput-versions.md
Labels: Change sent to author, desktop/prod, do-not-merge, graphics-gaming/tech

#744 Update dxgi-1-2-presentation-improvements.md
  desktop-src/direct3ddxgi/dxgi-1-2-presentation-improvements.md
Labels: Change sent to author, desktop/prod, do-not-merge, graphics-gaming/tech

#748 Update d3dxmatrixperspectivefovlh.md
  desktop-src/direct3d9/d3dxmatrixperspectivefovlh.md
  desktop-src/direct3d9/d3dxmatrixperspectivefovrh.md
  desktop-src/direct3dgetstarted/complete-code-sample-for-using-a-corewindow-with-directx.md
  desktop-src/direct3dgetstarted/understand-the-directx-11-2-graphics-pipeline.md
Labels: Change sent to author, desktop/prod, do-not-merge, graphics-gaming/tech

#752 Update and rename tls-cipher-suites-in-windows-10-v21H1.md to tls-cip…
  desktop-src/SecAuthN/tls-cipher-suites-in-windows-server-2022.md
Labels: Change sent to author, desktop/prod, do-not-merge, security-identity/tech

#751 Update protocols-in-tls-ssl--schannel-ssp-.md
  desktop-src/SecAuthN/protocols-in-tls-ssl--schannel-ssp-.md
Labels: Change sent to author, desktop/prod, do-not-merge, security-identity/tech

#750 Update tls-cipher-suites-in-windows-10-v21H1.md
  desktop-src/SecAuthN/tls-cipher-suites-in-windows-server-2022.md
Labels: Change sent to author, desktop/prod, do-not-merge, security-identity/tech

#753 Remove dup. semantic and fix TEXCOORD1 example
  desktop-src/direct3dhlsl/dx-graphics-hlsl-semantics.md
Labels: Change sent to author, desktop/prod, do-not-merge, graphics-gaming/tech

#754 Correct offset type of GatherCmp intrinsic
  desktop-src/direct3dhlsl/t2d-gathercmp-s-float-float-int-uint-.md
Labels: Change sent to author, desktop/prod, do-not-merge, graphics-gaming/tech

#756 Remove stuttering in color-fonts.md
  desktop-src/DirectWrite/color-fonts.md
Labels: Change sent to author, desktop/prod, do-not-merge, graphics-gaming/tech

#757 Clean up Overlapped IO Sentence
  desktop-src/WinSock/overlapped-i-o-2.md
Labels: Change sent to author, desktop/prod, do-not-merge, networking/tech

#758 Changed 2 codeblocks to highlight as C#
  desktop-src/WmiSdk/retrieving-a-class.md
Labels: Change sent to author, desktop/prod, do-not-merge, server-tech/tech

#760 Consistent naming
  desktop-src/direct3d12/traceray-function.md
Labels: Change sent to author, desktop/prod, do-not-merge, graphics-gaming/tech

#697 Fix registry path for COM plugin registration
  desktop-src/SecAuthN/iccgdomainauthcredentials-getpasswordcredentials.md
Labels: Change sent to author, desktop/prod, do-not-merge, security-identity/tech

#693 Fixing link in ICcgDomainAuthCredentials
  desktop-src/SecAuthN/iccgdomainauthcredentials.md
Labels: Change sent to author, desktop/prod, do-not-merge, security-identity/tech

#761 MF_CAPTURE_ENGINE_DEVICE_TYPE is not attribute
  desktop-src/medfound/capture-engine-attributes.md
Labels: Change sent to author, audio-video/tech, desktop/prod, do-not-merge

#747 WM_COPY must return a nonzero value on success.
  desktop-src/dataxchg/wm-copy.md
Labels: Change sent to author, desktop-app-ui/tech, desktop/prod, do-not-merge

#746 Fix internal link in 'Basic and Dynamic Disks'
  desktop-src/FileIO/basic-and-dynamic-disks.md
Labels: Change sent to author, data-access-storage/tech, desktop/prod, do-not-merge

#716 Update moving-and-replacing-files.md
  desktop-src/FileIO/moving-and-replacing-files.md
Labels: Change sent to author, data-access-storage/tech, desktop/prod, do-not-merge

#711 Update symbolic-link-programming-considerations.md
  desktop-src/FileIO/symbolic-link-programming-considerations.md
Labels: Change sent to author, data-access-storage/tech, desktop/prod, do-not-merge

#701 Added .reg file code to enable Long Paths
  desktop-src/FileIO/maximum-file-path-limitation.md
Labels: Change sent to author, data-access-storage/tech, desktop/prod, do-not-merge

#768 punctuation
  desktop-src/inputdev/wm-sethotkey.md
Labels: Change sent to author, desktop-app-ui/tech, desktop/prod, do-not-merge

#769 Remove frquery.h from HLSL vector doc
  desktop-src/direct3dhlsl/dx-graphics-hlsl-vector.md
Labels: Change sent to author, desktop/prod, do-not-merge, graphics-gaming/tech
