Repository MicrosoftDocs/win32, pull requests merged in 2021-08, with the labels that each got.

#954 Update taskschedulerschema-executiontimelimit-triggerbasetype-element.md
  desktop-src/TaskSchd/taskschedulerschema-executiontimelimit-triggerbasetype-element.md
Labels: Change sent to author, desktop/prod, do-not-merge, server-tech/tech

#955 Correct condition for scrollbar visibility
  desktop-src/Controls/about-scroll-bars.md
Labels: Change sent to author, desktop-app-ui/tech, desktop/prod, do-not-merge

#763 Update nm-customdraw-list-view.md
  desktop-src/Controls/nm-customdraw-list-view.md
Labels: Change sent to author, desktop-app-ui/tech, desktop/prod, do-not-merge

#956 Fix run that doesn't end on a word boundary
  desktop-src/gdi/bitmap-compression.md
Labels: Change sent to author, desktop-app-ui/tech, desktop/prod, do-not-merge

#959 Fix typo
  desktop-src/Msi/msiuserealadmindetection.md
Labels: do-not-merge, Change sent to author, desktop/prod, installation-servicing/tech

#949 Update win-window-frames.md
  desktop-src/uxguide/win-window-frames.md
Labels: do-not-merge, Change sent to author, desktop/prod, design/tech

#960 Fix xml namespaces
  desktop-src/WES/identifying-the-provider.md
  desktop-src/WES/localizing-message-strings.md
  desktop-src/WES/writing-an-instrumentation-manifest.md
Labels: do-not-merge, Change sent to author, desktop/prod, diagnostics/tech

#961 Update porting-from-direct3d-11-to-direct3d-12.md
  desktop-src/direct3d12/porting-from-direct3d-11-to-direct3d-12.md
Labels: do-not-merge, Change sent to author, desktop/prod, graphics-gaming/tech

#957 Fix pe-format.md "Load Config Table" and "TLS Table" typos
  desktop-src/Debug/pe-format.md
Labels: do-not-merge, Change sent to author, desktop/prod, diagnostics/tech

#935 Adding note about scope of queries supported
  desktop-src/ADSI/attribute-range-retrieval.md
Labels: do-not-merge, Change sent to author, desktop/prod, security-identity/tech

#968 Fix typo
  desktop-src/direct3ddds/dds-pixelformat.md
Labels: do-not-merge, Change sent to author, desktop/prod, graphics-gaming/tech

#970 Document additional activeCodePage values
  desktop-src/SbsCs/application-manifests.md
Labels: do-not-merge, Change sent to author, desktop/prod, installation-servicing/tech

#969 Update templatefolder.md
  desktop-src/Msi/templatefolder.md
Labels: do-not-merge, Change sent to author, desktop/prod, installation-servicing/tech

#965 Update ctrl-progressive-disclosure-controls.md
  desktop-src/uxguide/ctrl-progressive-disclosure-controls.md
Labels: do-not-merge, Change sent to author, desktop/prod, design/tech

#964 Update ctrl-drop.md
  desktop-src/uxguide/ctrl-drop.md
Labels: do-not-merge, Change sent to author, desktop/prod, design/tech

#974 Add a new reference page for porting the deprecated Mobile Broadband API to the equivalent WinRT API
  desktop-src/mbn/mobile-broadband-networks-api-porting.md
  desktop-src/mbn/mobile-broadband-networks-api-reference.md
Labels: do-not-merge, Change sent to author, desktop/prod, networking/tech

#973 Update waveactivecountbits.md
  desktop-src/direct3dhlsl/waveactivecountbits.md
Labels: do-not-merge, Change sent to author, desktop/prod, graphics-gaming/tech

#967 Update state-blocks-save-and-restore-state.md
  desktop-src/direct3d9/state-blocks-save-and-restore-state.md
Labels: do-not-merge, Change sent to author, desktop/prod, graphics-gaming/tech

#966 Update win32-processor.md
  desktop-src/CIMWin32Prov/win32-processor.md
Labels: do-not-merge, Change sent to author, desktop/prod, server-tech/tech

#979 Update resource-binding-in-hlsl.md
  desktop-src/direct3d12/resource-binding-in-hlsl.md
Labels: do-not-merge, Change sent to author, desktop/prod, graphics-gaming/tech
