Repository MicrosoftDocs/win32, pull requests merged in 2021-09, with the labels that each got.

#981 Update multicast-socket-option-behavior.md
  desktop-src/WinSock/multicast-socket-option-behavior.md
Labels: do-not-merge, Change sent to author, desktop/prod, networking/tech

#983 fixed Resource Binding Flow of Control link
  desktop-src/direct3d12/resource-binding-flow-of-control.md
Labels: do-not-merge, Change sent to author, desktop/prod, graphics-gaming/tech

#984 Update toc.yml
  desktop-src/SecAuthN/toc.yml
Labels: do-not-merge, review-team-triage

#977 Update float4x4-structure.md
  desktop-src/numerics_h/float4x4-structure.md
Labels: do-not-merge, Change sent to author, desktop/prod, desktop-environment/tech

#986 Added GUID_LIDSWITCH_STATE_CHANGE for laptop lid status change event
  desktop-src/Power/power-setting-guids.md
Labels: do-not-merge, Change sent to author, desktop/prod, system-services/tech

#982 Add syntax highlighting to article
  desktop-src/menurc/using-menus.md
Labels: ready-to-merge, Change sent to author, desktop/prod, desktop-app-ui/tech

#991 Create tls-cipher-suites-in-windows-10-v20H2.md
  desktop-src/SecAuthN/tls-cipher-suites-in-windows-10-v20H2.md
  desktop-src/SecAuthN/toc.yml
Labels: do-not-merge, Change sent to author, desktop/prod, security-identity/tech

#990 Create tls-cipher-suites-in-windows-11.md
  desktop-src/SecAuthN/tls-cipher-suites-in-windows-11.md
  desktop-src/SecAuthN/toc.yml
Labels: do-not-merge, Change sent to author, desktop/prod, security-identity/tech

#997 put space between "in" and "command list 1"
  desktop-src/direct3d12/recording-command-lists-and-bundles.md
Labels: do-not-merge, Change sent to author, desktop/prod, graphics-gaming/tech

#998 made the "I" in ID3D12GraphicsCommandList::Reset part of the link
  desktop-src/direct3d12/recording-command-lists-and-bundles.md
Labels: do-not-merge, Change sent to author, desktop/prod, graphics-gaming/tech

#995 Update tls-cipher-suites-in-windows-server-2022.md
  desktop-src/SecAuthN/tls-cipher-suites-in-windows-server-2022.md
Labels: do-not-merge, Change sent to author, desktop/prod, security-identity/tech

#999 Update ASSOCF_str.md
  desktop-src/shell/ASSOCF_str.md
Labels: do-not-merge, Change sent to author, desktop/prod, desktop-environment/tech

#1001 fix WaitForSingleObject link
  desktop-src/Sync/using-event-objects.md
Labels: do-not-merge, Change sent to author, desktop/prod, system-services/tech

#1003 Create mdm-remotewipe-dowipepersistuserdatamethod.md
  desktop-src/DMWmiBridgeProv/mdm-remotewipe-dowipepersistuserdatamethod.md
Labels: do-not-merge, Change sent to author, desktop/prod, server-tech/tech

#1004 Create mdm-remotewipe-dowipeprotectedmethod.md
  desktop-src/DMWmiBridgeProv/mdm-remotewipe-dowipeprotectedmethod.md
Labels: do-not-merge, Change sent to author, desktop/prod, server-tech/tech

#1002 Create mdm-remotewipe-dowipepersistprovisioneddatamethod.md
  desktop-src/DMWmiBridgeProv/mdm-remotewipe-dowipepersistprovisioneddatamethod.md
Labels: do-not-merge, Change sent to author, desktop/prod, server-tech/tech

#1005 Add missing link
  desktop-src/Direct2D/built-in-effects.md
Labels: do-not-merge, Change sent to author, desktop/prod, graphics-gaming/tech

#993 Update direct3d-12-video-overview.md
  desktop-src/medfound/direct3d-12-video-overview.md
Labels: ready-to-merge, Change sent to author, desktop/prod, audio-video/tech

#1011 Fix references to structures.
  desktop-src/Http/http-response.md
Labels: do-not-merge, Change sent to author, desktop/prod, networking/tech

#1012 Remove redundant "x64" is limit
  desktop-src/Memory/memory-limits-for-windows-releases.md
Labels: do-not-merge, Change sent to author, desktop/prod, system-services/tech

#1015 Fix typo in JXR mime type
  desktop-src/wic/-wic-about-windows-imaging-codec.md
Labels: do-not-merge, Change sent to author, desktop/prod, graphics-gaming/tech

#1014 Fix title.
  desktop-src/Http/http-response.md
Labels: do-not-merge, Change sent to author, desktop/prod, networking/tech

#980 Update protocols-in-tls-ssl--schannel-ssp-.md
  desktop-src/SecAuthN/protocols-in-tls-ssl--schannel-ssp-.md
Labels: do-not-merge, Change sent to author, desktop/prod, security-identity/tech

#1020 Delete private-communications-technology.md
  desktop-src/SecAuthN/private-communications-technology.md
Labels: do-not-merge, Change sent to author, desktop/prod, security-identity/tech

#1018 Delete tls-cipher-suites.md
  desktop-src/SecAuthN/tls-cipher-suites.md
Labels: do-not-merge, Change sent to author, desktop/prod, security-identity/tech

#1016 UIA control pattern mappings should include Value for buttons
  desktop-src/WinAuto/uiauto-controlpatternmapping.md
Labels: do-not-merge, Change sent to author, desktop/prod, accessibility/tech
