Repository MicrosoftDocs/win32, pull requests merged in 2021-03, with the labels that each got.

#766 Update enumerating-providers.md
  desktop-src/ETW/enumerating-providers.md
Labels: Change sent to author, desktop/prod, diagnostics/tech, do-not-merge

#743 Update wm-vkeytoitem.md
  desktop-src/Controls/wm-vkeytoitem.md
Labels: Change sent to author, desktop-app-ui/tech, desktop/prod, do-not-merge

#771 Update directx-sdk--august-2009-.md
  desktop-src/directx-sdk--august-2009-.md
Labels: Change sent to author, desktop-environment/tech, desktop/prod, do-not-merge

#770 Further Explanation on DXGI_STATUS_OCCLUDED
  desktop-src/direct3ddxgi/dxgi-status.md
Labels: Change sent to author, desktop/prod, do-not-merge, graphics-gaming/tech

#772 Update cipher-suites-in-schannel.md
  desktop-src/SecAuthN/cipher-suites-in-schannel.md
Labels: Change sent to author, desktop/prod, do-not-merge, security-identity/tech

#775 Fix case of XML attribute in taskschedulerschema-exec-actiongroup-element.md
  desktop-src/TaskSchd/taskschedulerschema-exec-actiongroup-element.md
Labels: Change sent to author, desktop/prod, do-not-merge, server-tech/tech

#778 Update information on HDR and WCG content capture
  desktop-src/direct3darticles/high-dynamic-range.md
Labels: Change sent to author, desktop/prod, do-not-merge, graphics-gaming/tech

#779 Update directx-sdk--august-2009-.md
  desktop-src/directx-sdk--august-2009-.md
Labels: Change sent to author, desktop-environment/tech, desktop/prod, do-not-merge

#780 Update use-virtual-list-view-controls.md
  desktop-src/Controls/use-virtual-list-view-controls.md
Labels: Change sent to author, desktop-app-ui/tech, desktop/prod, do-not-merge

#705 Fix a typo on tdm-set-progress-bar-state
  desktop-src/Controls/tdm-set-progress-bar-state.md
Labels: Change sent to author, desktop-app-ui/tech, desktop/prod, do-not-merge

#781 wrong message
  desktop-src/inputdev/wm-syskeyup.md
Labels: Change sent to author, desktop-app-ui/tech, desktop/prod, do-not-merge

#783 Correct previous key-state flag description
  desktop-src/inputdev/about-keyboard-input.md
Labels: Change sent to author, desktop-app-ui/tech, desktop/prod, do-not-merge

#782 Correct description of KF_REPEAT
  desktop-src/inputdev/about-keyboard-input.md
Labels: Change sent to author, desktop-app-ui/tech, desktop/prod, do-not-merge

#776 Default return values are wrong, the minus got lost
  desktop-src/Controls/wm-chartoitem.md
Labels: do-not-merge

#785 Update topology-attributes.md
  desktop-src/medfound/topology-attributes.md
Labels: do-not-merge

#784 Update manifest-file-schema.md
  desktop-src/SbsCs/manifest-file-schema.md
Labels: Change sent to author, desktop/prod, do-not-merge, installation-servicing/tech

#787 Update enumerations.md
  desktop-src/Wua_Sdk/enumerations.md
Labels: Change sent to author, desktop/prod, do-not-merge, system-services/tech

#788 Update iupdatesearcher-properties.md
  desktop-src/Wua_Sdk/iupdatesearcher-properties.md
Labels: Change sent to author, desktop/prod, do-not-merge, system-services/tech

#789 Update iupdatehistoryentry-properties.md
  desktop-src/Wua_Sdk/iupdatehistoryentry-properties.md
Labels: Change sent to author, desktop/prod, do-not-merge, system-services/tech

#790 Update wer-settings.md
  desktop-src/wer/wer-settings.md
Labels: Change sent to author, desktop/prod, diagnostics/tech, do-not-merge

#794 Update searching--downloading--and-installing-updates.md
  desktop-src/Wua_Sdk/searching--downloading--and-installing-updates.md
Labels: Change sent to author, desktop/prod, do-not-merge, system-services/tech

#796 Fix the two typos in the examples of dx-graphics-hlsl-per-component-math.md
  desktop-src/direct3dhlsl/dx-graphics-hlsl-per-component-math.md
Labels: Change sent to author, desktop/prod, do-not-merge, graphics-gaming/tech

#795 Update fonts-from-multiple-resource-files.md
  desktop-src/gdi/fonts-from-multiple-resource-files.md
Labels: Change sent to author, desktop-app-ui/tech, desktop/prod, do-not-merge

#798 Fix link to WaitForSingleObject pointing to RegisterWaitForSingleObject
  desktop-src/Sync/using-semaphore-objects.md
Labels: Change sent to author, desktop/prod, do-not-merge, system-services/tech

#801 Fix myTex2D related error and clarify the example
  desktop-src/direct3d12/resource-binding-in-hlsl.md
Labels: Change sent to author, desktop/prod, do-not-merge, graphics-gaming/tech

#800 Fix damaged note block
  desktop-src/SysInfo/version-helper-apis.md
Labels: Change sent to author, desktop/prod, do-not-merge, system-services/tech

#767 Update top-violations.md
  desktop-src/uxguide/top-violations.md
Labels: Change sent to author, design/tech, desktop/prod, do-not-merge

#548 Window Features: minor corrections to which processes can set foreground
  desktop-src/winmsg/window-features.md
Labels: Change sent to author, desktop-app-ui/tech, desktop/prod, do-not-merge

#803 Update using-icons.md
  desktop-src/menurc/using-icons.md
Labels: Change sent to author, desktop-app-ui/tech, desktop/prod

#804 Update windows-desktop-application-program.md
  desktop-src/appxpkg/windows-desktop-application-program.md
Labels: Change sent to author, desktop-environment/tech, desktop/prod, do-not-merge

#797 Update search-filter-syntax.md
  desktop-src/ADSI/search-filter-syntax.md
Labels: do-not-merge

#802 fixed a mistake
  desktop-src/SecAuthZ/mandatory-integrity-control.md
Labels: Change sent to author, desktop/prod, do-not-merge, security-identity/tech

#773 "Using Raw Input": Remove unneeded call to DefRawInputProc()
  desktop-src/inputdev/using-raw-input.md
Labels: Change sent to author, desktop-app-ui/tech, desktop/prod, do-not-merge

#805 Remove unnecessary html tags
  desktop-src/Direct2D/how-to-draw-and-fill-a-complex-shape.md
Labels: Change sent to author, desktop/prod, do-not-merge, graphics-gaming/tech

#806 Update texld---ps-2-0.md
  desktop-src/direct3dhlsl/texld---ps-2-0.md
Labels: Change sent to author, desktop/prod, do-not-merge, graphics-gaming/tech

#807 Fix code example to assign to hr before reading it
  desktop-src/DirectWrite/how-to-align-text.md
Labels: Change sent to author, desktop/prod, do-not-merge, graphics-gaming/tech
