Repository MicrosoftDocs/win32, pull requests merged in 2021-11, with the labels that each got.

#1053 fixed spelling of "commands"
  desktop-src/direct3d12/recording-command-lists-and-bundles.md
Labels: do-not-merge, Change sent to author, desktop/prod, graphics-gaming/tech

#1057 small readability improvement
  desktop-src/direct3d12/swap-chains.md
Labels: do-not-merge, Change sent to author, desktop/prod, graphics-gaming/tech

#1054 Update internetgetproxyinfo.md
  desktop-src/WinInet/internetgetproxyinfo.md
Labels: do-not-merge, Change sent to author, desktop/prod, networking/tech

#1058 Update signtool.md
  desktop-src/SecCrypto/signtool.md
Labels: do-not-merge, Change sent to author, desktop/prod, security-identity/tech

#1059 links: update github branch
  desktop-src/accessibility/accessibility-uiframeworkdev.md
  desktop-src/hidpi/declaring-managed-apps-dpi-aware.md
  desktop-src/hidpi/high-dpi-desktop-application-development-on-windows.md
Labels: do-not-merge, Change sent to author, desktop/prod, desktop-environment/tech

#1061 Adding EAP-AKA sample
  desktop-src/NativeWiFi/eap-aka-profile-sample.md
  desktop-src/NativeWiFi/wireless-profile-samples.md
Labels: do-not-merge, Change sent to author, desktop/prod, networking/tech

#1050 Typo in tls-cipher-suites-in-windows-8-1.md
  desktop-src/SecAuthN/tls-cipher-suites-in-windows-8-1.md
Labels: do-not-merge, Change sent to author, desktop/prod, security-identity/tech

#1064 Fix "profile sample" casing
  desktop-src/NativeWiFi/bootstrap-profile-sample.md
  desktop-src/NativeWiFi/fips-profile-sample.md
  desktop-src/NativeWiFi/non-broadcast-profile-sample.md
  desktop-src/NativeWiFi/single-sign-on-profile-sample.md
  desktop-src/NativeWiFi/wireless-profile-samples.md
  desktop-src/NativeWiFi/wpa-enterprise-with-peap-mschapv2-profile-sample.md
  desktop-src/NativeWiFi/wpa-enterprise-with-tls-profile-sample.md
  desktop-src/NativeWiFi/wpa-personal-profile-sample.md
  desktop-src/NativeWiFi/wpa2-enterprise-with-peap-mschapv2-profile-sample.md
  desktop-src/NativeWiFi/wpa2-enterprise-with-tls-profile-sample.md
  desktop-src/NativeWiFi/wpa2-personal-profile-sample.md
Labels: do-not-merge, Change sent to author, desktop/prod, networking/tech

#1067 Addition for LoongArch32 and LoongArch64
  desktop-src/Debug/pe-format.md
Labels: do-not-merge, Change sent to author, desktop/prod, diagnostics/tech

#1065 Fix double-escaped underscores in Direct3D 12 Video GUIDs section header
  desktop-src/medfound/direct3d-12-video-guids.md
Labels: do-not-merge, Change sent to author, desktop/prod, audio-video/tech

#1038 Update about-the-windows-core-audio-apis.md
  desktop-src/CoreAudio/about-the-windows-core-audio-apis.md
Labels: do-not-merge, Change sent to author, desktop/prod, audio-video/tech

#1022 Check the size of aac_profiles before accessing it in Tutorial: Encoding an MP4 File
  desktop-src/medfound/tutorial--encoding-an-mp4-file-.md
Labels: do-not-merge, Change sent to author, desktop/prod, audio-video/tech

#1046 Fixed capitalization
  desktop-src/uxguide/progress-bars.md
Labels: do-not-merge, Change sent to author, desktop/prod, design/tech

#972 Update text-style-tone.md
  desktop-src/uxguide/text-style-tone.md
Labels: do-not-merge, Change sent to author, desktop/prod, design/tech

#1071 Escaping tag characters
  desktop-src/Msi/hyperlink-control.md
Labels: do-not-merge, Change sent to author, desktop/prod, installation-servicing/tech

#1070 Fix syntax
  desktop-src/Msi/hyperlink-control.md
Labels: do-not-merge, Change sent to author, desktop/prod, installation-servicing/tech

#1069 Update loopback-recording.md
  desktop-src/CoreAudio/loopback-recording.md
Labels: do-not-merge, Change sent to author, desktop/prod, audio-video/tech

#1072 Fixup Process_V2_TypeGroup1
  desktop-src/ETW/process-v2.md
Labels: do-not-merge, Change sent to author, desktop/prod, diagnostics/tech

#996 adding clarification
  desktop-src/Power/power-policy-settings.md
Labels: do-not-merge, Change sent to author, desktop/prod, system-services/tech

#962 Update fa-file-types.md
  desktop-src/shell/fa-file-types.md
Labels: do-not-merge, Change sent to author, desktop/prod, desktop-environment/tech

#1076 Add relationship with I/O and Memory priorities
  desktop-src/TaskSchd/taskschedulerschema-priority-settingstype-element.md
Labels: do-not-merge, Change sent to author, desktop/prod, server-tech/tech

#1077 Removes Game Explorer from application-installing-and-servicing.md
  desktop-src/application-installing-and-servicing.md
Labels: do-not-merge, Change sent to author, desktop/prod, desktop-environment/tech

#1079 Update systemconfig-network.md
  desktop-src/ETW/systemconfig-network.md
Labels: do-not-merge, Change sent to author, desktop/prod, diagnostics/tech
