Repository MicrosoftDocs/win32, pull requests merged in 2021-01, with the labels that each got.

#679 Update how-to--initialize-xaudio2.md
  desktop-src/xaudio2/how-to--initialize-xaudio2.md
Labels: Change sent to author, desktop/prod, graphics-gaming/tech, ready-to-merge

#670 Fix a typo in Media Foundation Transforms
  desktop-src/medfound/media-foundation-transforms.md
Labels: Change sent to author, audio-video/tech, desktop/prod, do-not-merge

#688 Recursive use of SRWLOCK lock in shared mode is a bug
  desktop-src/Sync/slim-reader-writer--srw--locks.md
Labels: Change sent to author, desktop/prod, do-not-merge, system-services/tech

#689 Update to SRW lock based based on email
  desktop-src/Sync/slim-reader-writer--srw--locks.md
Labels: Change sent to author, desktop/prod, do-not-merge, system-services/tech

#672 Add missing IUIAutomation6 link
  desktop-src/WinAuto/uiauto-entry-uiautoclientinterfaces.md
Labels: Change sent to author, accessibility/tech, desktop/prod, do-not-merge

#675 Update using-thread-local-storage.md
  desktop-src/ProcThread/using-thread-local-storage.md
Labels: Change sent to author, desktop/prod, diagnostics/tech, do-not-merge

#680 Update readback-data-using-heaps.md
  desktop-src/direct3d12/readback-data-using-heaps.md
Labels: Change sent to author, desktop/prod, do-not-merge, graphics-gaming/tech

#681 Update creating-a-basic-direct3d-12-component.md
  desktop-src/direct3d12/creating-a-basic-direct3d-12-component.md
Labels: Change sent to author, desktop/prod, do-not-merge, graphics-gaming/tech

#682 Update predication-queries.md
  desktop-src/direct3d12/predication-queries.md
Labels: Change sent to author, desktop/prod, do-not-merge, graphics-gaming/tech

#683 Update dynamic-indexing-using-hlsl-5-1.md
  desktop-src/direct3d12/dynamic-indexing-using-hlsl-5-1.md
Labels: Change sent to author, desktop/prod, do-not-merge, graphics-gaming/tech

#684 Update dx-graphics-hlsl-to-load.md
  desktop-src/direct3dhlsl/dx-graphics-hlsl-to-load.md
Labels: Change sent to author, desktop/prod, do-not-merge, graphics-gaming/tech

#685 Update indirect-drawing-and-gpu-culling-.md
  desktop-src/direct3d12/indirect-drawing-and-gpu-culling-.md
Labels: Change sent to author, desktop/prod, do-not-merge, graphics-gaming/tech

#686 Update notes-on-example-code.md
  desktop-src/direct3d12/notes-on-example-code.md
Labels: Change sent to author, desktop/prod, do-not-merge, graphics-gaming/tech

#687 Update d3dxboxboundprobe.md
  desktop-src/direct3d9/d3dxboxboundprobe.md
Labels: Change sent to author, desktop/prod, do-not-merge, graphics-gaming/tech

#690 Fixed a tiny typo
  desktop-src/direct3d12/descriptors-overview.md
Labels: Change sent to author, desktop/prod, do-not-merge, graphics-gaming/tech

#692 [D3D12] Update Common state promotion examples
  desktop-src/direct3d12/using-resource-barriers-to-synchronize-resource-states-in-direct3d-12.md
Labels: Change sent to author, desktop/prod, do-not-merge, graphics-gaming/tech

#691 Update high-dynamic-range.md
  desktop-src/direct3darticles/high-dynamic-range.md
Labels: Change sent to author, desktop/prod, do-not-merge, graphics-gaming/tech

#694 Update creating-a-child-process-with-redirected-input-and-output.md
  desktop-src/ProcThread/creating-a-child-process-with-redirected-input-and-output.md
Labels: Change sent to author, desktop/prod, diagnostics/tech, do-not-merge

#696 Revert "Update creating-a-child-process-with-redirected-input-and-output.md"
  desktop-src/ProcThread/creating-a-child-process-with-redirected-input-and-output.md
Labels: Change sent to author, desktop/prod, diagnostics/tech, do-not-merge

#665 Update source-server-and-source-indexing.md
  desktop-src/Debug/source-server-and-source-indexing.md
Labels: Change sent to author, desktop/prod, diagnostics/tech, do-not-merge

#698 Update iagentcharacterex--getanimationnames.md
  desktop-src/lwef/iagentcharacterex--getanimationnames.md
Labels: Change sent to author, desktop-environment/tech, desktop/prod, do-not-merge

#699 Fix typos in slim-reader-writer--srw--locks.md
  desktop-src/Sync/slim-reader-writer--srw--locks.md
Labels: Change sent to author, desktop/prod, do-not-merge, system-services/tech

#702 Updating remarks for usage clarity per dev owner
  desktop-src/Direct2D/d2dgetinputcoordinate.md
Labels: Change sent to author, desktop/prod, do-not-merge, graphics-gaming/tech

#703 Update international-components-for-unicode--icu-.md
  desktop-src/Intl/international-components-for-unicode--icu-.md
Labels: Change sent to author, desktop-app-ui/tech, desktop/prod, do-not-merge

#700 Use consistent capitalization
  desktop-src/shell/default-programs.md
Labels: Change sent to author, desktop-environment/tech, desktop/prod, do-not-merge

#704 IDN conversion sample - update cpp name
  desktop-src/Intl/nls--internationalized-domain-name--idn--conversion-sample.md
Labels: Change sent to author, desktop-app-ui/tech, desktop/prod, do-not-merge

#707 Fix typo in bitness
  desktop-src/Msi/about-windows-installer-on-64-bit-operating-systems.md
Labels: Change sent to author, desktop/prod, do-not-merge, installation-servicing/tech

#709 Update getting-the-virtual-system-dns-name.md
  desktop-src/HyperV_v2/getting-the-virtual-system-dns-name.md
Labels: Change sent to author, desktop/prod, do-not-merge, server-tech/tech

#712 Fix bold formatting
  desktop-src/ProcThread/job-object-security-and-access-rights.md
Labels: Change sent to author, desktop/prod, diagnostics/tech, do-not-merge

#706 Update prog-dx-with-com.md
  desktop-src/prog-dx-with-com.md
Labels: Change sent to author, desktop-environment/tech, desktop/prod, do-not-merge

#715 Fix link to IBackgroundCopyJob
  desktop-src/delivery_optimization/ibackgroundcopymanager-createjob.md
Labels: Change sent to author, desktop/prod, do-not-merge, networking/tech

#719 Update sfvm-fsnotify.md
  desktop-src/shell/sfvm-fsnotify.md
Labels: Change sent to author, desktop-environment/tech, desktop/prod, do-not-merge

#714 Fix misspelling of "recommended" in credential provider docs
  desktop-src/SecAuthN/credential-providers-in-windows.md
Labels: Change sent to author, desktop/prod, do-not-merge, security-identity/tech

#718 Update waveprefixsum.md
  desktop-src/direct3dhlsl/waveprefixsum.md
Labels: Change sent to author, desktop/prod, do-not-merge, graphics-gaming/tech
