Repository MicrosoftDocs/win32, pull requests merged in 2021-07, with the labels that each got.

#923 Fix typos in programmatic default DPI API table
  desktop-src/hidpi/setting-the-default-dpi-awareness-for-a-process.md
Labels: Change sent to author, desktop-environment/tech, desktop/prod, do-not-merge

#922 Update using-descriptors-directly-in-the-root-signature.md
  desktop-src/direct3d12/using-descriptors-directly-in-the-root-signature.md
Labels: Change sent to author, desktop/prod, graphics-gaming/tech

#924 fix "D3D12_RESOURCE_STATES" text display issue
  desktop-src/direct3d12/executing-and-synchronizing-command-lists.md
Labels: Change sent to author, desktop/prod, do-not-merge, graphics-gaming/tech

#925 Fix capitalization of D3DQUERYTYPE_RESOURCEMANAGER
  desktop-src/direct3d9/d3dquerytype.md
Labels: Change sent to author, desktop/prod, do-not-merge, graphics-gaming/tech

#926 Fix capitalization of D3DRTYPE_CUBETEXTURE
  desktop-src/direct3d9/d3dresourcetype.md
Labels: Change sent to author, desktop/prod, do-not-merge, graphics-gaming/tech

#927 Fix line wrapping
  desktop-src/shell/launch.md
Labels: Change sent to author, desktop-environment/tech, desktop/prod, do-not-merge

#920 TiledResourceBarrier -> ResourceBarrier
  desktop-src/direct3d12/uploading-resources.md
Labels: Change sent to author, desktop/prod, graphics-gaming/tech

#928 Fixed a critical error in the documentation
  desktop-src/direct3dhlsl/dx-graphics-hlsl-per-component-math.md
Labels: Change sent to author, desktop/prod, do-not-merge, graphics-gaming/tech

#930 Update wm-setredraw.md
  desktop-src/gdi/wm-setredraw.md
Labels: Change sent to author, desktop-app-ui/tech, desktop/prod, do-not-merge

#931 Fix HTML-encoded characters
  desktop-src/deviceaccess/create-the-device-access-object.md
  desktop-src/input_ink/inkdesktophost.md
  desktop-src/inputmsg/wm-pointerdown.md
Labels: Change sent to author, desktop-app-ui/tech, desktop/prod, do-not-merge

#934 collecting-user-mode-dumps - Add hex values for CustomDumpFlags defaults
  desktop-src/wer/collecting-user-mode-dumps.md
Labels: Change sent to author, desktop/prod, diagnostics/tech, do-not-merge

#914 List values for XInput controller subtypes
  desktop-src/xinput/xinput-and-controller-subtypes.md
Labels: Change sent to author, desktop/prod, do-not-merge, graphics-gaming/tech

#911 Update about-keyboard-input.md
  desktop-src/inputdev/about-keyboard-input.md
Labels: Change sent to author, desktop-app-ui/tech, desktop/prod, do-not-merge

#847 Update xinput-and-directinput.md
  desktop-src/xinput/xinput-and-directinput.md
Labels: Change sent to author, desktop/prod, do-not-merge, graphics-gaming/tech

#545 fix(ETW): retrieve inherited MOF properties for parsing.
  desktop-src/ETW/retrieving-event-data-using-mof.md
Labels: Change sent to author, desktop/prod, diagnostics/tech, do-not-merge

#936 Fix Images Name
  desktop-src/shell/how-to-create-cascading-menus-with-the-iexplorercommand-interface.md
Labels: Change sent to author, desktop-environment/tech, desktop/prod, do-not-merge

#932 Update session-keys.md
  desktop-src/SecCrypto/session-keys.md
Labels: Change sent to author, desktop/prod, do-not-merge, security-identity/tech

#904 Corrected typo FIPS-complaint to FIPS-compliant
  desktop-src/SecAuthN/tls-cipher-suites-in-windows-10-v1903.md
Labels: Change sent to author, desktop/prod, do-not-merge, security-identity/tech

#887 Sample path provided for easy navigation
  desktop-src/SecCrypto/signtool.md
Labels: Change sent to author, desktop/prod, do-not-merge, security-identity/tech

#917 Update protocols-in-tls-ssl--schannel-ssp-.md
  desktop-src/SecAuthN/protocols-in-tls-ssl--schannel-ssp-.md
Labels: Change sent to author, desktop/prod, do-not-merge, security-identity/tech

#938 Fixed BC7 misspelling
  desktop-src/direct3d11/bc7-format-mode-reference.md
Labels: Change sent to author, desktop/prod, do-not-merge, graphics-gaming/tech

#939 Typo fix "Authenicode"
  desktop-src/DxTechArts/authenticode-signing-for-game-developers.md
Labels: Change sent to author, desktop/prod, do-not-merge, graphics-gaming/tech

#940 Tiny typo "ID3D12GraphcisCommandList"
  desktop-src/direct3d12/volume-tiled-resources.md
Labels: Change sent to author, desktop/prod, do-not-merge, graphics-gaming/tech

#941 Fix reference to BC1 which should be BC4
  desktop-src/direct3d10/d3d10-graphics-programming-guide-resources-block-compression.md
Labels: Change sent to author, desktop/prod, do-not-merge, graphics-gaming/tech

#942 Fixed typo in descriptor tables doc
  desktop-src/direct3d12/descriptor-tables.md
Labels: Change sent to author, desktop/prod, do-not-merge, graphics-gaming/tech

#943 Fix Typo in knownfolderid.md
  desktop-src/shell/knownfolderid.md
Labels: Change sent to author, desktop-environment/tech, desktop/prod, do-not-merge

#944 Fix symchk command in debugging-with-symbols.md
  desktop-src/DxTechArts/debugging-with-symbols.md
Labels: Change sent to author, desktop/prod, do-not-merge, graphics-gaming/tech

#945 Updated link to Known Folders sample
  desktop-src/shell/known-folders.md
Labels: Change sent to author, desktop-environment/tech, desktop/prod, do-not-merge

#946 Update wmi-troubleshooting.md
  desktop-src/WmiSdk/wmi-troubleshooting.md
Labels: Change sent to author, desktop/prod, do-not-merge, server-tech/tech

#947 supplement cpp syntax coloring
  desktop-src/direct3d12/upload-and-readback-of-texture-data.md
Labels: Change sent to author, desktop/prod, do-not-merge, graphics-gaming/tech

#948 Add correct LOAD_LIBRARY_SEARCH anchor url
  desktop-src/Dlls/dynamic-link-library-search-order.md
Labels: Change sent to author, desktop/prod, do-not-merge, system-services/tech

#951 Fix link to rasterizer-ordered views
  desktop-src/direct3d12/what-is-directx-12-.md
Labels: Change sent to author, desktop/prod, do-not-merge, graphics-gaming/tech
