Repository MicrosoftDocs/win32, pull requests merged in 2021-04, with the labels that each got.

#810 Put link to ShowWindow in places where SW_ flags can be used instead of copy-pasted table.
  desktop-src/CIMWin32Prov/win32-processstartup.md
  desktop-src/WmiSdk/commandlineeventconsumer.md
  desktop-src/shell/wowshellexecute.md
Labels: Change sent to author, desktop/prod, do-not-merge, server-tech/tech

#809 Update dx-graphics-hlsl-unpacking-packing-dxgi-format.md
  desktop-src/direct3dhlsl/dx-graphics-hlsl-unpacking-packing-dxgi-format.md
Labels: Change sent to author, desktop/prod, do-not-merge, graphics-gaming/tech

#813 Fixed MD syntax error
  desktop-src/appxpkg/how-to-troubleshoot-app-package-signature-errors.md
Labels: Change sent to author, desktop-environment/tech, desktop/prod, do-not-merge

#814 Updated notes for D3DX_DXGIFormatConvert.inl
  desktop-src/direct3dhlsl/format-conversion-functions.md
  desktop-src/direct3dhlsl/inline-format-conversion-reference.md
  desktop-src/direct3dhlsl/xmint2.md
  desktop-src/direct3dhlsl/xmint4.md
  desktop-src/direct3dhlsl/xmuint2.md
  desktop-src/direct3dhlsl/xmuint4.md
Labels: do-not-merge

#815 Fix typo: WmiSdk/wmic.md: NPDE -> NODE
  desktop-src/WmiSdk/wmic.md
Labels: Change sent to author, desktop/prod, do-not-merge, server-tech/tech

#816 Update direct3d-11-advanced-stages-compute-shader.md
  desktop-src/direct3d11/direct3d-11-advanced-stages-compute-shader.md
Labels: Change sent to author, desktop/prod, do-not-merge, graphics-gaming/tech

#818 Fix SRGB renderstates in effect-states.md
  desktop-src/direct3d9/effect-states.md
Labels: Change sent to author, desktop/prod, do-not-merge, graphics-gaming/tech

#822 Small typo correction
  desktop-src/DirectWrite/text-formatting-and-layout.md
Labels: Change sent to author, desktop/prod, do-not-merge, graphics-gaming/tech

#821 Fix 3D transform effect link
  desktop-src/Direct2D/built-in-effects.md
Labels: Change sent to author, desktop/prod, do-not-merge, graphics-gaming/tech

#824 Move letter inside link text
  desktop-src/WinHttp/query-info-flags.md
Labels: Change sent to author, desktop/prod, do-not-merge, networking/tech

#819 Invalid return value specified for OpenDatabase
  desktop-src/Msi/installer-opendatabase.md
Labels: Change sent to author, desktop/prod, do-not-merge, installation-servicing/tech

#825 Fixed position of image and explanation text
  desktop-src/direct3d12/specifying-root-signatures-in-hlsl.md
Labels: Change sent to author, desktop/prod, do-not-merge, graphics-gaming/tech

#827 Cleanup WM_DEVICECHANGE wParam table a bit - sort entries by value
  desktop-src/DevIO/wm-devicechange.md
Labels: Change sent to author, desktop/prod, devices/tech, do-not-merge

#828 Update xaudio2-redistributable.md
  desktop-src/xaudio2/xaudio2-redistributable.md
Labels: Change sent to author, desktop/prod, do-not-merge, graphics-gaming/tech

#829 Update dx-graphics-hlsl-semantics.md
  desktop-src/direct3dhlsl/dx-graphics-hlsl-semantics.md
Labels: Change sent to author, desktop/prod, do-not-merge, graphics-gaming/tech

#826 Fix blog post link
  desktop-src/shell/fa-sample-scenarios.md
Labels: Change sent to author, desktop-environment/tech, desktop/prod, do-not-merge

#774 Update the params of JetDefragment2
  desktop-src/extensible-storage-engine/jetdefragment2-function.md
Labels: Change sent to author, data-access-storage/tech, desktop/prod, do-not-merge

#830 Added a PowerShell example snippet #2
  desktop-src/FileIO/maximum-file-path-limitation.md
Labels: Change sent to author, data-access-storage/tech, desktop/prod, do-not-merge

#808 Fix typo SSDL -> SDDL
  desktop-src/SecAuthZ/security-descriptor-string-format.md
Labels: Change sent to author, desktop/prod, do-not-merge, security-identity/tech

#792 Fixed missing syntax block
  desktop-src/SecCrypto/cryptuidlgselectcertificate.md
Labels: Change sent to author, desktop/prod, do-not-merge, security-identity/tech

#777 Insert space between arguments
  desktop-src/SecCrypto/using-signtool-to-verify-a-file-signature.md
Labels: Change sent to author, desktop/prod, do-not-merge, security-identity/tech

#834 put hlsl code in a code block
  desktop-src/direct3d12/creating-a-root-signature.md
Labels: Change sent to author, desktop/prod, do-not-merge, graphics-gaming/tech

#791 Fix winmain--the-application-entry-point.md
  desktop-src/LearnWin32/winmain--the-application-entry-point.md
Labels: Change sent to author, desktop/prod, get-started/tech, ready-to-merge

#762 Fix typo.
  desktop-src/w8cookbook/measured-boot.md
Labels: Change sent to author, desktop/prod, get-started/tech, ready-to-merge

#639 Update time-stamping-authenticode-signatures.md
  desktop-src/SecCrypto/time-stamping-authenticode-signatures.md
Labels: Change sent to author, desktop/prod, do-not-merge, security-identity/tech

#641 Fix code broken on 64 bit platforms
  desktop-src/menurc/using-cursors.md
  desktop-src/menurc/using-icons.md
Labels: Change sent to author, desktop-app-ui/tech, desktop/prod, do-not-merge

#407 Correct error in Return value
  desktop-src/Controls/ttm-enumtools.md
Labels: Change sent to author, desktop-app-ui/tech, desktop/prod, do-not-merge

#617 Update installing-and-registering-a-password-filter-dll.md
  desktop-src/SecMgmt/installing-and-registering-a-password-filter-dll.md
Labels: Change sent to author, desktop/prod, do-not-merge, security-identity/tech

#759 Fix wParam value
  desktop-src/Controls/cb-findstringexact.md
Labels: Change sent to author, desktop-app-ui/tech, desktop/prod, do-not-merge

#833 Update access-rights-for-access-token-objects.md
  desktop-src/SecAuthZ/access-rights-for-access-token-objects.md
Labels: Change sent to author, desktop/prod, do-not-merge, security-identity/tech

#820 [Minor] Updated reference to New-SelfSignedCertificate
  desktop-src/SecCrypto/makecert.md
Labels: Change sent to author, desktop/prod, do-not-merge, security-identity/tech

#812 Added info how to convert HKL lParam to locale name
  desktop-src/winmsg/wm-inputlangchange.md
Labels: Change sent to author, desktop-app-ui/tech, desktop/prod, do-not-merge
