Repository MicrosoftDocs/win32, pull requests merged in 2022-02, with the labels that each got.

#1117 Fix typo
  desktop-src/SbsCs/authoring-a-dll-for-a-side-by-side-assembly.md
Labels: do-not-merge, Change sent to author, desktop/prod, installation-servicing/tech

#1125 Document OID hardcoded limitation for AMPPL use case
  desktop-src/Services/protecting-anti-malware-services-.md
Labels: do-not-merge, Change sent to author, desktop/prod, system-services/tech

#1126 Improve description of descriptor table layout
  desktop-src/direct3d12/creating-a-root-signature.md
Labels: do-not-merge, Change sent to author, desktop/prod, graphics-gaming/tech

#1128 Update glend.md
  desktop-src/OpenGL/glend.md
Labels: do-not-merge, Change sent to author, desktop/prod, graphics-gaming/tech

#1141 Update d3dcompile-constants.md
  desktop-src/direct3dhlsl/d3dcompile-constants.md
Labels: do-not-merge, Change sent to author, desktop/prod, graphics-gaming/tech

#1140 Update d3dxshader-flags.md
  desktop-src/direct3d9/d3dxshader-flags.md
Labels: do-not-merge, Change sent to author, desktop/prod, graphics-gaming/tech

#1123 Update sdk-connection-properties.md
  desktop-src/eaphost/sdk-connection-properties.md
Labels: do-not-merge, Change sent to author, desktop/prod, security-identity/tech

#1121 Update peap-ms-chapv2-connection-properties.md
  desktop-src/eaphost/peap-ms-chapv2-connection-properties.md
Labels: do-not-merge, Change sent to author, desktop/prod, security-identity/tech

#1124 Add syntax highlighting
  desktop-src/menurc/using-cursors.md
  desktop-src/menurc/using-icons.md
  desktop-src/menurc/using-keyboard-accelerators.md
Labels: do-not-merge, Change sent to author, desktop/prod, desktop-app-ui/tech

#1112 Update wm-measureitem.md
  desktop-src/Controls/wm-measureitem.md
Labels: do-not-merge, Change sent to author, desktop/prod, desktop-app-ui/tech

#1139 Fix over-translations and code formats in "Using the Clipboard" page
  desktop-src/dataxchg/using-the-clipboard.md
Labels: do-not-merge, Change sent to author, desktop/prod, desktop-app-ui/tech

#1105 Encode brackets to prevent interpretation
  desktop-src/AD/name-formats-for-unique-spns.md
Labels: do-not-merge, Change sent to author, desktop/prod, security-identity/tech

#1092 Fix tables in IMAPI Interfaces
  desktop-src/imapi/imapi-interfaces.md
Labels: do-not-merge, Change sent to author, desktop/prod, data-access-storage/tech

#1118 Typo "**Windows Installer 3.0:  **"→"**Windows Installer 3.0:**"
  desktop-src/Msi/revision-number-summary.md
Labels: ready-to-merge, Change sent to author, desktop/prod, installation-servicing/tech

#1108 Document properties for Windows 8.1
  desktop-src/Msi/operating-system-property-values.md
Labels: ready-to-merge, Change sent to author, desktop/prod, installation-servicing/tech

#1102 Locations are Win 10 and Win 11 relevant
  desktop-src/appxpkg/make-appx-package--makeappx-exe-.md
Labels: ready-to-merge, Change sent to author, desktop/prod, desktop-environment/tech

#1146 Add GUID_PROP_URL
  desktop-src/TSF/predefined-properties.md
Labels: do-not-merge, Change sent to author, desktop/prod, desktop-app-ui/tech

#1148 Update error-handling-in-com.md
  desktop-src/com/error-handling-in-com.md
Labels: do-not-merge, Change sent to author, desktop/prod, system-services/tech

#1149 Minor grammatical corrections
  desktop-src/ProcThread/user-mode-scheduling.md
Labels: do-not-merge, Change sent to author, desktop/prod, diagnostics/tech

#1153 Raster Stage: Context/Device cleanup
  desktop-src/direct3d11/d3d10-graphics-programming-guide-rasterizer-stage-getting-started.md
Labels: do-not-merge, Change sent to author, desktop/prod, graphics-gaming/tech
