Repository MicrosoftDocs/win32, pull requests merged in 2022-09, with the labels that each got.

#1324 Update -webauthn-portal.md
  desktop-src/webauthn/-webauthn-portal.md
Labels: do-not-merge, Change sent to author, desktop/prod, desktop-environment/tech

#1322 Wrong type in signature of function myPust(...)
  desktop-src/Dlls/using-load-time-dynamic-linking.md
Labels: do-not-merge, Change sent to author, desktop/prod, system-services/tech

#1327 Fix typo in using-the-sample-grabber.md
  desktop-src/DirectShow/using-the-sample-grabber.md
Labels: do-not-merge, Change sent to author, desktop/prod, graphics-gaming/tech

#1328 Update complete-and-partial-media-types.md
  desktop-src/medfound/complete-and-partial-media-types.md
Labels: do-not-merge, Change sent to author, desktop/prod, audio-video/tech

#1332 Waitable Timer Example: fix E0513
  desktop-src/Sync/using-a-waitable-timer-with-an-asynchronous-procedure-call.md
Labels: do-not-merge, Change sent to author, desktop/prod, system-services/tech

#1331 Fixing strange characters in opening paragraph
  desktop-src/com/inter-object-communication.md
Labels: do-not-merge, Change sent to author, desktop/prod, system-services/tech

#1329 Fix typo in -wic-integrationregentries.md
  desktop-src/wic/-wic-integrationregentries.md
Labels: do-not-merge, Change sent to author, desktop/prod, graphics-gaming/tech

#1330 Fix typo in -wic-howwicworks.md
  desktop-src/wic/-wic-howwicworks.md
Labels: do-not-merge, Change sent to author, desktop/prod, graphics-gaming/tech

#1334 Obsolete link to XMFLOAT4X4A
  desktop-src/dxmath/pg-xnamath-optimizing.md
Labels: do-not-merge, Change sent to author, desktop/prod, graphics-gaming/tech

#1335 Update about-keyboard-input.md
  desktop-src/inputdev/about-keyboard-input.md
Labels: do-not-merge, Change sent to author, desktop/prod, desktop-app-ui/tech

#1338 index-buffers: Fix broken links
  desktop-src/direct3d9/index-buffers.md
Labels: do-not-merge, Change sent to author, desktop/prod, graphics-gaming/tech

#1336 Fix link to AddBezier
  desktop-src/Direct2D/path-geometries-overview.md
Labels: do-not-merge, Change sent to author, desktop/prod, graphics-gaming/tech

#1339 Provide more info on `autoElevate`
  desktop-src/SbsCs/application-manifests.md
Labels: do-not-merge, Change sent to author, desktop/prod, installation-servicing/tech

#1340 Fix example for XM_CRMASK_CR6TRUE
  desktop-src/dxmath/ovw-xnamath-reference-constants.md
Labels: do-not-merge, Change sent to author, desktop/prod, graphics-gaming/tech

#1342 Update installing-a-service.md
  desktop-src/Services/installing-a-service.md
Labels: do-not-merge, Change sent to author, desktop/prod, system-services/tech

#1343 Update about-keyboard-input.md
  desktop-src/inputdev/about-keyboard-input.md
Labels: do-not-merge, Change sent to author, desktop/prod, desktop-app-ui/tech

#1344 Inclusion of DirectStorage
  desktop-src/directx.md
Labels: do-not-merge, Change sent to author, desktop/prod, desktop-environment/tech

#1347 Numerous Corrections
  desktop-src/directx.md
Labels: do-not-merge, Change sent to author, desktop/prod, desktop-environment/tech

#1346 Description and Casing Corrections
  desktop-src/dstorage/dstorage-portal.md
Labels: do-not-merge, Change sent to author, desktop/prod, graphics-gaming/tech

#1353 Changed parameter name for callbacks
  desktop-src/CoreAudio/device-events.md
Labels: do-not-merge, Change sent to author, desktop/prod, audio-video/tech

#1351 Fixed broken link
  desktop-src/Dlls/secure-boot-and-appinit-dlls.md
Labels: do-not-merge, Change sent to author, desktop/prod, system-services/tech
