Repository MicrosoftDocs/win32, pull requests merged in 2022-12, with the labels that each got.

#1421 texture-filtering-with-mipmaps: Fix broken link
  desktop-src/direct3d9/texture-filtering-with-mipmaps.md
Labels: do-not-merge, Change sent to author, desktop/prod, graphics-gaming/tech

#1422 Update shared-heaps.md
  desktop-src/direct3d12/shared-heaps.md
Labels: do-not-merge, Change sent to author, desktop/prod, graphics-gaming/tech

#1424 Corrected LPTCSTR to LPCTSTR
  desktop-src/ProcThread/creating-threads.md
Labels: do-not-merge, Change sent to author, desktop/prod, diagnostics/tech

#1426 correct sentence to use the right tense
  desktop-src/Msi/adminuser.md
Labels: do-not-merge, Change sent to author, desktop/prod, installation-servicing/tech

#1387 Direct3D9: Fix some broken links and formatting
  desktop-src/direct3d9/d3dpresentstats.md
  desktop-src/direct3d9/d3dswapeffect.md
  desktop-src/direct3d9/vertex-buffers.md
Labels: do-not-merge, Change sent to author, desktop/prod, graphics-gaming/tech

#1389 Update using-binding-handles-and-making-rpc-calls.md
  desktop-src/Rpc/using-binding-handles-and-making-rpc-calls.md
Labels: do-not-merge, Change sent to author, desktop/prod, networking/tech

#1427 naming-a-file.txt: "Reserved" isn't a suggestion
  desktop-src/FileIO/naming-a-file.md
Labels: do-not-merge, Change sent to author, desktop/prod, data-access-storage/tech

#1430 Update finding-the-owner-of-a-file-object-in-c--.md
  desktop-src/SecAuthZ/finding-the-owner-of-a-file-object-in-c--.md
Labels: do-not-merge, Change sent to author, desktop/prod, security-identity/tech

#1384 Update certificate chain ordering for schannel verification
  desktop-src/SecAuthN/manually-validating-schannel-credentials.md
Labels: do-not-merge, Change sent to author, desktop/prod, security-identity/tech
