Repository MicrosoftDocs/win32, pull requests merged in 2022-03, with the labels that each got.

#1150 Typo "**\[value=\]**"→"__\[value=\]__"
  desktop-src/Http/add-timeout.md
Labels: do-not-merge, Change sent to author, desktop/prod, networking/tech

#1154 Corrected typo.
  desktop-src/CIMWin32Prov/joindomainorworkgroup-method-in-class-win32-computersystem.md
Labels: do-not-merge, Change sent to author, desktop/prod, server-tech/tech

#1151 Vertex Shader Stage: Links System Values and Semantics page
  desktop-src/direct3d11/vertex-shader-stage.md
Labels: do-not-merge, Change sent to author, desktop/prod, graphics-gaming/tech

#1155 Typo "**\[url=\]**"→"__\[url=\]__"
  desktop-src/Http/delete-cache.md
Labels: do-not-merge, Change sent to author, desktop/prod, networking/tech

#1157 Typo "**\[ipport=\]**"→"__\[ipport=\]__"
  desktop-src/Http/delete-sslcert.md
Labels: do-not-merge, Change sent to author, desktop/prod, networking/tech

#1158 Remove unnecessary HTML tags (Typo "**\[url=\]**→"__\[url=\]__")
  desktop-src/Http/delete-urlacl.md
Labels: do-not-merge, Change sent to author, desktop/prod, networking/tech

#1159 Remove unnecessary HTML tags (Typo "**\[ipport=\]**"→"__\[ipport=\]__")
  desktop-src/Http/show-sslcert.md
Labels: do-not-merge, Change sent to author, desktop/prod, networking/tech

#1161 Remove unnecessary HTML tags (Typo "**\[url=\]**"→"__\[url=\]__")
  desktop-src/Http/show-urlacl.md
Labels: do-not-merge, Change sent to author, desktop/prod, networking/tech

#1160 Slight correction to the value of XM_1DIV2PI
  desktop-src/dxmath/ovw-xnamath-reference-constants.md
Labels: do-not-merge, Change sent to author, desktop/prod, graphics-gaming/tech

#1165 Removed stray =NULL
  desktop-src/CIMWin32Prov/win32-process.md
Labels: do-not-merge, Change sent to author, desktop/prod, server-tech/tech

#1163 Typo "__\[ipport=\]__"→"**\[ipport=\]**"
  desktop-src/Http/delete-sslcert.md
Labels: do-not-merge, Change sent to author, desktop/prod, networking/tech

#1162 Remove unnecessary HTML tags
  desktop-src/Http/add-iplisten.md
Labels: do-not-merge, Change sent to author, desktop/prod, networking/tech

#1167 Update new-releases.md
  desktop-src/direct3d12/new-releases.md
Labels: do-not-merge, Change sent to author, desktop/prod

#1164 Move GetProcessIdOfThread to correct section
  desktop-src/ProcThread/process-and-thread-functions.md
Labels: do-not-merge, Change sent to author, desktop/prod, diagnostics/tech

#1168 Add missing word
  desktop-src/WinAuto/host-a-ui-automation-windowless-activex-control.md
Labels: do-not-merge, Change sent to author, review-team-triage, desktop/prod, accessibility/tech

#1171 Typo "paramname***(***params***);**"→"paramname* **(***params***);**"
  desktop-src/Midl/dispinterface.md
Labels: do-not-merge, Change sent to author, desktop/prod, system-services/tech

#1173 Update critical-system-services.md
  desktop-src/RstMgr/critical-system-services.md
Labels: do-not-merge, Change sent to author, desktop/prod, installation-servicing/tech

#1172 Update sio-rcvall.md
  desktop-src/WinSock/sio-rcvall.md
Labels: do-not-merge, Change sent to author, desktop/prod, networking/tech

#1179 color-management.md fix swapped intent descriptions
  desktop-src/Direct2D/color-management.md
Labels: do-not-merge, Change sent to author, desktop/prod, graphics-gaming/tech

#871 Fix date
  desktop-src/WinProg64/shared-registry-keys.md
Labels: do-not-merge, Change sent to author, desktop/prod, get-started/tech

#873 Update automatic-maintenance.md
  desktop-src/w8cookbook/automatic-maintenance.md
Labels: ready-to-merge, Change sent to author, desktop/prod, get-started/tech

#953 Change the message loop to exit on error and add comments
  desktop-src/LearnWin32/your-first-windows-program.md
Labels: do-not-merge, Change sent to author, desktop/prod, get-started/tech

#1008 Update abstract-data-models.md
  desktop-src/WinProg64/abstract-data-models.md
Labels: do-not-merge, Change sent to author, desktop/prod, get-started/tech

#1013 Update working-with-strings.md
  desktop-src/LearnWin32/working-with-strings.md
Labels: do-not-merge, Change sent to author, desktop/prod, get-started/tech

#1116 Fixed typo in Windows App Certification Kit doc.
  desktop-src/win_cert/windows-app-certification-kit-tests.md
Labels: do-not-merge, Change sent to author, desktop/prod, deployment/tech

#1142 Update keyboard-input.md note include wchar.h
  desktop-src/LearnWin32/keyboard-input.md
Labels: do-not-merge, Change sent to author, desktop/prod, get-started/tech

#1144 right-left is misused vice versa
  desktop-src/LearnWin32/mouse-input.md
Labels: do-not-merge, Change sent to author, desktop/prod, get-started/tech

#1169 Update windows-data-types.md
  desktop-src/WinProg/windows-data-types.md
Labels: do-not-merge, Change sent to author, desktop/prod, get-started/tech

#1175 Fix behavior description
  desktop-src/Controls/lvn-endlabeledit.md
Labels: do-not-merge, Change sent to author, desktop/prod, desktop-app-ui/tech

#1180 Remarks section added
  desktop-src/Controls/ttm-addtool.md
Labels: Change sent to author, desktop/prod, desktop-app-ui/tech

#1170 Clarify SEPARATOR section that the sample only works within MENU
  desktop-src/menurc/menuitem-statement.md
Labels: Change sent to author, desktop/prod, desktop-app-ui/tech

#1178 Code update
  desktop-src/SecCrypto/example-c-program-creating-a-certificate-chain.md
Labels: do-not-merge, Change sent to author, desktop/prod, security-identity/tech

#1183 Note DISPLAYCONFIG_SDR_WHITE_LEVEL as alternative to AdvancedColorInfo
  desktop-src/direct3darticles/high-dynamic-range.md
Labels: do-not-merge, Change sent to author, desktop/prod, graphics-gaming/tech

#1184 Fix incorrect url in synchronization-functions.md
  desktop-src/Sync/synchronization-functions.md
Labels: do-not-merge, Change sent to author, desktop/prod, system-services/tech
