Repository MicrosoftDocs/win32, pull requests merged in 2022-05, with the labels that each got.

#1220 Update dynamic-link-library-best-practices.md
  desktop-src/Dlls/dynamic-link-library-best-practices.md
Labels: do-not-merge, Change sent to author, desktop/prod, system-services/tech

#1221 Add RegRenameKey to the list of registry functions
  desktop-src/SysInfo/registry-functions.md
  desktop-src/SysInfo/toc.yml
Labels: do-not-merge, Change sent to author, desktop/prod, system-services/tech

#1222 Update naming-a-file.md
  desktop-src/FileIO/naming-a-file.md
Labels: do-not-merge, Change sent to author, desktop/prod, data-access-storage/tech

#1224 Fix quotes in win32-logicaldisk.md
  desktop-src/CIMWin32Prov/win32-logicaldisk.md
Labels: do-not-merge, Change sent to author, desktop/prod, server-tech/tech

#1223 Update pe-format.md
  desktop-src/Debug/pe-format.md
Labels: do-not-merge, Change sent to author, desktop/prod, diagnostics/tech

#1225 Fixed typo in Gather example
  desktop-src/direct3dhlsl/dx-graphics-hlsl-to-gather.md
Labels: do-not-merge, Change sent to author, desktop/prod, graphics-gaming/tech

#1227 Update text-services-framework.md
  desktop-src/TSF/text-services-framework.md
Labels: do-not-merge, Change sent to author, desktop/prod, desktop-app-ui/tech

#1229 Fix typo
  desktop-src/direct3d12/descriptor-tables-overview.md
Labels: do-not-merge, Change sent to author, desktop/prod, graphics-gaming/tech

#1231 Add info about WM_CHAR and UTF-16 surrogate pairs
  desktop-src/inputdev/wm-char.md
Labels: do-not-merge, Change sent to author, desktop/prod, desktop-app-ui/tech

#1214 Update about-keyboard-input.md
  desktop-src/inputdev/about-keyboard-input.md
Labels: do-not-merge, Change sent to author, desktop/prod, desktop-app-ui/tech

#1094 Fix Line 17 grammatical error
  desktop-src/apiindex/windows-api-list.md
Labels: do-not-merge, Change sent to author, desktop/prod, sdk-api-reference/tech

#1181 Typo "*DomainName***\\***UserName*"→"*DomainName*__\\__*UserName*"
  desktop-src/SecMgmt/getserviceaccountpassword.md
Labels: do-not-merge, Change sent to author, desktop/prod, security-identity/tech

#1145 Update windows-umbrella-libraries.md
  desktop-src/apiindex/windows-umbrella-libraries.md
Labels: do-not-merge, Change sent to author, desktop/prod, sdk-api-reference/tech

#1138 added spaces to separate text entries
  desktop-src/SecAuthZ/access-rights-and-access-masks.md
Labels: do-not-merge, Change sent to author, desktop/prod, security-identity/tech

#1233 Changed I switch to lowercase i
  desktop-src/Rpc/generating-interface-uuids.md
Labels: do-not-merge, Change sent to author, desktop/prod, networking/tech

#1234 Update dx-graphics-hlsl-part1.md
  desktop-src/direct3dhlsl/dx-graphics-hlsl-part1.md
Labels: do-not-merge, Change sent to author, desktop/prod, graphics-gaming/tech

#1236 desired effects -> undesired effects
  desktop-src/WinSock/using-so-reuseaddr-and-so-exclusiveaddruse.md
Labels: do-not-merge, Change sent to author, desktop/prod, networking/tech

#1230 Update using-sspi-with-a-windows-sockets-client.md
  desktop-src/SecAuthN/using-sspi-with-a-windows-sockets-client.md
Labels: ready-to-merge, Change sent to author, desktop/prod, security-identity/tech

#1114 Updated the Win10 section to show TLS 1.3
  desktop-src/SecAuthN/protocols-in-tls-ssl--schannel-ssp-.md
Labels: do-not-merge, Change sent to author, desktop/prod, security-identity/tech

#1237 Fix MIME type of DDS format
  desktop-src/wic/dds-format-overview.md
Labels: do-not-merge, Change sent to author, desktop/prod, graphics-gaming/tech

#1238 Update numa-support.md
  desktop-src/ProcThread/numa-support.md
Labels: do-not-merge, Change sent to author, desktop/prod, diagnostics/tech

#1240 Update vrs.md
  desktop-src/direct3d12/vrs.md
Labels: do-not-merge, Change sent to author, desktop/prod, graphics-gaming/tech

#1241 Added correct markdown tag for superscript
  desktop-src/Intl/surrogates-and-supplementary-characters.md
Labels: do-not-merge, Change sent to author, desktop/prod, desktop-app-ui/tech

#1243 Correct TLS protocol support on Windows versions
  desktop-src/SecAuthN/protocols-in-tls-ssl--schannel-ssp-.md
Labels: ready-to-merge, Change sent to author, desktop/prod, security-identity/tech

#1247 Update example--getting-wmi-data-from-the-local-computer.md
  desktop-src/WmiSdk/example--getting-wmi-data-from-the-local-computer.md
Labels: do-not-merge, Change sent to author, desktop/prod, server-tech/tech
