Repository MicrosoftDocs/win32, pull requests merged in 2022-11, with the labels that each got.

#1402 Update tls-cipher-suites-in-windows-server-2022.md
  desktop-src/SecAuthN/tls-cipher-suites-in-windows-server-2022.md
Labels: do-not-merge, Change sent to author, desktop/prod, security-identity/tech

#1403 Change bits to bytes where 2 bytes were clearly meant
  desktop-src/medfound/10-bit-and-16-bit-yuv-video-formats.md
Labels: do-not-merge, Change sent to author, desktop/prod, audio-video/tech

#1404 Update dead network monitor link
  desktop-src/NDF/using-network-monitor-to-view-etl-files.md
Labels: do-not-merge, Change sent to author, desktop/prod, diagnostics/tech

#1405 Remove stray lines about using DeviceIoControl
  desktop-src/FileIO/volume-management-control-codes.md
Labels: do-not-merge, Change sent to author, desktop/prod, data-access-storage/tech

#1406 Added Windows Server 2019 to TLS cipher list
  desktop-src/SecAuthN/cipher-suites-in-schannel.md
Labels: do-not-merge, Change sent to author, desktop/prod, security-identity/tech

#1333 Remove content about Shell Extensions Approved registry key
  desktop-src/shell/reg-shell-exts.md
Labels: do-not-merge, Change sent to author, desktop/prod, desktop-environment/tech

#1409 Update primitives-and-commands.md
  desktop-src/OpenGL/primitives-and-commands.md
Labels: do-not-merge, Change sent to author, desktop/prod, graphics-gaming/tech

#1388 Direct3D9: Clarify that Occlusion Queries return the number of samples, not pixels
  desktop-src/direct3d9/d3dquerytype.md
  desktop-src/direct3d9/queries.md
Labels: do-not-merge, Change sent to author, desktop/prod, graphics-gaming/tech

#1413 Clarify that `Texture.Load` accepts texel coordinates, not UV
  desktop-src/direct3dhlsl/dx-graphics-hlsl-to-load.md
Labels: do-not-merge, Change sent to author, desktop/prod, graphics-gaming/tech

#1412 Documenting the instant where timestamps get recorded
  desktop-src/direct3d12/timing.md
Labels: do-not-merge, Change sent to author, desktop/prod, graphics-gaming/tech

#1417 Correct the redistribution policy for DbgHelp
  desktop-src/Debug/dbghelp-versions.md
Labels: do-not-merge, Change sent to author, desktop/prod, diagnostics/tech

#1418 Update using-keyboard-input.md
  desktop-src/inputdev/using-keyboard-input.md
Labels: do-not-merge, Change sent to author, desktop/prod, desktop-app-ui/tech
