Repository MicrosoftDocs/win32, pull requests merged in 2022-08, with the labels that each got.

#1303 Fixed various
  desktop-src/Dlls/dllmain.md
Labels: do-not-merge, Change sent to author, desktop/prod, system-services/tech

#1304 Fixed typo
  desktop-src/WinSock/using-secure-socket-extensions.md
Labels: do-not-merge, Change sent to author, desktop/prod, networking/tech

#1302 Indicate that the AccepteEx function accepts an OVERLAPPED instance
  desktop-src/FileIO/i-o-completion-ports.md
Labels: do-not-merge, Change sent to author, desktop/prod, data-access-storage/tech

#1305 Update protecting-anti-malware-services-.md
  desktop-src/Services/protecting-anti-malware-services-.md
Labels: do-not-merge, Change sent to author, desktop/prod, system-services/tech

#1309 Update sm5-object-rwstructuredbuffer-incrementcounter.md
  desktop-src/direct3dhlsl/sm5-object-rwstructuredbuffer-incrementcounter.md
Labels: do-not-merge, Change sent to author, desktop/prod, graphics-gaming/tech

#1308 Update sm5-object-rwstructuredbuffer-decrementcounter.md
  desktop-src/direct3dhlsl/sm5-object-rwstructuredbuffer-decrementcounter.md
Labels: do-not-merge, Change sent to author, desktop/prod, graphics-gaming/tech

#1307 Update description of IP_MULTICAST_LOOP
  desktop-src/WinSock/ipproto-ip-socket-options.md
Labels: do-not-merge, Change sent to author, desktop/prod, networking/tech

#1310 Add tokenGroups attribute to user security properties
  desktop-src/AD/security-properties.md
Labels: do-not-merge, Change sent to author, desktop/prod, security-identity/tech

#1314 Use codeblock to show signtool command
  desktop-src/SecCrypto/adding-time-stamps-to-previously-signed-files.md
Labels: do-not-merge, Change sent to author, desktop/prod, security-identity/tech

#1206 Remove extra characters
  desktop-src/LearnWin32/overview-of-the-windows-graphics-architecture.md
Labels: ready-to-merge, Change sent to author, desktop/prod, get-started/tech

#1228 Update win32-tslicensekeypack.md
  desktop-src/TermServ/win32-tslicensekeypack.md
Labels: ready-to-merge, Change sent to author, desktop/prod, system-services/tech

#1187 Improve documentation of functions in Delay-Loaded DLLs section
  desktop-src/DevNotes/delayloadfailurehook.md
  desktop-src/DevNotes/resolvedelayloadedapi.md
  desktop-src/DevNotes/resolvedelayloadsfromdll.md
Labels: ready-to-merge, Change sent to author, review-team-triage, desktop/prod, system-services/tech

#1253 Added '_T' alternative to 'TEXT' macro
  desktop-src/LearnWin32/working-with-strings.md
Labels: ready-to-merge, Change sent to author, desktop/prod, get-started/tech

#1267 Fix typo.
  desktop-src/Win7AppQual/inernet-explorer-compatibility-test-tool--iectt-.md
Labels: ready-to-merge, Change sent to author, desktop/prod, get-started/tech

#1260 Update rules-for-using-pointers.md
  desktop-src/WinProg64/rules-for-using-pointers.md
Labels: ready-to-merge, Change sent to author, desktop/prod, get-started/tech

#1245 Update creating-an-object-in-com.md
  desktop-src/LearnWin32/creating-an-object-in-com.md
Labels: ready-to-merge, Change sent to author, desktop/prod, get-started/tech

#1315 Update how-to--integrate-x3daudio-with-xaudio2.md
  desktop-src/xaudio2/how-to--integrate-x3daudio-with-xaudio2.md
Labels: do-not-merge, Change sent to author, desktop/prod, graphics-gaming/tech

#1313 Update device-properties.md
  desktop-src/CoreAudio/device-properties.md
Labels: ready-to-merge, Change sent to author, desktop/prod, audio-video/tech

#1282 Fixed the table formatting and contained code
  desktop-src/Msi/transforms.md
Labels: ready-to-merge, Change sent to author, desktop/prod, installation-servicing/tech

#1216 Update mf-mt-min-mastering-luminance.md
  desktop-src/medfound/mf-mt-min-mastering-luminance.md
Labels: ready-to-merge, Change sent to author, desktop/prod, audio-video/tech

#1207 Document supported bitrates for 5.1 channel audio
  desktop-src/medfound/aac-encoder.md
Labels: do-not-merge, Change sent to author, desktop/prod, audio-video/tech

#1317 Fix missing word in D3D10 block compression docs
  desktop-src/direct3d10/d3d10-graphics-programming-guide-resources-block-compression.md
Labels: do-not-merge, Change sent to author, desktop/prod, graphics-gaming/tech
