Repository MicrosoftDocs/win32, pull requests merged in 2022-04, with the labels that each got.

#1186 Fix definition of nit
  desktop-src/direct3darticles/high-dynamic-range.md
Labels: do-not-merge, Change sent to author, desktop/prod, graphics-gaming/tech

#1166 Format code
  desktop-src/SbsCs/using-the-activation-context-api.md
Labels: do-not-merge, Change sent to author, desktop/prod, installation-servicing/tech

#1188 Fixed typo
  desktop-src/direct3dhlsl/sv-innercoverage.md
Labels: do-not-merge, Change sent to author, desktop/prod, graphics-gaming/tech

#1191 Add architecture const for ARM64
  desktop-src/CIMWin32Prov/win32-processor.md
Labels: do-not-merge, Change sent to author, desktop/prod, server-tech/tech

#1190 Fix encoding error
  desktop-src/com/marshaling-details.md
Labels: do-not-merge, Change sent to author, review-team-triage, desktop/prod, system-services/tech

#1192 Update win32-logicaldisk.md
  desktop-src/CIMWin32Prov/win32-logicaldisk.md
Labels: do-not-merge, Change sent to author, desktop/prod, server-tech/tech

#1194 Update about-keyboard-input.md
  desktop-src/inputdev/about-keyboard-input.md
Labels: do-not-merge, Change sent to author, desktop/prod, desktop-app-ui/tech

#1195 Clarification on the maximum value of VolumeLength
  desktop-src/FileIO/exfat-specification.md
Labels: do-not-merge, Change sent to author, desktop/prod, data-access-storage/tech

#1189 [WIP] AMPPL: Document EKU evalation semantics
  desktop-src/Services/protecting-anti-malware-services-.md
Labels: do-not-merge, Change sent to author, desktop/prod, system-services/tech

#1202 Fixing link to expp (partial precision 2^x)
  desktop-src/direct3dhlsl/dx9-graphics-reference-asm-vs-instructions-vs-2-x.md
Labels: do-not-merge, Change sent to author, desktop/prod, graphics-gaming/tech

#1201 Fixing link to expp (partial precision 2^x)
  desktop-src/direct3dhlsl/dx9-graphics-reference-asm-vs-instructions-vs-2-0.md
Labels: do-not-merge, Change sent to author, desktop/prod, graphics-gaming/tech

#1200 Fixing link to expp (partial precision 2^x)
  desktop-src/direct3dhlsl/dx9-graphics-reference-asm-vs-instructions-vs-1-1.md
Labels: do-not-merge, Change sent to author, desktop/prod, graphics-gaming/tech

#1199 Fixing link to expp (partial precision 2^x)
  desktop-src/direct3dhlsl/dx9-graphics-reference-asm-vs-instructions-vs-3-0.md
Labels: do-not-merge, Change sent to author, desktop/prod, graphics-gaming/tech

#1203 Fix typo
  desktop-src/direct3dhlsl/sm5-object-rwbyteaddressbuffer-interlockedcomparestore.md
Labels: do-not-merge, Change sent to author, desktop/prod, graphics-gaming/tech

#1204 Update microsoft-ntlm.md
  desktop-src/SecAuthN/microsoft-ntlm.md
Labels: ready-to-merge, Change sent to author, desktop/prod, security-identity/tech

#1205 Add the missing spaces
  desktop-src/com/translating-to-vbscript-from-jscript.md
Labels: do-not-merge, Change sent to author, desktop/prod, system-services/tech

#1198 Fixed typo and removed unneeded blank spaces
  desktop-src/SecCNG/signing-data-with-cng.md
Labels: do-not-merge, Change sent to author, desktop/prod, security-identity/tech

#1193 Fix some links in the Windows API index
  desktop-src/apiindex/windows-api-list.md
Labels: do-not-merge, Change sent to author, desktop/prod, sdk-api-reference/tech

#1211 Add links to DirectXMatrixStack.h for DirectXMath
  desktop-src/direct3d10/d3d10-d3dxcreatematrixstack.md
  desktop-src/direct3d10/d3d10-id3dxmatrixstack.md
  desktop-src/direct3d10/id3dxmatrixstack-gettop.md
  desktop-src/direct3d10/id3dxmatrixstack-loadidentity.md
  desktop-src/direct3d10/id3dxmatrixstack-loadmatrix.md
  desktop-src/direct3d10/id3dxmatrixstack-multmatrix.md
  desktop-src/direct3d10/id3dxmatrixstack-multmatrixlocal.md
  desktop-src/direct3d10/id3dxmatrixstack-pop.md
  desktop-src/direct3d10/id3dxmatrixstack-push.md
  desktop-src/direct3d10/id3dxmatrixstack-rotateaxis.md
  desktop-src/direct3d10/id3dxmatrixstack-rotateaxislocal.md
  desktop-src/direct3d10/id3dxmatrixstack-rotateyawpitchroll.md
  desktop-src/direct3d10/id3dxmatrixstack-rotateyawpitchrolllocal.md
  desktop-src/direct3d10/id3dxmatrixstack-scale.md
  desktop-src/direct3d10/id3dxmatrixstack-scalelocal.md
  desktop-src/direct3d10/id3dxmatrixstack-translate.md
  desktop-src/direct3d10/id3dxmatrixstack-translatelocal.md
  desktop-src/direct3d9/d3dxcreatematrixstack.md
  desktop-src/direct3d9/id3dxmatrixstack--gettop.md
  desktop-src/direct3d9/id3dxmatrixstack--loadidentity.md
  desktop-src/direct3d9/id3dxmatrixstack--loadmatrix.md
  desktop-src/direct3d9/id3dxmatrixstack--multmatrix.md
  desktop-src/direct3d9/id3dxmatrixstack--multmatrixlocal.md
  desktop-src/direct3d9/id3dxmatrixstack--pop.md
  desktop-src/direct3d9/id3dxmatrixstack--push.md
  desktop-src/direct3d9/id3dxmatrixstack--rotateaxis.md
  desktop-src/direct3d9/id3dxmatrixstack--rotateaxislocal.md
  desktop-src/direct3d9/id3dxmatrixstack--rotateyawpitchroll.md
  desktop-src/direct3d9/id3dxmatrixstack--rotateyawpitchrolllocal.md
  desktop-src/direct3d9/id3dxmatrixstack--scale.md
  desktop-src/direct3d9/id3dxmatrixstack--scalelocal.md
  desktop-src/direct3d9/id3dxmatrixstack--translate.md
  desktop-src/direct3d9/id3dxmatrixstack--translatelocal.md
  desktop-src/direct3d9/id3dxmatrixstack.md
  desktop-src/direct3d9/matrix-stacks.md
Labels: do-not-merge, Change sent to author, review-team-triage, desktop/prod, graphics-gaming/tech

#1210 Add links to open source version of SHMath
  desktop-src/direct3d10/d3d10-d3dxshadd.md
  desktop-src/direct3d10/d3d10-d3dxshdot.md
  desktop-src/direct3d10/d3d10-d3dxshevalconelight.md
  desktop-src/direct3d10/d3d10-d3dxshevaldirection.md
  desktop-src/direct3d10/d3d10-d3dxshevaldirectionallight.md
  desktop-src/direct3d10/d3d10-d3dxshevalhemispherelight.md
  desktop-src/direct3d10/d3d10-d3dxshevalsphericallight.md
  desktop-src/direct3d10/d3d10-d3dxshmultiply2.md
  desktop-src/direct3d10/d3d10-d3dxshmultiply3.md
  desktop-src/direct3d10/d3d10-d3dxshmultiply4.md
  desktop-src/direct3d10/d3d10-d3dxshmultiply5.md
  desktop-src/direct3d10/d3d10-d3dxshmultiply6.md
  desktop-src/direct3d10/d3d10-d3dxshrotate.md
  desktop-src/direct3d10/d3d10-d3dxshrotatez.md
  desktop-src/direct3d10/d3d10-d3dxshscale.md
  desktop-src/direct3d11/d3dx11shprojectcubemap.md
  desktop-src/direct3d9/d3dxshadd.md
  desktop-src/direct3d9/d3dxshdot.md
  desktop-src/direct3d9/d3dxshevalconelight.md
  desktop-src/direct3d9/d3dxshevaldirection.md
  desktop-src/direct3d9/d3dxshevaldirectionallight.md
  desktop-src/direct3d9/d3dxshevalhemispherelight.md
  desktop-src/direct3d9/d3dxshevalsphericallight.md
  desktop-src/direct3d9/d3dxshmultiply2.md
  desktop-src/direct3d9/d3dxshrotate.md
  desktop-src/direct3d9/d3dxshrotatez.md
  desktop-src/direct3d9/d3dxshscale.md
Labels: do-not-merge, Change sent to author, desktop/prod, graphics-gaming/tech

#1209 Update cryptography-tools.md
  desktop-src/SecCrypto/cryptography-tools.md
Labels: ready-to-merge, Change sent to author, desktop/prod, security-identity/tech

#1217 Fix new Direct Show samples location
  desktop-src/DirectShow/directshow-samples.md
Labels: do-not-merge, Change sent to author, desktop/prod, graphics-gaming/tech
