Repository MicrosoftDocs/win32, pull requests merged in 2022-07, with the labels that each got.

#1283 EndQuery is supported by compute command lists
  desktop-src/direct3d12/user-mode-heap-synchronization.md
Labels: do-not-merge, Change sent to author, desktop/prod, graphics-gaming/tech

#1285 Update DRED document with links.
  desktop-src/direct3d12/use-dred.md
Labels: do-not-merge, Change sent to author, desktop/prod, graphics-gaming/tech

#1286 Update i-o-completion-ports.md
  desktop-src/FileIO/i-o-completion-ports.md
Labels: do-not-merge, Change sent to author, desktop/prod, data-access-storage/tech

#1287 Update obtaining-registry-data.md, minor grammatical error
  desktop-src/WmiSdk/obtaining-registry-data.md
Labels: do-not-merge, Change sent to author, desktop/prod, server-tech/tech

#1290 added link
  desktop-src/SecCrypto/setreg.md
Labels: do-not-merge, Change sent to author, desktop/prod, security-identity/tech

#1292 win32-operatingsystem sku 175
  desktop-src/CIMWin32Prov/win32-operatingsystem.md
Labels: do-not-merge, Change sent to author, desktop/prod, server-tech/tech

#1295 Fix typo in transactional-ntfs-portal.md
  desktop-src/FileIO/transactional-ntfs-portal.md
Labels: do-not-merge, Change sent to author, desktop/prod, data-access-storage/tech

#1299 Typo "No respose ot ～"→"No response to ～"
  desktop-src/com/com-error-codes-9.md
Labels: do-not-merge, Change sent to author, desktop/prod, system-services/tech

#1300 Update reflection.md
  desktop-src/gdi/reflection.md
Labels: do-not-merge, Change sent to author, desktop/prod, desktop-app-ui/tech

#1296 Update a-tokengroups.md
  desktop-src/ADSchema/a-tokengroups.md
Labels: do-not-merge, Change sent to author, desktop/prod, security-identity/tech
