Repository MicrosoftDocs/win32, pull requests merged in 2022-01, with the labels that each got.

#1091 Fix typo in comparing-direct2d-and-gdi.md
  desktop-src/Direct2D/comparing-direct2d-and-gdi.md
Labels: do-not-merge, Change sent to author, desktop/prod, graphics-gaming/tech

#1090 Fix a link.
  desktop-src/gdiplus/-gdiplus-pathiterator-flat.md
Labels: do-not-merge, Change sent to author, desktop/prod, desktop-app-ui/tech

#1095 Fix XML tags and corrected start time
  desktop-src/TaskSchd/taskschedulerschema-daysofmonth-monthlyscheduletype-element.md
Labels: do-not-merge, Change sent to author, desktop/prod, server-tech/tech

#1098 Update svc-cpp.md
  desktop-src/Services/svc-cpp.md
Labels: do-not-merge, Change sent to author, desktop/prod, system-services/tech

#1099 Updated Return Value status explanation
  desktop-src/Power/ioctl-battery-query-information.md
Labels: do-not-merge, Change sent to author, desktop/prod, system-services/tech

#1097 Update architecture-and-interoperability.md
  desktop-src/WinAuto/architecture-and-interoperability.md
Labels: do-not-merge, Change sent to author, desktop/prod, accessibility/tech

#1089 Clarify the purpose of PROCESS_CREATE_PROCESS
  desktop-src/ProcThread/process-security-and-access-rights.md
Labels: do-not-merge, Change sent to author, review-team-triage, desktop/prod, diagnostics/tech

#1087 Update using-netsh-to-manage-traces.md
  desktop-src/NDF/using-netsh-to-manage-traces.md
Labels: do-not-merge, Change sent to author, desktop/prod, diagnostics/tech

#1100 Update dds-file-layout-for-volume-textures.md
  desktop-src/direct3ddds/dds-file-layout-for-volume-textures.md
Labels: do-not-merge, Change sent to author, review-team-triage, desktop/prod, graphics-gaming/tech

#1101 Update ray_flag.md
  desktop-src/direct3d12/ray_flag.md
Labels: do-not-merge, Change sent to author, desktop/prod, graphics-gaming/tech

#1085 Update "Hungarian notation" to explain it is discouraged by core guid…
  desktop-src/LearnWin32/windows-coding-conventions.md
Labels: do-not-merge, Change sent to author, desktop/prod, get-started/tech

#1104 Update -search-ifilter-registering-filters.md
  desktop-src/search/-search-ifilter-registering-filters.md
Labels: do-not-merge, Change sent to author, desktop/prod, desktop-environment/tech

#1010 formatting: menurc versioninfo- update PE metadata
  desktop-src/menurc/versioninfo-resource.md
Labels: do-not-merge, Change sent to author, desktop/prod, desktop-app-ui/tech

#988 Updated MCN_GETDAYSTATE topic
  desktop-src/Controls/mcn-getdaystate.md
Labels: Change sent to author, desktop/prod, desktop-app-ui/tech

#1107 Update virtual-key-codes.md
  desktop-src/inputdev/virtual-key-codes.md
Labels: do-not-merge, Change sent to author, desktop/prod, desktop-app-ui/tech

#1109 Update best-practices-for-directcomposition.md
  desktop-src/directcomp/best-practices-for-directcomposition.md
Labels: do-not-merge, Change sent to author, desktop/prod, graphics-gaming/tech

#1110 Update dx-graphics-dxgi-overviews.md
  desktop-src/direct3ddxgi/dx-graphics-dxgi-overviews.md
Labels: do-not-merge, Change sent to author, desktop/prod, graphics-gaming/tech

#1113 Update DirectX Technical Article
  desktop-src/DxTechArts/disabling-shortcut-keys-in-games.md
Labels: do-not-merge, Change sent to author, desktop/prod, graphics-gaming/tech

#1096 fix broken link
  desktop-src/DevNotes/--c-specific-handler2.md
Labels: do-not-merge, Change sent to author, desktop/prod, system-services/tech

#1036 Fixed spelling error
  desktop-src/LearnWin32/learn-to-program-for-windows.md
Labels: ready-to-merge, Change sent to author, desktop/prod, get-started/tech

#1115 Cleanup LocalServer32 docs, eliminate mentions of 32bit applications,…
  desktop-src/com/localserver32.md
Labels: do-not-merge, Change sent to author, desktop/prod, system-services/tech
