Repository MicrosoftDocs/win32, pull requests merged in 2022-06, with the labels that each got.

#1250 Typo "-see-also"→"See also"
  desktop-src/menurc/enumerating-resources.md
Labels: do-not-merge, Change sent to author, desktop/prod, desktop-app-ui/tech

#1246 Update file-attribute-constants.md
  desktop-src/FileIO/file-attribute-constants.md
Labels: ready-to-merge, Change sent to author, desktop/prod, data-access-storage/tech

#1254 Update dx-graphics-hlsl-buffer.md
  desktop-src/direct3dhlsl/dx-graphics-hlsl-buffer.md
Labels: do-not-merge, Change sent to author, desktop/prod, graphics-gaming/tech

#1255 Update audio-and-video.md
  desktop-src/audio-and-video.md
Labels: do-not-merge, Change sent to author, desktop/prod, audio-video/tech

#1251 D3DHLSL: Rename EvaluateAttributeAtCentroid
  desktop-src/direct3dhlsl/d3d11-graphics-reference-sm5-intrinsics.md
  desktop-src/direct3dhlsl/dx-graphics-hlsl-intrinsic-functions.md
  desktop-src/direct3dhlsl/evaluateattributecentroid.md
  desktop-src/direct3dhlsl/toc.yml
Labels: do-not-merge, Change sent to author, desktop/prod, graphics-gaming/tech

#1256 Update registry-element-size-limits.md
  desktop-src/SysInfo/registry-element-size-limits.md
Labels: do-not-merge, Change sent to author, desktop/prod, system-services/tech

#1257 Update AVDecVideoAcceleration_H264 to call out MF behavior
  desktop-src/DirectShow/avdecvideoacceleration-h264-property.md
Labels: do-not-merge, Change sent to author, desktop/prod, graphics-gaming/tech

#1258 Add a missing space
  desktop-src/WinSock/using-so-reuseaddr-and-so-exclusiveaddruse.md
Labels: do-not-merge, Change sent to author, desktop/prod, networking/tech

#1261 Fixed the the -> the
  desktop-src/FileIO/moving-and-replacing-files.md
Labels: ready-to-merge, Change sent to author, desktop/prod, data-access-storage/tech

#1262 Remove dead link from asf-file-structure.md
  desktop-src/medfound/asf-file-structure.md
Labels: do-not-merge, Change sent to author, desktop/prod, audio-video/tech

#1263 Update creating-descriptors.md
  desktop-src/direct3d12/creating-descriptors.md
Labels: do-not-merge, Change sent to author, desktop/prod, graphics-gaming/tech

#1265 Literally one "
  desktop-src/shell/launch.md
Labels: Change sent to author, desktop/prod, desktop-environment/tech

#1266 Update dx-graphics-hlsl-buffer.md
  desktop-src/direct3dhlsl/dx-graphics-hlsl-buffer.md
Labels: do-not-merge, Change sent to author, review-team-triage, desktop/prod, graphics-gaming/tech

#1268 Fix typo on page: 'UAV' should be 'SRV'
  desktop-src/direct3dhlsl/sm5-object-structuredbuffer.md
Labels: do-not-merge, Change sent to author, desktop/prod, graphics-gaming/tech

#1270 It's LPCWSTR and not LPWSTR
  desktop-src/Dlls/creating-a-simple-dynamic-link-library.md
Labels: do-not-merge, Change sent to author, desktop/prod, system-services/tech

#1264 Update quality-of-service.md
  desktop-src/ProcThread/quality-of-service.md
Labels: do-not-merge, Change sent to author, desktop/prod, diagnostics/tech

#1272 Add link to WinSDK
  desktop-src/Rpc/developing-32-bit-windows-applications.md
Labels: do-not-merge, Change sent to author, desktop/prod, networking/tech

#1196 CoreAudio: list audio endpoint properties in one place
  desktop-src/CoreAudio/audio-endpoint-properties.md
  desktop-src/CoreAudio/core-audio-properties.md
  desktop-src/CoreAudio/device-properties.md
Labels: do-not-merge, Change sent to author, desktop/prod, audio-video/tech

#1242 Add info on available keyboard layouts
  desktop-src/winmsg/wm-inputlangchange.md
Labels: do-not-merge, Change sent to author, desktop/prod, desktop-app-ui/tech

#1275 Update object-roles.md: removed a repeated word
  desktop-src/WinAuto/object-roles.md
Labels: do-not-merge, Change sent to author, desktop/prod, accessibility/tech

#1276 Update virtual-key-codes.md
  desktop-src/inputdev/virtual-key-codes.md
Labels: do-not-merge, Change sent to author, review-team-triage, desktop/prod, desktop-app-ui/tech

#1277 Fix Symbol Name Representation link
  desktop-src/Debug/pe-format.md
Labels: do-not-merge, Change sent to author, desktop/prod, diagnostics/tech

#1278 Update memory-limits-for-windows-releases.md
  desktop-src/Memory/memory-limits-for-windows-releases.md
Labels: ready-to-merge, Change sent to author, desktop/prod, system-services/tech

#1280 Update reporting-an-event.md
  desktop-src/EventLog/reporting-an-event.md
Labels: do-not-merge, Change sent to author, desktop/prod, diagnostics/tech

#1281 Clarify that HLSL Interlocked* intrinsics don't imply any fence/barrier.
  desktop-src/direct3dhlsl/interlockedadd.md
  desktop-src/direct3dhlsl/interlockedand.md
  desktop-src/direct3dhlsl/interlockedcompareexchange.md
  desktop-src/direct3dhlsl/interlockedcomparestore.md
  desktop-src/direct3dhlsl/interlockedexchange.md
  desktop-src/direct3dhlsl/interlockedmax.md
  desktop-src/direct3dhlsl/interlockedmin.md
  desktop-src/direct3dhlsl/interlockedor.md
  desktop-src/direct3dhlsl/interlockedxor.md
Labels: do-not-merge, Change sent to author, desktop/prod, graphics-gaming/tech
