Repository MicrosoftDocs/win32, pull requests merged in 2022-10, with the labels that each got.

#1355 Fixed Href Tag for "Shell"
  desktop-src/shell/autorun-cmds.md
Labels: Change sent to author, desktop/prod, desktop-environment/tech

#1357 Installation source is listed incorrectly
  desktop-src/Msi/orca-exe.md
Labels: do-not-merge, Change sent to author, desktop/prod, installation-servicing/tech

#1358 Fixed typo in RPC_BINDING_HANDLE
  desktop-src/Rpc/rpc-binding-handle.md
Labels: do-not-merge, Change sent to author, desktop/prod, networking/tech

#1360 Invalid type declaration for ErrorHandler
  desktop-src/ProcThread/creating-threads.md
Labels: do-not-merge, Change sent to author, desktop/prod, diagnostics/tech

#1361 Update management-filtering-layer-identifiers-.md
  desktop-src/FWP/management-filtering-layer-identifiers-.md
Labels: do-not-merge, Change sent to author, desktop/prod, networking/tech

#1363 Fix table of contents links
  desktop-src/search/-search-savedsearchfileformat.md
Labels: Change sent to author, desktop/prod, desktop-environment/tech

#1359 Update notification-area.md
  desktop-src/shell/notification-area.md
Labels: Change sent to author, desktop/prod, desktop-environment/tech

#1367 Update -gdiplus-graphics-flat.md
  desktop-src/gdiplus/-gdiplus-graphics-flat.md
Labels: do-not-merge, Change sent to author, desktop/prod, desktop-app-ui/tech

#1365 Update manifest-file-schema.md
  desktop-src/SbsCs/manifest-file-schema.md
Labels: do-not-merge, Change sent to author, desktop/prod, installation-servicing/tech

#1368 Add DX12 device creation details
  desktop-src/direct3darticles/directx-warp.md
Labels: do-not-merge, Change sent to author, desktop/prod, graphics-gaming/tech

#1370 Prevent compilation failure with error C2664
  desktop-src/ToolHelp/taking-a-snapshot-and-viewing-processes.md
Labels: do-not-merge, Change sent to author, desktop/prod, diagnostics/tech

#1369 Fix minor typo
  desktop-src/wcs/display-calibration-mhc.md
Labels: do-not-merge, Change sent to author, desktop/prod, desktop-environment/tech

#1174 Update exfat-specification.md
  desktop-src/FileIO/exfat-specification.md
Labels: do-not-merge, Change sent to author, desktop/prod, data-access-storage/tech

#1375 Update -gdiplus-graphics-flat.md
  desktop-src/gdiplus/-gdiplus-graphics-flat.md
Labels: do-not-merge, Change sent to author, desktop/prod, desktop-app-ui/tech

#1376 Update -gdiplus-fontfamily-flat.md
  desktop-src/gdiplus/-gdiplus-fontfamily-flat.md
Labels: do-not-merge, Change sent to author, desktop/prod, desktop-app-ui/tech

#1380 Update -gdiplus-pen-flat.md
  desktop-src/gdiplus/-gdiplus-pen-flat.md
Labels: do-not-merge

#1383 Update -gdiplus-font-flat.md
  desktop-src/gdiplus/-gdiplus-font-flat.md
Labels: do-not-merge

#1298 ETW Autologgers are not configured with EnabeTraceEx2
  desktop-src/ETW/configuring-and-starting-an-autologger-session.md
Labels: do-not-merge, Change sent to author, desktop/prod, diagnostics/tech

#1348 In windows-touch-gestures-overview.md correct Legacy Support section
  desktop-src/wintouch/windows-touch-gestures-overview.md
Labels: do-not-merge, Change sent to author, desktop/prod, desktop-app-ui/tech

#1350 Update defining-tasks-and-opcodes.md
  desktop-src/WES/defining-tasks-and-opcodes.md
Labels: do-not-merge, Change sent to author, desktop/prod, diagnostics/tech

#1352 proper link to "Debugging Tools for Windows"
  desktop-src/Debug/using-symstore.md
Labels: do-not-merge, Change sent to author, desktop/prod, diagnostics/tech

#1362 update keyboard-input.md
  desktop-src/LearnWin32/keyboard-input.md
Labels: do-not-merge, Change sent to author, desktop/prod, get-started/tech

#971 Update text-ui.md
  desktop-src/uxguide/text-ui.md
Labels: do-not-merge, Change sent to author, desktop/prod, design/tech

#963 Update ctrl-command-buttons.md
  desktop-src/uxguide/ctrl-command-buttons.md
Labels: do-not-merge, Change sent to author, desktop/prod, design/tech

#1382 Direct3D HDR: Fix parenthesis in `simpleReinhardTonemapper`
  desktop-src/direct3darticles/high-dynamic-range.md
Labels: do-not-merge, Change sent to author, desktop/prod, graphics-gaming/tech

#1381 Update callshader-function.md
  desktop-src/direct3d12/callshader-function.md
Labels: do-not-merge, Change sent to author, desktop/prod, graphics-gaming/tech

#1372 updating document details
  desktop-src/AD/polling-for-changes-using-the-dirsync-control.md
Labels: do-not-merge, Change sent to author, desktop/prod, security-identity/tech

#1385 Update OLE/COM Object Viewer doc for 2022
  desktop-src/com/ole-com-object-viewer.md
Labels: do-not-merge, Change sent to author, desktop/prod, system-services/tech

#1390 Move Algorithm Constants to appropriate sections
  desktop-src/SecCNG/cng-algorithm-pseudo-handles.md
Labels: do-not-merge, Change sent to author, desktop/prod, security-identity/tech

#1391 Fix SOV wrong term. It stands for "Stream Output View", not "Shader Object View".
  desktop-src/direct3d12/resource-binding-flow-of-control.md
Labels: do-not-merge, Change sent to author, desktop/prod, graphics-gaming/tech

#1386 Fix ERROR_INVALID_PARAMETER in ReadFile/WriteFile
  desktop-src/ipc/named-pipe-server-using-overlapped-i-o.md
Labels: do-not-merge, Change sent to author, desktop/prod, system-services/tech

#1392 Update using-cursors.md
  desktop-src/menurc/using-cursors.md
Labels: do-not-merge, Change sent to author, desktop/prod, desktop-app-ui/tech

#1349 GameInput API Recommendation
  desktop-src/xinput/xinput-game-controller-apis-portal.md
Labels: do-not-merge, Change sent to author, desktop/prod, graphics-gaming/tech

#1393 Update using-icons.md
  desktop-src/menurc/using-icons.md
Labels: Change sent to author, desktop/prod, desktop-app-ui/tech

#1093 Update working-with-nvme-devices.md
  desktop-src/FileIO/working-with-nvme-devices.md
Labels: do-not-merge, Change sent to author, review-team-triage, desktop/prod, data-access-storage/tech

#1395 Update directx-sdk--august-2009-.md
  desktop-src/directx-sdk--august-2009-.md
Labels: do-not-merge, Change sent to author, desktop/prod, desktop-environment/tech

#1397 Fixed code example setting root constants
  desktop-src/direct3d12/creating-a-root-signature.md
Labels: do-not-merge, Change sent to author, desktop/prod, graphics-gaming/tech

#1398 Update handling-the-wm-getobject-message.md
  desktop-src/WinAuto/handling-the-wm-getobject-message.md
Labels: do-not-merge, Change sent to author, desktop/prod, accessibility/tech

#1399 Update handling-the-wm-getobject-message.md
  desktop-src/WinAuto/handling-the-wm-getobject-message.md
Labels: do-not-merge, Change sent to author, desktop/prod, accessibility/tech

#1400 Update BaseVertexLocation information
  desktop-src/direct3d11/overviews-direct3d-11-resources-buffers-intro.md
Labels: do-not-merge, Change sent to author, desktop/prod, graphics-gaming/tech
