Repository MicrosoftDocs/win32, pull requests merged in 2023-09, with the labels that each got.

#1670 Fix typo in Biometric Framework > adapter-workflow.md
  desktop-src/SecBioMet/adapter-workflow.md
Labels: do-not-merge, Change sent to author, desktop/prod, security-identity/tech

#1673 Fix formatting of HLSL variable precise modifier
  desktop-src/direct3dhlsl/dx-graphics-hlsl-variable-syntax.md
Labels: do-not-merge, Change sent to author, desktop/prod, graphics-gaming/tech

#1674 Update gpu-based-content-protection-d3d11.md
  desktop-src/medfound/gpu-based-content-protection-d3d11.md
Labels: do-not-merge, Change sent to author, desktop/prod, audio-video/tech

#1671 Update synchronization-and-overlapped-input-and-output.md
  desktop-src/Sync/synchronization-and-overlapped-input-and-output.md
Labels: do-not-merge, Change sent to author, desktop/prod, system-services/tech

#1672 Reinstate info about Win32 API for accessing SDR white level
  desktop-src/direct3darticles/high-dynamic-range.md
Labels: do-not-merge, Change sent to author, desktop/prod, graphics-gaming/tech

#1678 Update getting-started-with-directwrite.md
  desktop-src/DirectWrite/getting-started-with-directwrite.md
Labels: do-not-merge, Change sent to author, desktop/prod, graphics-gaming/tech

#1677 Update the-direct2d-api.md
  desktop-src/Direct2D/the-direct2d-api.md
Labels: do-not-merge, Change sent to author, desktop/prod, graphics-gaming/tech

#1679 Fix `ID2D1Transform` link
  desktop-src/Direct2D/custom-effects.md
Labels: do-not-merge, Change sent to author, desktop/prod, graphics-gaming/tech

#1680 Fix parameter type for CalculateThreadgroups
  desktop-src/Direct2D/custom-effects.md
Labels: do-not-merge, Change sent to author, desktop/prod, graphics-gaming/tech

#1681 Added a quick description about xint64_t/xint16_t and float16_t.
  desktop-src/direct3dhlsl/dx-graphics-hlsl-scalar.md
Labels: do-not-merge, Change sent to author, desktop/prod, graphics-gaming/tech

#1684 Fix an issue where touch points are not drawn.
  desktop-src/wintouch/detecting-and-tracking-multiple-touch-points.md
Labels: do-not-merge, Change sent to author, desktop/prod, desktop-app-ui/tech

#1685 Remarks on UB *MemoryBarrierWithGroupSync functions
  desktop-src/direct3dhlsl/allmemorybarrierwithgroupsync.md
  desktop-src/direct3dhlsl/devicememorybarrierwithgroupsync.md
  desktop-src/direct3dhlsl/groupmemorybarrierwithgroupsync.md
Labels: do-not-merge, Change sent to author, desktop/prod, graphics-gaming/tech

#1686 Fix `WaitForSingleObject` links to `RegisterWaitForSingleObject`
  desktop-src/Sync/using-waitable-timer-objects.md
Labels: do-not-merge, Change sent to author, desktop/prod, system-services/tech

#1662 BCM_SETTEXTMARGIN - Add macro mention, make description style consistent with other messages
  desktop-src/Controls/bcm-settextmargin.md
Labels: do-not-merge, Change sent to author, desktop/prod, desktop-app-ui/tech

#1668 Update about-keyboard-input.md
  desktop-src/inputdev/about-keyboard-input.md
Labels: do-not-merge, Change sent to author, desktop/prod, desktop-app-ui/tech

#1669 Toggle Button not allowed in ApplicationMenu
  desktop-src/windowsribbon/windowsribbon-controls-applicationmenu.md
Labels: do-not-merge, Change sent to author, desktop/prod, desktop-app-ui/tech

#1691 Use XML Syntax Highlighting Instead of C++
  desktop-src/Controls/cookbook-overview.md
Labels: do-not-merge, Change sent to author, desktop/prod, desktop-app-ui/tech

#1692 Update backing-up-and-restoring-an-active-directory-server.md
  desktop-src/AD/backing-up-and-restoring-an-active-directory-server.md
Labels: do-not-merge, Change sent to author, desktop/prod, security-identity/tech

#1693 Update considerations-for-active-directory-domain-services-backup.md
  desktop-src/AD/considerations-for-active-directory-domain-services-backup.md
Labels: do-not-merge, Change sent to author, desktop/prod, security-identity/tech

#1694 Update sspi-status-codes.md
  desktop-src/SecAuthN/sspi-status-codes.md
Labels: do-not-merge, Change sent to author, desktop/prod, security-identity/tech

#1696 Update virtual-key-codes.md
  desktop-src/inputdev/virtual-key-codes.md
Labels: do-not-merge, Change sent to author, desktop/prod, desktop-app-ui/tech

#1697 min--sm4---asm-.md Fix typo in specials table
  desktop-src/direct3dhlsl/min--sm4---asm-.md
Labels: do-not-merge, Change sent to author, desktop/prod, graphics-gaming/tech

#1698 Add link for `Wow64GetThreadContext` in debugging functions
  desktop-src/Debug/debugging-functions.md
Labels: do-not-merge, Change sent to author, desktop/prod, diagnostics/tech

#1703 Remove invalid download links from WMI troubleshooting
  desktop-src/WmiSdk/wmi-troubleshooting.md
Labels: do-not-merge, Change sent to author, desktop/prod, server-tech/tech

#1701 Update d3dpool.md
  desktop-src/direct3d9/d3dpool.md
Labels: do-not-merge, Change sent to author, desktop/prod, graphics-gaming/tech

#1700 Update direct3d-surfaces.md
  desktop-src/direct3d9/direct3d-surfaces.md
Labels: do-not-merge, Change sent to author, desktop/prod, graphics-gaming/tech

#1705 Update about-keyboard-input.md
  desktop-src/inputdev/about-keyboard-input.md
Labels: do-not-merge, Change sent to author, desktop/prod, desktop-app-ui/tech

#1704 Update high-dynamic-range.md
  desktop-src/direct3darticles/high-dynamic-range.md
Labels: do-not-merge, Change sent to author, desktop/prod, graphics-gaming/tech

#1708 VS2022 build fix
  desktop-src/Http/http-server-sample-application.md
Labels: do-not-merge, Change sent to author, desktop/prod, networking/tech

#1706 Fix VFW_S_NO_STOP_TIME value
  desktop-src/DirectShow/error-and-success-codes.md
Labels: do-not-merge, Change sent to author, desktop/prod, graphics-gaming/tech

#1709 Update using-waitable-timer-objects.md
  desktop-src/Sync/using-waitable-timer-objects.md
Labels: do-not-merge, Change sent to author, desktop/prod, system-services/tech
