Repository MicrosoftDocs/win32, pull requests merged in 2023-02, with the labels that each got.

#1452 Update -robust.md
  desktop-src/Midl/-robust.md
Labels: do-not-merge, Change sent to author, desktop/prod, system-services/tech

#1410 Add API reference to portal page
  desktop-src/comp_swapchain/comp-swapchain-portal.md
Labels: do-not-merge, Change sent to author, desktop/prod, desktop-app-ui/tech

#1453 add missed `}`
  desktop-src/DirectShow/main-cpp.md
Labels: do-not-merge, Change sent to author, desktop/prod, graphics-gaming/tech

#1319 file-system-redirector: Fix broken links
  desktop-src/WinProg64/file-system-redirector.md
Labels: ready-to-merge, Change sent to author, desktop/prod, get-started/tech

#1321 Update mouse-movement.md
  desktop-src/LearnWin32/mouse-movement.md
Labels: ready-to-merge, Change sent to author, desktop/prod, get-started/tech

#1326 Update windows-data-types.md
  desktop-src/WinProg/windows-data-types.md
Labels: ready-to-merge, Change sent to author, desktop/prod, get-started/tech

#1215 Update using-messages-and-message-queues.md
  desktop-src/winmsg/using-messages-and-message-queues.md
Labels: ready-to-merge, Change sent to author, desktop/prod, desktop-app-ui/tech

#1414 Add app manifest compatibility code snippet for making it easy for most of developers (on windows 10 and 11)
  desktop-src/winmsg/using-windows.md
Labels: ready-to-merge, Change sent to author, desktop/prod, desktop-app-ui/tech

#1455 Fix spelling in root-signatures-overview
  desktop-src/direct3d12/root-signatures-overview.md
Labels: do-not-merge, Change sent to author, desktop/prod, graphics-gaming/tech

#1483 Missing ItemIndex method
  desktop-src/WmiSdk/swbemobjectset.md
Labels: do-not-merge, Change sent to author, desktop/prod, server-tech/tech

#1487 Add link to WaitForDebugEventEx
  desktop-src/Debug/debugging-functions.md
Labels: do-not-merge, Change sent to author, desktop/prod, diagnostics/tech

#1489 Update a-shafinal.md
  desktop-src/SecCrypto/a-shafinal.md
Labels: do-not-merge, Change sent to author, desktop/prod, security-identity/tech

#1493 Update a-shaupdate.md
  desktop-src/SecCrypto/a-shaupdate.md
Labels: do-not-merge, Change sent to author, desktop/prod, security-identity/tech

#1497 Update microsoft-negotiate.md
  desktop-src/SecAuthN/microsoft-negotiate.md
Labels: do-not-merge, Change sent to author, desktop/prod, security-identity/tech

#1506 Fixed incorrect link
  desktop-src/Sync/using-mutex-objects.md
Labels: do-not-merge

#1516 Update a-accountexpires.md
  desktop-src/ADSchema/a-accountexpires.md
Labels: do-not-merge, Change sent to author, desktop/prod, security-identity/tech

#1517 Update a-accountexpires.md
  desktop-src/ADSchema/a-accountexpires.md
Labels: do-not-merge, Change sent to author, desktop/prod, security-identity/tech

#1371 Fix href for WIA
  desktop-src/toc.yml
Labels: do-not-merge, Change sent to author, review-team-triage, desktop/prod, desktop-environment/tech
