Repository MicrosoftDocs/win32, pull requests merged in 2023-11, with the labels that each got.

#1737 Fix `fd_set` structure reference
  desktop-src/WinSock/maximum-number-of-sockets-supported-2.md
  desktop-src/WinSock/multiple-provider-restrictions-on-select-2.md
  desktop-src/WinSock/toc.yml
  desktop-src/WinSock/upcalls-exposed-by-windows-sockets-2-dll-2.md
  desktop-src/WinSock/winsock-structures.md
Labels: do-not-merge, Change sent to author, desktop/prod, networking/tech

#1736 Update winsock select and fd
  desktop-src/WinSock/select-and-fd---2.md
Labels: do-not-merge, Change sent to author, desktop/prod, networking/tech

#1740 Correct the order of the Feature Level Array
  desktop-src/direct3dgetstarted/work-with-dxgi.md
Labels: do-not-merge, Change sent to author, desktop/prod, graphics-gaming/tech

#1739 Update system-events-and-mouse-messages.md
  desktop-src/tablet/system-events-and-mouse-messages.md
Labels: do-not-merge, Change sent to author, desktop/prod, desktop-app-ui/tech

#1742 Update wavereadlaneat.md
  desktop-src/direct3dhlsl/wavereadlaneat.md
Labels: do-not-merge, Change sent to author, desktop/prod, graphics-gaming/tech

#1745 Update enumerating-registry-subkeys.md
  desktop-src/SysInfo/enumerating-registry-subkeys.md
Labels: do-not-merge, Change sent to author, desktop/prod, system-services/tech

#1749 needs <stdio.h>
  desktop-src/ToolHelp/taking-a-snapshot-and-viewing-processes.md
Labels: do-not-merge, Change sent to author, desktop/prod, diagnostics/tech

#1748 Add missing word in high-dpi-desktop-application-development-on-windows.md
  desktop-src/hidpi/high-dpi-desktop-application-development-on-windows.md
Labels: do-not-merge, Change sent to author, desktop/prod, desktop-environment/tech

#1747 Fix typo in wm-getdpiscaledsize.md
  desktop-src/hidpi/wm-getdpiscaledsize.md
Labels: do-not-merge, Change sent to author, desktop/prod, desktop-environment/tech

#1744 Update high-dpi-desktop-application-development-on-windows.md
  desktop-src/hidpi/high-dpi-desktop-application-development-on-windows.md
Labels: do-not-merge, Change sent to author, desktop/prod, desktop-environment/tech

#1750 List missing Windows 10 versions as not supporting TLS 1.3
  desktop-src/SecAuthN/protocols-in-tls-ssl--schannel-ssp-.md
Labels: do-not-merge, Change sent to author, desktop/prod, security-identity/tech

#1752 Update targeting-stubs-for-specific-32-bit-or-64-bit-platforms.md
  desktop-src/Midl/targeting-stubs-for-specific-32-bit-or-64-bit-platforms.md
Labels: do-not-merge, Change sent to author, desktop/prod, system-services/tech
