Repository MicrosoftDocs/win32, pull requests merged in 2023-08, with the labels that each got.

#1657 Fix check for GetTokenInformation failure
  desktop-src/SecAuthZ/appcontainer-for-legacy-applications-.md
Labels: do-not-merge, Change sent to author, desktop/prod, security-identity/tech

#1658 Fix link by setting the anchor to an ID
  desktop-src/WinInet/query-info-flags.md
Labels: do-not-merge, Change sent to author, desktop/prod, networking/tech

#1659 winsock : client code example include "AF_UNSPEC" wich is incompatible with the server code example
  desktop-src/WinSock/creating-a-socket-for-the-client.md
Labels: do-not-merge, Change sent to author, desktop/prod, networking/tech

#1661 Update sparse-files-and-disk-quota.md
  desktop-src/FileIO/sparse-files-and-disk-quota.md
Labels: do-not-merge, Change sent to author, desktop/prod, data-access-storage/tech

#1577 Update wm-inputlangchange.md
  desktop-src/winmsg/wm-inputlangchange.md
Labels: do-not-merge, Change sent to author, desktop/prod, desktop-app-ui/tech

#1622 Update pe-format.md
  desktop-src/Debug/pe-format.md
Labels: do-not-merge, Change sent to author, desktop/prod, diagnostics/tech

#1663 Correct the link address
  desktop-src/SecMgmt/management-functions.md
Labels: do-not-merge, Change sent to author, desktop/prod, security-identity/tech

#1664 Update windows-remote-management-and-wmi.md
  desktop-src/WinRM/windows-remote-management-and-wmi.md
Labels: do-not-merge, Change sent to author, desktop/prod, server-tech/tech

#1656 Update about-timers.md
  desktop-src/winmsg/about-timers.md
Labels: do-not-merge, Change sent to author, desktop/prod, desktop-app-ui/tech

#1665 Fix typo
  desktop-src/TaskSchd/taskschedulerschema-repetition-triggerbasetype-element.md
Labels: do-not-merge, Change sent to author, desktop/prod, server-tech/tech
