Repository MicrosoftDocs/win32, pull requests merged in 2023-03, with the labels that each got.

#1524 Update user-interface-language-management.md
  desktop-src/Intl/user-interface-language-management.md
Labels: do-not-merge, Change sent to author, desktop/prod, desktop-app-ui/tech

#1527 Update unicode-subset-bitfields.md
  desktop-src/Intl/unicode-subset-bitfields.md
Labels: do-not-merge, Change sent to author, desktop/prod, desktop-app-ui/tech

#1526 Fix PdhVbGetDoubleCounterValue prototype.
  desktop-src/PerfCtrs/pdhvbgetdoublecountervalue.md
Labels: do-not-merge, Change sent to author, desktop/prod, diagnostics/tech

#1528 Correct the Location param for gather HLSL builtins
  desktop-src/direct3dhlsl/t2array-gatherblue-s-float-int2-int2-int2-int2-.md
  desktop-src/direct3dhlsl/t2d-gather-s-float-int-uint-.md
  desktop-src/direct3dhlsl/t2d-gatheralpha-s-float-int-uint-.md
  desktop-src/direct3dhlsl/t2d-gatheralpha-s-float-int2-int2-int2-int2-.md
  desktop-src/direct3dhlsl/t2d-gatheralpha-s-float-int2-int2-int2-int2-uint-.md
  desktop-src/direct3dhlsl/t2d-gatherblue-s-float-int-uint-.md
  desktop-src/direct3dhlsl/t2d-gatherblue-s-float-int2-int2-int2-int2-.md
  desktop-src/direct3dhlsl/t2d-gatherblue-s-float-int2-int2-int2-int2-uint-.md
  desktop-src/direct3dhlsl/t2d-gathergreen-s-float-float-int2-int2-int2-int2-.md
  desktop-src/direct3dhlsl/t2d-gathergreen-s-float-int-uint-.md
  desktop-src/direct3dhlsl/t2d-gathergreen-s-float-int2-int2-int2-int2-uint-.md
  desktop-src/direct3dhlsl/t2d-gatherred-s-float-int-uint-.md
  desktop-src/direct3dhlsl/t2d-gatherred-s-float-int2-int2-int2-int2-.md
  desktop-src/direct3dhlsl/t2d-gatherred-s-float-int2-int2-int2-int2-uint-.md
  desktop-src/direct3dhlsl/t2darray-gather-s-float-int-uint-.md
  desktop-src/direct3dhlsl/t2darray-gatheralpha-s-float-int-uint-.md
  desktop-src/direct3dhlsl/t2darray-gatheralpha-s-float-int2-int2-int2-int2-.md
  desktop-src/direct3dhlsl/t2darray-gatheralpha-s-float-int2-int2-int2-int2-uint-.md
  desktop-src/direct3dhlsl/t2darray-gatherblue-s-float-int-uint-.md
  desktop-src/direct3dhlsl/t2darray-gatherblue-s-float-int2-int2-int2-int2-uint-.md
  desktop-src/direct3dhlsl/t2darray-gathergreen-s-float-int-uint-.md
  desktop-src/direct3dhlsl/t2darray-gathergreen-s-float-int2-int2-int2-int2-.md
  desktop-src/direct3dhlsl/t2darray-gathergreen-s-float-int2-int2-int2-int2-uint-.md
  desktop-src/direct3dhlsl/t2darray-gatherred-s-float-int-uint-.md
  desktop-src/direct3dhlsl/t2darray-gatherred-s-float-int2-int2-int2-int2-.md
  desktop-src/direct3dhlsl/t2darray-gatherred-s-float-int2-int2-int2-int2-uint-.md
  desktop-src/direct3dhlsl/tcube-gather-s-float-uint-.md
  desktop-src/direct3dhlsl/tcube-gatheralpha-s-float-uint-.md
  desktop-src/direct3dhlsl/tcube-gatherblue-s-float-uint-.md
  desktop-src/direct3dhlsl/tcube-gathergreen-s-float-uint-.md
  desktop-src/direct3dhlsl/tcube-gatherred-s-float-uint-.md
  desktop-src/direct3dhlsl/tcubearray-gather-s-float-uint-.md
  desktop-src/direct3dhlsl/tcubearray-gatheralpha-s-float-uint-.md
  desktop-src/direct3dhlsl/tcubearray-gatherblue-s-float-uint-.md
  desktop-src/direct3dhlsl/tcubearray-gathergreen-s-float-uint-.md
  desktop-src/direct3dhlsl/tcubearray-gatherred-s-float-uint-.md
Labels: do-not-merge, Change sent to author, desktop/prod, graphics-gaming/tech

#1458 Break up numbered list into multiple lines
  desktop-src/direct3d12/design-philosophy-of-command-queues-and-command-lists.md
Labels: do-not-merge, Change sent to author, desktop/prod, graphics-gaming/tech

#1457 pseudo-vs--true-blocking-2.md: correct nonsensical reference to 16-bit Windows
  desktop-src/WinSock/pseudo-vs--true-blocking-2.md
Labels: do-not-merge, Change sent to author, desktop/prod, networking/tech

#1440 Remove typo
  desktop-src/CoreAudio/providing-a-custom-ducking-experience.md
Labels: ready-to-merge, Change sent to author, desktop/prod, audio-video/tech

#1419 Fix rendering of assembly file name
  desktop-src/SbsCs/assembly-manifests.md
Labels: ready-to-merge, Change sent to author, desktop/prod, installation-servicing/tech

#1525 child-sessions.md: fix list formatting
  desktop-src/TermServ/child-sessions.md
Labels: do-not-merge, Change sent to author, desktop/prod, system-services/tech

#1530 fix missing content
  desktop-src/TaskSchd/schtasks.md
Labels: do-not-merge, Change sent to author, desktop/prod, server-tech/tech

#1529 Update plane-structure.md
  desktop-src/numerics_h/plane-structure.md
Labels: do-not-merge, Change sent to author, desktop/prod, desktop-environment/tech

#1513 fix typo
  desktop-src/winmsg/messages-and-message-queues.md
Labels: do-not-merge, Change sent to author, desktop/prod, desktop-app-ui/tech

#1379 WM_SETICON: Fix typo
  desktop-src/winmsg/wm-seticon.md
Labels: do-not-merge, Change sent to author, desktop/prod, desktop-app-ui/tech

#1520 Update wm-inputlangchange.md
  desktop-src/winmsg/wm-inputlangchange.md
Labels: do-not-merge, Change sent to author, desktop/prod, desktop-app-ui/tech

#1445 Add more info on Bluetooth device properties
  desktop-src/properties/props-system-deviceinterface-bluetooth-deviceaddress.md
  desktop-src/properties/props-system-deviceinterface-bluetooth-modelnumber.md
  desktop-src/properties/props-system-deviceinterface-bluetooth-vendoridsource.md
Labels: do-not-merge, Change sent to author, desktop/prod, desktop-environment/tech

#1532 Fix typo for listener.md
  desktop-src/wsw/listener.md
Labels: do-not-merge, Change sent to author, desktop/prod, networking/tech

#1535 Reinstate lost n-dashes in filesystem-functionality-comparison.md
  desktop-src/FileIO/filesystem-functionality-comparison.md
Labels: do-not-merge, Change sent to author, desktop/prod, data-access-storage/tech

#1536 Update styling in controlling-a-service-using-sc.md
  desktop-src/Services/controlling-a-service-using-sc.md
Labels: do-not-merge, Change sent to author, desktop/prod, system-services/tech

#1537 Update styling in configuring-a-service-using-sc.md
  desktop-src/Services/configuring-a-service-using-sc.md
Labels: do-not-merge, Change sent to author, desktop/prod, system-services/tech

#1394 Update using-cursors.md
  desktop-src/menurc/using-cursors.md
Labels: do-not-merge, Change sent to author, desktop/prod, desktop-app-ui/tech

#1374 Remove erroneous statement from a past age
  desktop-src/com/translating-to-jscript-from-javascript.md
Labels: do-not-merge, Change sent to author, desktop/prod, system-services/tech

#1538 Improve configuring-a-service-using-sc.md
  desktop-src/Services/configuring-a-service-using-sc.md
Labels: do-not-merge, Change sent to author, desktop/prod, system-services/tech

#1541 Update sc exe docs (final)
  desktop-src/Services/configuring-a-service-using-sc.md
  desktop-src/Services/controlling-a-service-using-sc.md
Labels: do-not-merge, Change sent to author, desktop/prod, system-services/tech

#1542 Update system-power-states.md
  desktop-src/Power/system-power-states.md
Labels: do-not-merge, Change sent to author, desktop/prod, system-services/tech
