Repository MicrosoftDocs/win32, pull requests merged in 2023-04, with the labels that each got.

#1544 Update about-keyboard-input.md
  desktop-src/inputdev/about-keyboard-input.md
Labels: do-not-merge, Change sent to author, desktop/prod, desktop-app-ui/tech

#1543 Update lbn-dblclk.md
  desktop-src/Controls/lbn-dblclk.md
Labels: do-not-merge, Change sent to author, desktop/prod, desktop-app-ui/tech

#1545 Update xaudio2-default-channel-mapping.md
  desktop-src/xaudio2/xaudio2-default-channel-mapping.md
Labels: do-not-merge, Change sent to author, desktop/prod, graphics-gaming/tech

#1546 Fix repeating paragraphs in uniscribe-glossary.md
  desktop-src/Intl/uniscribe-glossary.md
Labels: do-not-merge, Change sent to author, desktop/prod, desktop-app-ui/tech

#1548 Fix typo
  desktop-src/SecCNG/cng-algorithm-identifiers.md
Labels: do-not-merge, Change sent to author, desktop/prod, security-identity/tech

#1551 Fix misplaced closing brace in WndProc
  desktop-src/inputdev/wm-lbuttondown.md
Labels: do-not-merge, Change sent to author, desktop/prod, desktop-app-ui/tech

#1547 Update QPC doc
  desktop-src/SysInfo/acquiring-high-resolution-time-stamps.md
Labels: do-not-merge, Change sent to author, desktop/prod, system-services/tech

#1555 Update pe-format.md
  desktop-src/Debug/pe-format.md
Labels: do-not-merge, Change sent to author

#1554 Docs: Fixed an awkward order of parameters and descriptions
  desktop-src/OpenGL/gluortho2d.md
Labels: do-not-merge, Change sent to author, desktop/prod, graphics-gaming/tech

#1553 Fix setsockopt params in so-keepalive.md
  desktop-src/WinSock/so-keepalive.md
Labels: do-not-merge, Change sent to author, desktop/prod, networking/tech

#1557 Fix wrong link in "Pointer Device Input Stack enumerations"
  desktop-src/input_pointerdevice/enumerations.md
Labels: do-not-merge, Change sent to author, desktop/prod, desktop-app-ui/tech

#1556 spelling
  desktop-src/EventLog/event-data.md
Labels: do-not-merge, Change sent to author, desktop/prod, diagnostics/tech

#1558 Update http-server-api-overview.md
  desktop-src/Http/http-server-api-overview.md
Labels: do-not-merge, Change sent to author, desktop/prod, networking/tech

#1560 Wrong library in pragma. Should be advapi32.lib
  desktop-src/SecAuthZ/enabling-and-disabling-privileges-in-c--.md
Labels: do-not-merge, Change sent to author, desktop/prod, security-identity/tech

#1549 Remove GdipEmfToWmfBits from CachedBitmap page
  desktop-src/gdiplus/-gdiplus-cachedbitmap-flat.md
Labels: do-not-merge, Change sent to author, desktop/prod, desktop-app-ui/tech

#1559 Update to-change-system-profile-versions.md
  desktop-src/wmformat/to-change-system-profile-versions.md
Labels: do-not-merge, Change sent to author, desktop/prod, audio-video/tech

#1562 Fix default value of Direct2D's 2D Affine Transform effect's sharpness property
  desktop-src/Direct2D/2d-affine-transform.md
Labels: do-not-merge, Change sent to author, desktop/prod, graphics-gaming/tech

#657 Update win32-encryptablevolume.md
  desktop-src/SecProv/win32-encryptablevolume.md
Labels: do-not-merge, Change sent to author, desktop/prod, security-identity/tech

#1323 wrong indention corrected
  desktop-src/shell/context-menu-handlers.md
Labels: do-not-merge, Change sent to author, desktop/prod, desktop-environment/tech

#1565 Update about-icons.md
  desktop-src/menurc/about-icons.md
Labels: do-not-merge, Change sent to author, desktop/prod, desktop-app-ui/tech

#1540 Update about-cursors.md
  desktop-src/menurc/about-cursors.md
Labels: do-not-merge, Change sent to author, desktop/prod, desktop-app-ui/tech

#1341 Updated em-inserttable.md
  desktop-src/Controls/em-inserttable.md
Labels: do-not-merge, Change sent to author, desktop/prod, desktop-app-ui/tech
