Repository MicrosoftDocs/win32, pull requests merged in 2023-05, with the labels that each got.

#1567 Change metadata to see exponent operation instead of multiplication
  desktop-src/direct3dhlsl/exp--sm4---asm-.md
Labels: do-not-merge, Change sent to author, desktop/prod, graphics-gaming/tech

#1568 Update xinput-and-directinput.md
  desktop-src/xinput/xinput-and-directinput.md
Labels: do-not-merge, Change sent to author, desktop/prod, graphics-gaming/tech

#1566 Update about-icons.md
  desktop-src/menurc/about-icons.md
Labels: Change sent to author, desktop/prod, desktop-app-ui/tech

#1569 Fix picture-aspect-ratio.md with correct PAR calculation
  desktop-src/medfound/picture-aspect-ratio.md
Labels: do-not-merge, Change sent to author, desktop/prod, audio-video/tech

#1570 Fix formatting issue in example (missing newline)
  desktop-src/menurc/stringtable-resource.md
Labels: do-not-merge, Change sent to author, desktop/prod, desktop-app-ui/tech

#1573 coarse-grained and not course-grained
  desktop-src/Direct2D/server-side-rendering-overview.md
Labels: do-not-merge, Change sent to author, desktop/prod, graphics-gaming/tech

#1575 Updating OS version support
  desktop-src/FWP/management-filtering-layer-identifiers-.md
Labels: do-not-merge, Change sent to author, desktop/prod, networking/tech

#1578 Update dynamic-link-library-best-practices.md
  desktop-src/Dlls/dynamic-link-library-best-practices.md
Labels: do-not-merge, Change sent to author, desktop/prod, system-services/tech

#1574 Explain that '\' can continue a line
  desktop-src/menurc/stringtable-resource.md
Labels: do-not-merge, Change sent to author, desktop/prod, desktop-app-ui/tech

#1572 Update -search-sql-literalvaluecomparison.md
  desktop-src/search/-search-sql-literalvaluecomparison.md
Labels: do-not-merge, Change sent to author, desktop/prod, desktop-environment/tech

#1581 Update high-quality-scale.md
  desktop-src/Direct2D/high-quality-scale.md
Labels: do-not-merge, Change sent to author, desktop/prod, graphics-gaming/tech

#1580 Update lvm-subitemhittest.md
  desktop-src/Controls/lvm-subitemhittest.md
Labels: Change sent to author, desktop/prod, desktop-app-ui/tech

#1584 Update how-to--size-a-window-properly-for-high-dpi-displays.md
  desktop-src/Direct2D/how-to--size-a-window-properly-for-high-dpi-displays.md
Labels: do-not-merge, Change sent to author, desktop/prod, graphics-gaming/tech

#1586 Update pe-format.md
  desktop-src/Debug/pe-format.md
Labels: do-not-merge, Change sent to author, desktop/prod, diagnostics/tech

#1589 Update -wic-about-windows-imaging-codec.md
  desktop-src/wic/-wic-about-windows-imaging-codec.md
Labels: do-not-merge, Change sent to author, desktop/prod, graphics-gaming/tech

#1583 Update lvm-hittest.md
  desktop-src/Controls/lvm-hittest.md
Labels: Change sent to author, desktop/prod, desktop-app-ui/tech

#1591 Update lvm-hasgroup.md
  desktop-src/Controls/lvm-hasgroup.md
Labels: Change sent to author, desktop/prod, desktop-app-ui/tech

#1593 Update lvm-getgroupinfo.md
  desktop-src/Controls/lvm-getgroupinfo.md
Labels: Change sent to author, desktop/prod, desktop-app-ui/tech

#1594 Update lvm-setgroupinfo.md
  desktop-src/Controls/lvm-setgroupinfo.md
Labels: Change sent to author, desktop/prod, desktop-app-ui/tech

#1598 Update lvm-removeallgroups.md
  desktop-src/Controls/lvm-removeallgroups.md
Labels: Change sent to author, desktop/prod, desktop-app-ui/tech

#1599 Update lvm-hasgroup.md
  desktop-src/Controls/lvm-hasgroup.md
Labels: Change sent to author, desktop/prod, desktop-app-ui/tech

#1600 Update lvm-enablegroupview.md
  desktop-src/Controls/lvm-enablegroupview.md
Labels: Change sent to author, desktop/prod, desktop-app-ui/tech

#1596 Update about-icons.md
  desktop-src/menurc/about-icons.md
Labels: Change sent to author, desktop/prod, desktop-app-ui/tech

#1604 Corrected performance counter used
  desktop-src/PerfCtrs/collecting-performance-data.md
Labels: do-not-merge, Change sent to author, desktop/prod, diagnostics/tech

#1607 Update dynamic-link-library-best-practices.md
  desktop-src/Dlls/dynamic-link-library-best-practices.md
Labels: do-not-merge, Change sent to author, desktop/prod, system-services/tech

#1603 Update cipher-suites-in-schannel.md
  desktop-src/SecAuthN/cipher-suites-in-schannel.md
Labels: do-not-merge, Change sent to author, desktop/prod, security-identity/tech

#1609 Update capturing-winhttp-logs.md
  desktop-src/WsdApi/capturing-winhttp-logs.md
Labels: do-not-merge, Change sent to author, desktop/prod, devices/tech

#1610 Fix typo in cng-algorithm-identifiers.md
  desktop-src/SecCNG/cng-algorithm-identifiers.md
Labels: do-not-merge, Change sent to author, desktop/prod, security-identity/tech

#1588 Update toc.yml
  desktop-src/menurc/toc.yml
Labels: do-not-merge, Change sent to author, desktop/prod, desktop-environment/tech
