Repository MicrosoftDocs/win32, pull requests merged in 2023-12, with the labels that each got.

#1754 Correct link addresses
  desktop-src/direct3d11/d3d10-graphics-programming-guide-input-assembler-stage-getting-started.md
Labels: do-not-merge, Change sent to author, desktop/prod, graphics-gaming/tech

#1755 Update synchronization-and-multiprocessor-issues.md
  desktop-src/Sync/synchronization-and-multiprocessor-issues.md
Labels: do-not-merge, Change sent to author, desktop/prod, system-services/tech

#1757 Update descriptors-overview.md
  desktop-src/direct3d12/descriptors-overview.md
Labels: do-not-merge, Change sent to author, desktop/prod, graphics-gaming/tech

#1758 Update working-with-nvme-devices.md
  desktop-src/FileIO/working-with-nvme-devices.md
Labels: do-not-merge, Change sent to author, desktop/prod, data-access-storage/tech

#1761 Update localservice.md
  desktop-src/com/localservice.md
Labels: do-not-merge, Change sent to author, desktop/prod, system-services/tech

#1743 Update editing-drive-letter-assignments.md
  desktop-src/FileIO/editing-drive-letter-assignments.md
Labels: do-not-merge, Change sent to author, desktop/prod, data-access-storage/tech

#1763 DLL: Fix typo
  desktop-src/Dlls/dynamic-link-library-best-practices.md
Labels: do-not-merge, Change sent to author, desktop/prod, system-services/tech

#1764 Fix incorrect cleanup order and error handling for global atom table …
  desktop-src/dataxchg/using-dynamic-data-exchange.md
Labels: do-not-merge, Change sent to author, desktop/prod, desktop-app-ui/tech

#1765 Update windows-game-explorer-integration.md
  desktop-src/DxTechArts/windows-game-explorer-integration.md
Labels: do-not-merge, Change sent to author, desktop/prod, graphics-gaming/tech

#1766 Update direct2ddebuglayer-debugmessages.md
  desktop-src/Direct2D/direct2ddebuglayer-debugmessages.md
Labels: do-not-merge, Change sent to author, desktop/prod, graphics-gaming/tech

#1767 Update taskschedulerschema-delay-registrationtriggertype-element.md
  desktop-src/TaskSchd/taskschedulerschema-delay-registrationtriggertype-element.md
Labels: do-not-merge, Change sent to author, desktop/prod, server-tech/tech
