Repository MicrosoftDocs/win32, pull requests merged in 2023-10, with the labels that each got.

#1710 Remove duplicated phrase
  desktop-src/WES/defining-name-value-mappings.md
Labels: do-not-merge, Change sent to author, desktop/prod, diagnostics/tech

#1711 Update work-with-dxgi.md
  desktop-src/direct3dgetstarted/work-with-dxgi.md
Labels: do-not-merge, Change sent to author, desktop/prod, graphics-gaming/tech

#1707 Update about-keyboard-input.md
  desktop-src/inputdev/about-keyboard-input.md
Labels: do-not-merge, Change sent to author, desktop/prod, desktop-app-ui/tech

#1713 Update getting-system-information.md
  desktop-src/SysInfo/getting-system-information.md
Labels: do-not-merge, Change sent to author, desktop/prod, system-services/tech

#1714 Update getting-system-information.md
  desktop-src/SysInfo/getting-system-information.md
Labels: do-not-merge, Change sent to author, desktop/prod, system-services/tech

#1715 Update getting-system-information.md
  desktop-src/SysInfo/getting-system-information.md
Labels: do-not-merge, Change sent to author, desktop/prod, system-services/tech

#1716 Update getting-system-information.md
  desktop-src/SysInfo/getting-system-information.md
Labels: do-not-merge, Change sent to author, desktop/prod, system-services/tech

#1717 Update getting-system-information.md
  desktop-src/SysInfo/getting-system-information.md
Labels: do-not-merge, Change sent to author, desktop/prod, system-services/tech

#1687 Fix GDI+ memory leak issue
  desktop-src/wintouch/detecting-and-tracking-multiple-touch-points.md
Labels: do-not-merge, Change sent to author, desktop/prod, desktop-app-ui/tech

#1712 Update direct3d-12-video-overview.md
  desktop-src/medfound/direct3d-12-video-overview.md
Labels: do-not-merge, Change sent to author, desktop/prod, audio-video/tech

#1682 Update application-manifests.md
  desktop-src/SbsCs/application-manifests.md
Labels: do-not-merge, Change sent to author, desktop/prod, installation-servicing/tech

#1702 Update file-system-operation-notifications.md
  desktop-src/ProjFS/file-system-operation-notifications.md
Labels: do-not-merge, Change sent to author, desktop/prod, data-access-storage/tech

#1721 Update dx-graphics-hlsl-to-type.md
  desktop-src/direct3dhlsl/dx-graphics-hlsl-to-type.md
Labels: do-not-merge, Change sent to author, desktop/prod, graphics-gaming/tech

#1722 Update gather4-c--sm5---asm-.md
  desktop-src/direct3dhlsl/gather4-c--sm5---asm-.md
Labels: do-not-merge, Change sent to author, desktop/prod, graphics-gaming/tech

#1723 Update sample-c--sm4---asm-.md
  desktop-src/direct3dhlsl/sample-c--sm4---asm-.md
Labels: do-not-merge, Change sent to author, desktop/prod, graphics-gaming/tech

#1724 Fix link display in `Related topics` section
  desktop-src/Rpc/string-uuid.md
Labels: do-not-merge, Change sent to author, desktop/prod, networking/tech

#1725 Fix typo in D3D11 Stream-Output Stage documentation
  desktop-src/direct3d11/d3d10-graphics-programming-guide-output-stream-stage-getting-started.md
Labels: do-not-merge, Change sent to author, desktop/prod, graphics-gaming/tech

#1728 Update collecting-user-mode-dumps.md
  desktop-src/wer/collecting-user-mode-dumps.md
Labels: do-not-merge, Change sent to author, desktop/prod, diagnostics/tech

#1729 Update getting-system-information.md
  desktop-src/SysInfo/getting-system-information.md
Labels: do-not-merge, Change sent to author, desktop/prod, system-services/tech

#1732 Fixed typo "redireciton"
  desktop-src/com/com-error-codes-5.md
Labels: do-not-merge, Change sent to author, desktop/prod, system-services/tech

#1733 fix typo in `using-sensor-api-events.md`
  desktop-src/SensorsAPI/using-sensor-api-events.md
Labels: do-not-merge, Change sent to author, desktop/prod, diagnostics/tech

#1735 Fix typos in one-time-initialization.md
  desktop-src/Sync/one-time-initialization.md
Labels: do-not-merge, Change sent to author, desktop/prod, system-services/tech

#1734 Return value error in documentation.
  desktop-src/direct3d12/objecttoworld3x4.md
  desktop-src/direct3d12/objecttoworld4x3.md
  desktop-src/direct3d12/worldtoobject3x4.md
  desktop-src/direct3d12/worldtoobject4x3.md
Labels: do-not-merge, Change sent to author, desktop/prod, graphics-gaming/tech
