Repository MicrosoftDocs/win32, pull requests merged in 2023-01, with the labels that each got.

#1431 Fix member types of `RESDIR` structure
  desktop-src/menurc/resdir.md
Labels: do-not-merge, Change sent to author, desktop/prod, desktop-app-ui/tech

#1429 Typo "resouce"→"resource"
  desktop-src/shell/thumbnail-providers.md
Labels: do-not-merge, Change sent to author, desktop/prod, desktop-environment/tech

#1428 Updated legacy known folders sample link
  desktop-src/shell/how-to-extend-known-folders-with-custom-folders.md
Labels: do-not-merge, Change sent to author, desktop/prod, desktop-environment/tech

#1433 `Authentication/Creating a Secure Connection Using Schannel` : there are five security protocols
  desktop-src/SecAuthN/creating-a-secure-connection-using-schannel.md
Labels: do-not-merge, Change sent to author, desktop/prod, security-identity/tech

#1432 Local user does not require admin right
  desktop-src/WEC/setting-up-a-source-initiated-subscription.md
Labels: do-not-merge, Change sent to author, desktop/prod, diagnostics/tech

#1435 Update faulty important markup
  desktop-src/DirectShow/step-1--choose-a-base-class.md
  desktop-src/DirectShow/using-the-overlay-mixer-in-video-capture.md
  desktop-src/DirectShow/using-windows-media-with-directshow-editing-services.md
  desktop-src/DirectShow/video-renderer-filter.md
  desktop-src/inputmsg/dm-pointerhittest.md
  desktop-src/inputmsg/wm-ncpointerdown.md
  desktop-src/inputmsg/wm-ncpointerup.md
  desktop-src/inputmsg/wm-ncpointerupdate.md
  desktop-src/inputmsg/wm-parentnotify.md
  desktop-src/inputmsg/wm-pointerdevicechange.md
  desktop-src/inputmsg/wm-pointerdeviceinrange.md
  desktop-src/inputmsg/wm-pointerdeviceoutofrange.md
  desktop-src/inputmsg/wm-pointerdown.md
  desktop-src/inputmsg/wm-pointerenter.md
  desktop-src/inputmsg/wm-pointerhwheel.md
  desktop-src/inputmsg/wm-pointerleave.md
  desktop-src/inputmsg/wm-pointerup.md
  desktop-src/inputmsg/wm-pointerupdate.md
  desktop-src/inputmsg/wm-pointerwheel.md
  desktop-src/inputmsg/wm-touchhittesting.md
  desktop-src/windowsribbon/windowsribbon-controls-applicationmenu.md
  desktop-src/windowsribbon/windowsribbon-stepbystep.md
Labels: do-not-merge, Change sent to author, desktop/prod, desktop-app-ui/tech

#1437 Update incorrect IPv6 IPSec statement.
  desktop-src/FWP/ipsec-configuration.md
Labels: do-not-merge, Change sent to author, desktop/prod, networking/tech

#1436 Fix typo "installrt" -> "installer"
  desktop-src/AD/about-service-logon-accounts.md
Labels: do-not-merge, Change sent to author, desktop/prod, security-identity/tech

#1439 Update about-introduction-to-asn-1-syntax-and-encoding.md
  desktop-src/SecCertEnroll/about-introduction-to-asn-1-syntax-and-encoding.md
Labels: do-not-merge, Change sent to author, desktop/prod, security-identity/tech

#1441 docs: fix typo
  desktop-src/CIMWin32Prov/win32-operatingsystem.md
Labels: do-not-merge, Change sent to author, desktop/prod, server-tech/tech

#1425 Update about-keyboard-input.md
  desktop-src/inputdev/about-keyboard-input.md
Labels: do-not-merge, Change sent to author, desktop/prod, desktop-app-ui/tech

#1420 Add DEC Alpha/AXP CPU types
  desktop-src/Debug/pe-format.md
Labels: do-not-merge, Change sent to author, desktop/prod, diagnostics/tech

#1442 Typo
  desktop-src/direct3d11/d3d10-graphics-programming-guide-output-stream-stage-getting-started.md
Labels: do-not-merge, Change sent to author, desktop/prod, graphics-gaming/tech

#1443 Update cng-cryptographic-algorithm-providers.md
  desktop-src/SecCertEnroll/cng-cryptographic-algorithm-providers.md
Labels: do-not-merge, Change sent to author, desktop/prod, security-identity/tech

#1444 Update d3d device name
  desktop-src/direct3d9/creating-a-device.md
Labels: do-not-merge, Change sent to author, desktop/prod, graphics-gaming/tech

#1434 Added Basic Explaination for UIA Providers
  desktop-src/WinAuto/uiauto-serversideprovider.md
Labels: do-not-merge, Change sent to author, desktop/prod, accessibility/tech

#1446 Update symbolic-link-effects-on-file-systems-functions.md
  desktop-src/FileIO/symbolic-link-effects-on-file-systems-functions.md
Labels: do-not-merge, Change sent to author, desktop/prod, data-access-storage/tech

#1451 Update weeklytrigger.md to include special DST behavior.
  desktop-src/TaskSchd/weeklytrigger.md
Labels: do-not-merge, Change sent to author, desktop/prod, server-tech/tech

#1450 Update monthlydowtrigger.md to include special DST behavior.
  desktop-src/TaskSchd/monthlydowtrigger.md
Labels: do-not-merge, Change sent to author, desktop/prod, server-tech/tech

#1449 Update monthlytrigger.md to include DST behavior.
  desktop-src/TaskSchd/monthlytrigger.md
Labels: do-not-merge, Change sent to author, desktop/prod, server-tech/tech
