Repository MicrosoftDocs/win32, pull requests merged in 2024-07, with the labels that each got.

#1871 Removed return type placeholder in cbtproc.md
  desktop-src/winmsg/cbtproc.md
Labels: do-not-merge, Change sent to author, windows-api-desktop-tech/svc, desktop-app-ui/subsvc

#1875 Update wm-ime-control.md
  desktop-src/Intl/wm-ime-control.md
Labels: do-not-merge, Change sent to author, windows-api-desktop-tech/svc, desktop-app-ui/subsvc

#1876 OpenGL: Reconcile the "GLX and WGL/Windows" article with "Translating the GLX Library"
  desktop-src/OpenGL/glx-and-wgl-win32.md
  desktop-src/OpenGL/rendering-context-functions.md
  desktop-src/OpenGL/translating-the-glx-library.md
Labels: do-not-merge, Change sent to author, windows-api-desktop-tech/svc, graphics-gaming/subsvc

#1874 Update obtaining-directory-change-notifications.md
  desktop-src/FileIO/obtaining-directory-change-notifications.md
Labels: do-not-merge, Change sent to author, windows-api-desktop-tech/svc, data-access-storage/subsvc

#1727 fix incorrect link to NMHDR
  desktop-src/Controls/wm-notify.md
Labels: Change sent to author, desktop/prod, desktop-app-ui/tech

#1878 Add HLSL vector/matrix template declaration option
  desktop-src/direct3dhlsl/dx-graphics-hlsl-matrix.md
  desktop-src/direct3dhlsl/dx-graphics-hlsl-vector.md
Labels: do-not-merge, Change sent to author, windows-api-desktop-tech/svc, graphics-gaming/subsvc

#1879 Update table-of-geographical-locations.md
  desktop-src/Intl/table-of-geographical-locations.md
Labels: do-not-merge, Change sent to author, windows-api-desktop-tech/svc, desktop-app-ui/subsvc

#1880 Clarify DWORD usage on Configuring HTTP Server API Error Logging
  desktop-src/Http/configuring-http-server-api-error-logging.md
Labels: do-not-merge, Change sent to author, windows-api-desktop-tech/svc, networking/subsvc

#1882 Layout fix
  desktop-src/SecAuthZ/auditing-constants.md
Labels: do-not-merge, Change sent to author, windows-api-desktop-tech/svc, security-identity/subsvc

#1873 Fix a few typos
  desktop-src/AD/composing-spns-for-an-rpcns-service.md
  desktop-src/DNS/dns-wmi-provider-samples-managing-dns-zones.md
  desktop-src/Debug/system-error-codes--12000-15999-.md
  desktop-src/FWP/wmi/nettcpipprov/msft-netipaddress.md
  desktop-src/FWP/wmi/wfascimprov/network-security-classes.md
  desktop-src/HyperV_v2/cim-capabilities.md
  desktop-src/HyperV_v2/msvm-virtualsystemmigrationsettingdata.md
  desktop-src/Msi/building-an-ice.md
  desktop-src/Msi/ice49.md
  desktop-src/Msi/including-a-cabinet-file-in-an-installation.md
  desktop-src/Msi/lockpermissions-table.md
  desktop-src/Rpc/extended-error-information-detection-locations.md
  desktop-src/VDS/working-with-enumeration-objects.md
  desktop-src/WinAuto/uiauto-howto-walk-uiautomation-tree.md
  desktop-src/com/com-error-codes-4.md
  desktop-src/com/implementing-in-place-activation.md
  desktop-src/com/properties-and-methods.md
  desktop-src/com/using-the-system-supplied-surrogate.md
  desktop-src/dataxchg/dynamic-data-exchange.md
  desktop-src/direct3d11/id3dx11effecttype-getmembertypebyname.md
  desktop-src/direct3d11/id3dx11effecttype.md
  desktop-src/direct3d9/index-buffers.md
  desktop-src/direct3dtools/hresult.md
  desktop-src/direct3dtools/ipixengine2-endexperiment-bstr-ifileiocallback-ptr.md
  desktop-src/direct3dtools/ipixengine5-readtexelvalueasync-uint-pixenginetexturesliceindex-int-int-int-ipixengine5callbacks-ptr-dword-dword.md
  desktop-src/dxmath/ovw-xnamath-reference-structures.md
  desktop-src/eaphost/tunnel-method-api-call-sequence1.md
  desktop-src/extensible-storage-engine/jet-loginfo-structure.md
  desktop-src/extensible-storage-engine/jetexternalrestore-function.md
  desktop-src/extensible-storage-engine/jetgetdatabasefileinfo-function.md
  desktop-src/extensible-storage-engine/jetgetdatabaseinfo-function.md
  desktop-src/gdi/bitmap-header-types.md
  desktop-src/wic/wiccreatecolortransform-proxy.md
  desktop-src/wsw/httpserverexample.md
  desktop-src/wsw/httpserverwithkerberosoversslexample.md
  desktop-src/wsw/httpserverwithsslexample.md
  desktop-src/wsw/httpserverwithusernameoversslexample.md
  desktop-src/wsw/requestreplynamedpipesserverexample.md
  desktop-src/wsw/requestreplynamedpipesserverwithwindowstransportsecurityexample.md
  desktop-src/wsw/requestreplytcpserverexample.md
Labels: do-not-merge, Change sent to author, windows-api-desktop-tech/svc, networking/subsvc

#1883 Update mf-media-engine-playback-hwnd.md
  desktop-src/medfound/mf-media-engine-playback-hwnd.md
Labels: do-not-merge, Change sent to author, windows-api-desktop-tech/svc, audio-video/subsvc

#1885 Update com--application-pooling.md
  desktop-src/cossdk/com--application-pooling.md
Labels: do-not-merge, Change sent to author, windows-api-desktop-tech/svc, system-services/subsvc
