Repository MicrosoftDocs/win32, pull requests merged in 2024-09, with the labels that each got.

#1904 GL_EXP2 fog application equation
  desktop-src/OpenGL/images/fog03.png
Labels: do-not-merge, review-team-triage

#1910 Fixed typos in WFP docs
  desktop-src/FWP/filtering-condition-identifiers-.md
Labels: do-not-merge, Change sent to author, windows-api-desktop-tech/svc, networking/subsvc

#1908 Add missing space around links
  desktop-src/DMWmiBridgeProv/mdm-bridge-wmi-provider-portal.md
  desktop-src/DMWmiBridgeProv/mdm-policy-config01-exploitguard02.md
  desktop-src/DMWmiBridgeProv/mdm-policy-result01-exploitguard02.md
  desktop-src/Direct2D/how-to-clip-with-axis-aligned-rects.md
  desktop-src/Direct2D/supported-pixel-formats-and-alpha-modes.md
  desktop-src/DxTechArts/installation-and-maintenance-of-games.md
  desktop-src/WinAuto/content-of-descriptive-properties.md
  desktop-src/WinAuto/uiauto-msaa.md
  desktop-src/WmiSdk/example--getting-wmi-data-from-a-remote-computer.md
  desktop-src/cossdk/enabling-auto-done-for-a-method.md
  desktop-src/direct3dhlsl/dcl-uav-structured--sm5---asm-.md
  desktop-src/dlgbox/common-dialog-box-library.md
  desktop-src/gdiplus/-gdiplus-changes-in-the-programming-model-about.md
  desktop-src/medfound/configuringvideoencoding.md
  desktop-src/windowsribbon/windowsribbon-reference-elements-control.md
  desktop-src/windowsribbon/windowsribbon-reference-interfaces.md
  desktop-src/wsw/security-binding-settings.md
  desktop-src/wsw/ws-policy.md
Labels: do-not-merge, Change sent to author, windows-api-desktop-tech/svc, networking/subsvc

#1913 Corrected bit range on bitmap-storage.md
  desktop-src/gdi/bitmap-storage.md
Labels: do-not-merge, Change sent to author, windows-api-desktop-tech/svc, desktop-app-ui/subsvc

#1914 Update query-info-flags.md
  desktop-src/WinInet/query-info-flags.md
Labels: do-not-merge, Change sent to author, windows-api-desktop-tech/svc, networking/subsvc

#1915 Updates to the MRM APIs
  desktop-src/menurc/mrmcreateconfig.md
  desktop-src/menurc/mrmcreateconfiginmemory.md
  desktop-src/menurc/mrmcreateresourcefile.md
  desktop-src/menurc/mrmcreateresourcefileinmemory.md
  desktop-src/menurc/mrmcreateresourceindexer.md
  desktop-src/menurc/mrmcreateresourceindexerfrompreviouspridata-.md
  desktop-src/menurc/mrmcreateresourceindexerfrompreviousprifile.md
  desktop-src/menurc/mrmcreateresourceindexerfrompreviousschemadata.md
  desktop-src/menurc/mrmcreateresourceindexerfrompreviousschemafile.md
  desktop-src/menurc/mrmdestroyindexerandmessages.md
  desktop-src/menurc/mrmdumppridatainmemory.md
  desktop-src/menurc/mrmdumpprifile.md
  desktop-src/menurc/mrmdumpprifileinmemory.md
  desktop-src/menurc/mrmdumptype.md
  desktop-src/menurc/mrmfiles.md
  desktop-src/menurc/mrmfreememory.md
  desktop-src/menurc/mrmindexembeddeddata.md
  desktop-src/menurc/mrmindexfile.md
  desktop-src/menurc/mrmindexfileautoqualifiers.md
  desktop-src/menurc/mrmindexresourcecontainerautoqualifiers.md
  desktop-src/menurc/mrmindexstring.md
  desktop-src/menurc/mrmpackagingmode.md
  desktop-src/menurc/mrmpackagingoptions.md
  desktop-src/menurc/mrmpeekresourceindexermessages.md
  desktop-src/menurc/mrmplatformversion.md
  desktop-src/menurc/mrmqualifiers.md
  desktop-src/menurc/mrmresourceindexerhandle.md
  desktop-src/menurc/mrmresourceindexermessage.md
  desktop-src/menurc/mrmresourceindexermessageseverity.md
  desktop-src/menurc/mrmresourcenames.md
  desktop-src/menurc/pri-indexing-reference.md
Labels: do-not-merge, Change sent to author, windows-api-desktop-tech/svc, desktop-app-ui/subsvc

#1917 Msi/uninstall-registry-key: Link "product code"
  desktop-src/Msi/uninstall-registry-key.md
Labels: do-not-merge, Change sent to author, windows-api-desktop-tech/svc, installation-servicing/subsvc

#1920 Fix CheckAccessFullyMapped documentation
  desktop-src/direct3dhlsl/checkaccessfullymapped.md
Labels: do-not-merge, Change sent to author, windows-api-desktop-tech/svc, graphics-gaming/subsvc

#1922 Update manifest-file-schema.md
  desktop-src/SbsCs/manifest-file-schema.md
Labels: do-not-merge, Change sent to author, windows-api-desktop-tech/svc, installation-servicing/subsvc

#1921 Update ASSOCF_str.md
  desktop-src/shell/ASSOCF_str.md
Labels: Change sent to author, windows-api-desktop-tech/svc, desktop-environment/subsvc

#1912 Update setting-the-default-dpi-awareness-for-a-process.md
  desktop-src/hidpi/setting-the-default-dpi-awareness-for-a-process.md
Labels: do-not-merge, Change sent to author, windows-api-desktop-tech/svc, desktop-environment/subsvc

#1911 Fix Unicode byte order mark documentation
  desktop-src/Intl/using-byte-order-marks.md
Labels: do-not-merge, Change sent to author, windows-api-desktop-tech/svc, desktop-app-ui/subsvc

#1909 Fixed "The WM_NCHITTEST Message" link in "Mouse Input Overview"
  desktop-src/inputdev/about-mouse-input.md
Labels: do-not-merge, Change sent to author, windows-api-desktop-tech/svc, desktop-app-ui/subsvc

#1919 ProductCode property: Link to Product Codes concept doc page
  desktop-src/Msi/productcode.md
Labels: do-not-merge, Change sent to author, windows-api-desktop-tech/svc, installation-servicing/subsvc

#1903 Update predefined-category-values.md
  desktop-src/TSF/predefined-category-values.md
Labels: do-not-merge, Change sent to author, windows-api-desktop-tech/svc, desktop-app-ui/subsvc

#1924 removed an unnecessary backslash (`\`) in `WM_PAINT`
  desktop-src/gdi/painting-on-a-dc-that-spans-multiple-displays.md
Labels: do-not-merge, Change sent to author, windows-api-desktop-tech/svc, desktop-app-ui/subsvc
