Repository MicrosoftDocs/win32, pull requests merged in 2024-02, with the labels that each got.

#1790 Remove self-link
  desktop-src/inputdev/keyboard-input.md
Labels: do-not-merge, Change sent to author, windows-api-desktop-tech/svc, desktop-app-ui/subsvc

#1791 Update MF_NALU_LENGTH_INFORMATION and MF_NALU_LENGTH_SET documentation based on latest specification
  desktop-src/medfound/mf-nalu-length-information.md
  desktop-src/medfound/mf-nalu-length-set.md
Labels: do-not-merge, Change sent to author, windows-api-desktop-tech/svc, audio-video/subsvc

#1792 Fix "Initializing the symbol handler" example to respect the documentation for `SymInitialize`
  desktop-src/Debug/initializing-the-symbol-handler.md
Labels: do-not-merge, Change sent to author, windows-api-desktop-tech/svc, diagnostics/subsvc

#1795 Update named-pipe-server-using-overlapped-i-o.md
  desktop-src/ipc/named-pipe-server-using-overlapped-i-o.md
Labels: do-not-merge, Change sent to author, windows-api-desktop-tech/svc, system-services/subsvc

#1793 Fix typo
  desktop-src/WinRM/obtaining-data-from-the-local-computer.md
Labels: do-not-merge, Change sent to author, windows-api-desktop-tech/svc, server-tech/subsvc

#1796 Fix missing bracket on cube mesh
  desktop-src/direct3d9/defining-a-simple-cube.md
Labels: do-not-merge, Change sent to author, windows-api-desktop-tech/svc, graphics-gaming/subsvc

#1797 Update changing-a-groupampaposs-scope-or-type.md
  desktop-src/AD/changing-a-groupampaposs-scope-or-type.md
Labels: do-not-merge, Change sent to author, windows-api-desktop-tech/svc, security-identity/subsvc

#1801 Update d3d11-programming-guide-migrating.md
  desktop-src/direct3d11/d3d11-programming-guide-migrating.md
Labels: do-not-merge, Change sent to author, windows-api-desktop-tech/svc, graphics-gaming/subsvc

#1799 Update -gdiplus-drawing-text-use.md
  desktop-src/gdiplus/-gdiplus-drawing-text-use.md
Labels: do-not-merge, Change sent to author, windows-api-desktop-tech/svc, desktop-app-ui/subsvc

#1770 Update static-control-styles.md
  desktop-src/Controls/static-control-styles.md
Labels: do-not-merge, Change sent to author, desktop/prod, desktop-app-ui/tech

#1802 Update constants for CryptEncodeObject and CryptDecodeObject
  desktop-src/SecCrypto/constants-for-cryptencodeobject-and-cryptdecodeobject.md
Labels: do-not-merge, Change sent to author, windows-api-desktop-tech/svc, security-identity/subsvc

#1803 Document supportedArchitectures application manifest element
  desktop-src/SbsCs/application-manifests.md
Labels: do-not-merge, Change sent to author, windows-api-desktop-tech/svc, installation-servicing/subsvc

#1805 Deleting What's new in 2012 article and setting up redirect.
  .openpublishing.redirection.json
  desktop-src/SrvNodes/what-s-new-for-windows-server-2012-r2.md
  desktop-src/toc.yml
Labels: do-not-merge, Change sent to author, windows-api-desktop-tech/svc, desktop-environment/subsvc

#1808 Add missing glTexCoord2f documentation.
  desktop-src/OpenGL/gltexcoord2f.md
Labels: do-not-merge, Change sent to author, windows-api-desktop-tech/svc, graphics-gaming/subsvc
