Repository MicrosoftDocs/win32, pull requests merged in 2024-01, with the labels that each got.

#1771 Fix precede typos
  desktop-src/Debug/system-error-codes--12000-15999-.md
  desktop-src/VML/adj-attribute.md
  desktop-src/WMP/embedding-the-player-control-in-a-web-page-displayed-by-firefox.md
  desktop-src/WMP/handling-events-in-a-web-page-displayed-by-firefox.md
Labels: do-not-merge, Change sent to author, desktop/prod, audio-video/tech

#1772 Correct and improve `power-setting-guids.md` (and related markdown)
  desktop-src/Controls/hdm-getimagelist.md
  desktop-src/Controls/hdm-setimagelist.md
  desktop-src/HyperV_v2/msvm-memorysettingdata.md
  desktop-src/Power/pbt-apmbatterylow.md
  desktop-src/Power/pbt-apmoemevent.md
  desktop-src/Power/pbt-apmpowerstatuschange.md
  desktop-src/Power/pbt-apmquerysuspend.md
  desktop-src/Power/pbt-apmquerysuspendfailed.md
  desktop-src/Power/pbt-apmresumeautomatic.md
  desktop-src/Power/pbt-apmresumecritical.md
  desktop-src/Power/pbt-apmresumesuspend.md
  desktop-src/Power/pbt-apmsuspend.md
  desktop-src/Power/pbt-powersettingchange.md
  desktop-src/Power/power-setting-guids.md
  desktop-src/Power/wm-powerbroadcast.md
  desktop-src/SecProv/win32-encryptablevolume.md
  desktop-src/printdocs/documentevent.md
  desktop-src/printdocs/printprocessor-caps-2.md
  desktop-src/search/-search-ws-protocolhandlertesting.md
Labels: do-not-merge, Change sent to author, desktop/prod, desktop-environment/tech

#1774 Update memory-management-rules.md
  desktop-src/com/memory-management-rules.md
Labels: do-not-merge, Change sent to author, desktop/prod, system-services/tech

#1775 Update protecting-anti-malware-services-.md
  desktop-src/Services/protecting-anti-malware-services-.md
Labels: do-not-merge, Change sent to author, desktop/prod, system-services/tech

#1776 Update protecting-anti-malware-services-.md
  desktop-src/Services/protecting-anti-malware-services-.md
Labels: do-not-merge, Change sent to author, desktop/prod, system-services/tech

#1760 WM_POWERBROADCAST: Add RegisterSuspendResumeNotification link
  desktop-src/Power/wm-powerbroadcast.md
Labels: do-not-merge, Change sent to author, desktop/prod, system-services/tech

#1759 Fix grammatical typo in desktop-src/desktop-programming.md
  desktop-src/desktop-programming.md
Labels: do-not-merge, Change sent to author, desktop/prod, desktop-environment/tech

#1185 Changed User Right name of "SeManageVolumePrivilege"
  desktop-src/SecAuthZ/privilege-constants.md
Labels: do-not-merge, Change sent to author, desktop/prod, security-identity/tech

#1777 Do not document HLSL cbuffer name as optional
  desktop-src/direct3dhlsl/dx-graphics-hlsl-constants.md
Labels: do-not-merge, Change sent to author, desktop/prod, graphics-gaming/tech

#1782 Update -gdiplus-graphicspath-flat.md
  desktop-src/gdiplus/-gdiplus-graphicspath-flat.md
Labels: do-not-merge, Change sent to author, windows-api-desktop-tech/svc, desktop-app-ui/subsvc

#1781 Update -progid--key.md
  desktop-src/com/-progid--key.md
Labels: do-not-merge, Change sent to author, windows-api-desktop-tech/svc, system-services/subsvc

#1780 Fixup incorrect proxy/stub mention
  desktop-src/com/registering-the-dll-server-for-surrogate-activation.md
Labels: do-not-merge, Change sent to author, windows-api-desktop-tech/svc, system-services/subsvc

#1783 Update index.md
  desktop-src/updateorchestrator/index.md
Labels: do-not-merge, Change sent to author, windows-api-desktop-tech/svc, installation-servicing/subsvc

#1785 Remove duplicate sentence
  desktop-src/winmsg/getmsgproc.md
Labels: do-not-merge, Change sent to author, windows-api-desktop-tech/svc, desktop-app-ui/subsvc

#1787 Update using-wua-to-scan-for-updates-offline.md
  desktop-src/Wua_Sdk/using-wua-to-scan-for-updates-offline.md
Labels: do-not-merge, Change sent to author, windows-api-desktop-tech/svc, system-services/subsvc

#1788 Fixing [Linking Implicitly with a DLL] broken link
  desktop-src/Dlls/dynamic-link-library-creation.md
Labels: do-not-merge, Change sent to author, windows-api-desktop-tech/svc, system-services/subsvc
