Repository MicrosoftDocs/win32, pull requests merged in 2024-10, with the labels that each got.

#1927 Update dpi-awareness-context.md
  desktop-src/hidpi/dpi-awareness-context.md
Labels: do-not-merge, Change sent to author, windows-api-desktop-tech/svc, desktop-environment/subsvc

#1926 Remove empty line for copying command
  desktop-src/appxpkg/how-to-create-a-package-signing-certificate.md
Labels: do-not-merge, Change sent to author, windows-api-desktop-tech/svc, desktop-environment/subsvc

#1918 Msi/productcode.md: Mention registry key usage
  desktop-src/Msi/productcode.md
Labels: do-not-merge, Change sent to author, windows-api-desktop-tech/svc, installation-servicing/subsvc

#1928 Update so-keepalive.md
  desktop-src/WinSock/so-keepalive.md
Labels: do-not-merge, Change sent to author, windows-api-desktop-tech/svc, networking/subsvc

#1933 Update tls-cipher-suites-in-windows-10-v1903.md
  desktop-src/SecAuthN/tls-cipher-suites-in-windows-10-v1903.md
Labels: do-not-merge, Change sent to author, windows-api-desktop-tech/svc, security-identity/subsvc

#1932 Update schannel-error-codes-for-tls-and-ssl-alerts.md
  desktop-src/SecAuthN/schannel-error-codes-for-tls-and-ssl-alerts.md
Labels: do-not-merge, Change sent to author, windows-api-desktop-tech/svc, security-identity/subsvc

#1931 Update prioritizing-schannel-cipher-suites.md
  desktop-src/SecAuthN/prioritizing-schannel-cipher-suites.md
Labels: do-not-merge, Change sent to author, windows-api-desktop-tech/svc, security-identity/subsvc

#1930 Update changing-the-password-on-a-serviceampaposs-user-account.md
  desktop-src/AD/changing-the-password-on-a-serviceampaposs-user-account.md
Labels: do-not-merge, Change sent to author, windows-api-desktop-tech/svc, security-identity/subsvc

#1936 Update app-isolation-overview.md
  desktop-src/SecAuthZ/app-isolation-overview.md
Labels: do-not-merge, Change sent to author, windows-api-desktop-tech/svc, security-identity/subsvc
