Repository MicrosoftDocs/win32, pull requests merged in 2024-06, with the labels that each got.

#1858 Fix wrong word in Subject Unique identifier ASN.1
  desktop-src/SecCertEnroll/about-version-2-fields.md
Labels: do-not-merge, Change sent to author, windows-api-desktop-tech/svc, security-identity/subsvc

#1857 Remove null pointer checks that have no effect in using-raw-input.
  desktop-src/inputdev/using-raw-input.md
Labels: do-not-merge, Change sent to author, windows-api-desktop-tech/svc, desktop-app-ui/subsvc

#1859 Update virtual-key-codes.md
  desktop-src/inputdev/virtual-key-codes.md
Labels: do-not-merge, Change sent to author, windows-api-desktop-tech/svc, desktop-app-ui/subsvc

#1848 Fix YAML parsing errors
  desktop-src/FWP/wmi/netadaptercimprov/msft-netadapterpowermanagement-wakepattern-magicpacket.md
  desktop-src/FWP/wmi/netadaptercimprov/msft-netadapterpowermanagement-wakepattern-wildcard.md
  desktop-src/FWP/wmi/nettcpipprov/cim-nexthoproute.md
  desktop-src/FWP/wmi/nettcpipprov/cim-routeusesendpoint.md
Labels: do-not-merge, Change sent to author, windows-api-desktop-tech/svc, desktop-environment/subsvc

#1861 Update setting-user-passwords-for-ldap-providers.md
  desktop-src/ADSI/setting-user-passwords-for-ldap-providers.md
Labels: do-not-merge, Change sent to author, windows-api-desktop-tech/svc, security-identity/subsvc

#1862 Fixed VB and PowerShell samples
  desktop-src/WmiSdk/obtaining-registry-data.md
Labels: do-not-merge, Change sent to author, windows-api-desktop-tech/svc, server-tech/subsvc

#1842 Fix a few typos
  desktop-src/shell/ASSOCF_str.md
  desktop-src/shell/autoplay-works.md
  desktop-src/shell/consts-enums-flags.md
  desktop-src/shell/context-menu-handlers.md
  desktop-src/shell/context-menu-reference.md
  desktop-src/shell/cpl-setprogramaccess.md
  desktop-src/shell/ctf.md
  desktop-src/shell/datascenarios.md
  desktop-src/shell/functions.md
  desktop-src/shell/interfaces.md
  desktop-src/shell/notification-area.md
  desktop-src/shell/samples-createprocessverb.md
  desktop-src/shell/samples-entry.md
  desktop-src/shell/samples-explorerbrowsercustomcontents.md
  desktop-src/shell/search-protocol-crumb.md
  desktop-src/shell/shlwapi-palette.md
  desktop-src/shell/shlwapi-path.md
  desktop-src/shell/shortcut-choose-method.md
  desktop-src/shell/ssf-constants.md
  desktop-src/shell/verbs-best-practices.md
Labels: do-not-merge, Change sent to author, windows-api-desktop-tech/svc, desktop-environment/subsvc

#1854 Update functions.md
  desktop-src/shell/functions.md
Labels: do-not-merge, Change sent to author, windows-api-desktop-tech/svc, desktop-environment/subsvc

#1825 Correct typo in constant.
  desktop-src/shell/folder-movehere.md
Labels: do-not-merge, Change sent to author, windows-api-desktop-tech/svc, desktop-environment/subsvc

#1741 Update ttm-getmargin.md
  desktop-src/Controls/ttm-getmargin.md
Labels: do-not-merge, Change sent to author, desktop/prod, desktop-app-ui/tech

#1865 Fix minor typo in schtasks.md
  desktop-src/TaskSchd/schtasks.md
Labels: do-not-merge, Change sent to author, windows-api-desktop-tech/svc, server-tech/subsvc

#1868 Delete note about .NET application not being supported by user mode dumps
  desktop-src/wer/collecting-user-mode-dumps.md
Labels: do-not-merge, Change sent to author, windows-api-desktop-tech/svc, diagnostics/subsvc

#1832 Fix typo
  desktop-src/ProjFS/projected-file-system.md
Labels: do-not-merge, Change sent to author, windows-api-desktop-tech/svc, data-access-storage/subsvc

#1870 Update opening-a-file-for-reading-or-writing.md '{': no matching token found
  desktop-src/FileIO/opening-a-file-for-reading-or-writing.md
Labels: do-not-merge, Change sent to author, windows-api-desktop-tech/svc, data-access-storage/subsvc
