Repository MicrosoftDocs/win32, pull requests merged in 2024-05, with the labels that each got.

#1839 Update WinHTTP option-flags.md with TLS version configuration
  desktop-src/WinHttp/option-flags.md
Labels: do-not-merge, Change sent to author, windows-api-desktop-tech/svc, networking/subsvc

#1840 Fix debugging error message
  desktop-src/SecCrypto/example-c-program--creating-an-md-5-hash-from-file-content.md
Labels: do-not-merge, Change sent to author, windows-api-desktop-tech/svc, security-identity/subsvc

#1768 Update dpi-and-device-independent-pixels.md
  desktop-src/LearnWin32/dpi-and-device-independent-pixels.md
Labels: do-not-merge, Change sent to author, desktop/prod, get-started/tech

#1847 Update calling-srsetrestorepoint.md
  desktop-src/sr/calling-srsetrestorepoint.md
Labels: do-not-merge, Change sent to author, windows-api-desktop-tech/svc, security-identity/subsvc

#1853 fixed typo 'emmited' to 'emitted' (3 occurrences)
  desktop-src/inputdev/about-keyboard-input.md
Labels: do-not-merge, Change sent to author, windows-api-desktop-tech/svc, desktop-app-ui/subsvc

#1852 Replaced Cyrillic 'с' (U+0441) [1] with ascii letter 'c' (U+0063) in about-keyboard-input.md
  desktop-src/inputdev/about-keyboard-input.md
Labels: do-not-merge, Change sent to author, windows-api-desktop-tech/svc, desktop-app-ui/subsvc

#1851 Typo 'EVENT_SYSTEM_SCROLLEND' corrected to 'EVENT_SYSTEM_SCROLLINGEND''
  desktop-src/WinAuto/event-constants.md
Labels: do-not-merge, Change sent to author, windows-api-desktop-tech/svc, accessibility/subsvc

#1850 Attribute "version" of ElementType "assemblyIdentity" must be required
  desktop-src/SbsCs/manifest-file-schema.md
Labels: do-not-merge, Change sent to author, windows-api-desktop-tech/svc, installation-servicing/subsvc

#1232 Fix wParam usage in the example for WM_SYSCOMMAND
  desktop-src/menurc/wm-syscommand.md
Labels: do-not-merge, Change sent to author, desktop/prod, desktop-app-ui/tech
