Repository MicrosoftDocs/win32, pull requests merged in 2024-04, with the labels that each got.

#1826 Fix build error "cannot convert from const wchar_t[13] to LPTSTR"
  desktop-src/Debug/retrieving-the-last-error-code.md
Labels: do-not-merge, Change sent to author, windows-api-desktop-tech/svc, diagnostics/subsvc

#1824 Move "ms-DS-Allowed-To-Act-On-Behalf-Of-Other-Identity" from "Personal Information" to "User Account Restrictions" property sets
  desktop-src/ADSchema/r-personal-information.md
  desktop-src/ADSchema/r-user-account-restrictions.md
Labels: do-not-merge, Change sent to author, windows-api-desktop-tech/svc, security-identity/subsvc

#1798 Update using-the-activation-context-api.md
  desktop-src/SbsCs/using-the-activation-context-api.md
Labels: do-not-merge, Change sent to author, windows-api-desktop-tech/svc, installation-servicing/subsvc

#1769 Update application-manifests.md
  desktop-src/SbsCs/application-manifests.md
Labels: do-not-merge, Change sent to author, desktop/prod, installation-servicing/tech

#1830 Fix misinformation
  desktop-src/Services/automatically-starting-services.md
Labels: do-not-merge, Change sent to author, windows-api-desktop-tech/svc, system-services/subsvc

#1833 Correct copy/paste error in Final-State-Based Multicast Programming page
  desktop-src/WinSock/final-state-based-multicast-programming.md
Labels: do-not-merge, Change sent to author, windows-api-desktop-tech/svc, networking/subsvc

#1834 Update a-accountexpires.md
  desktop-src/ADSchema/a-accountexpires.md
Labels: do-not-merge, Change sent to author, windows-api-desktop-tech/svc, security-identity/subsvc
