Repository MicrosoftDocs/win32, pull requests merged in 2024-11, with the labels that each got.

#1934 Update retrieving-a-certificate-revocation-list.md
  desktop-src/SecCrypto/retrieving-a-certificate-revocation-list.md
Labels: do-not-merge, Change sent to author, windows-api-desktop-tech/svc, security-identity/subsvc

#1935 Second code block to update retrieving-a-certificate-revocation-list.md
  desktop-src/SecCrypto/retrieving-a-certificate-revocation-list.md
Labels: do-not-merge, Change sent to author, windows-api-desktop-tech/svc, security-identity/subsvc

#1942 Update helper-structures-and-functions-for-d3d12.md
  desktop-src/direct3d12/helper-structures-and-functions-for-d3d12.md
Labels: do-not-merge, Change sent to author, windows-api-desktop-tech/svc, graphics-gaming/subsvc

#1944 Correct numeric value of SE_SACL_DEFAULTED
  desktop-src/SecAuthZ/security-descriptor-control.md
Labels: do-not-merge, Change sent to author, windows-api-desktop-tech/svc, security-identity/subsvc

#1945 Clarify that the mip map level doesn't do anything if it's beyond the number of mip levels the texture had
  desktop-src/direct3dhlsl/dx-graphics-hlsl-to-samplelevel.md
Labels: do-not-merge, Change sent to author, windows-api-desktop-tech/svc, graphics-gaming/subsvc

#1946 Update dev-audience.md
  desktop-src/AMSI/dev-audience.md
Labels: do-not-merge, Change sent to author, windows-api-desktop-tech/svc, security-identity/subsvc

#1937 Update memory-pressure-reporting.md
  desktop-src/medfound/memory-pressure-reporting.md
Labels: do-not-merge, Change sent to author, windows-api-desktop-tech/svc, audio-video/subsvc

#1867 Update loopback-recording.md to reference the new process loopback support
  desktop-src/CoreAudio/loopback-recording.md
Labels: do-not-merge, Change sent to author, windows-api-desktop-tech/svc, docs-editor-pilot, audio-video/subsvc

#1948 Update microsoft-smb-protocol-authentication.md
  desktop-src/FileIO/microsoft-smb-protocol-authentication.md
Labels: do-not-merge, Change sent to author, windows-api-desktop-tech/svc, data-access-storage/subsvc
