Repository MicrosoftDocs/win32, pull requests merged in 2025-05, with the labels that each got.

#2019 VK_PACKET is also invalid for WM_SETHOTKEY
  desktop-src/inputdev/wm-sethotkey.md
Labels: do-not-merge, Change sent to author, windows-api-desktop-tech/svc, desktop-app-ui/subsvc

#2021 Fix a few typos
  desktop-src/Direct2D/bitmap-source.md
  desktop-src/DirectShow/cdrawimage-fastrender.md
  desktop-src/PerfCtrs/ctrpp.md
  desktop-src/SensorsAPI/using-sensor-api-events.md
  desktop-src/WEC/displaying-the-properties-of-an-event-collector-subscription.md
  desktop-src/WinInet/ftp-sessions.md
  desktop-src/WinSock/changing-data-structures-2.md
  desktop-src/WinSock/dual-stack-sockets.md
  desktop-src/WinSock/ipv6-guide-for-windows-sockets-applications-2.md
  desktop-src/WinSock/use-of-hardcoded-ipv4-addresses-2.md
  desktop-src/WinSock/user-interface-issues-2.md
  desktop-src/direct3d11/d3d10-graphics-programming-guide-depth-stencil.md
  desktop-src/direct3d11/id3dx11effectvariable-asblend.md
  desktop-src/direct3dhlsl/dx9-graphics-reference-asm-software-shaders.md
  desktop-src/direct3dhlsl/firstbitlow.md
  desktop-src/direct3dtools/pix/pix-timing-captures.md
  desktop-src/direct3dtools/pixelhistoryoperation.md
  desktop-src/directmanipulation/direct-manipulation-guids.md
  desktop-src/lwef/mpnotify.md
  desktop-src/mbn/schema-contexttype-complextype.md
  desktop-src/medfound/alphabetical-list-of-media-foundation-attributes.md
  desktop-src/medfound/asf-file-structure.md
  desktop-src/medfound/generating-a-table-of-contents-automatically.md
Labels: do-not-merge, Change sent to author, windows-api-desktop-tech/svc, audio-video/subsvc

#2022 Removing more algorithm pseudo-handles that do not exist
  desktop-src/SecCNG/cng-algorithm-pseudo-handles.md
Labels: do-not-merge, Change sent to author, windows-api-desktop-tech/svc, security-identity/subsvc

#2025 correct SystemResponsiveness rounding and clamp rules
  desktop-src/ProcThread/multimedia-class-scheduler-service.md
Labels: do-not-merge, Change sent to author, windows-api-desktop-tech/svc, diagnostics/subsvc

#2024 Adding MF_READWRITE_USE_ONLY_HARDWARE_TRANSFORMS attribute.
  desktop-src/medfound/alphabetical-list-of-media-foundation-attributes.md
  desktop-src/medfound/mf-readwrite-use-only-hardware-transforms.md
  desktop-src/medfound/sink-writer-attributes.md
  desktop-src/medfound/source-reader-attributes.md
  desktop-src/medfound/toc.yml
Labels: do-not-merge, Change sent to author, windows-api-desktop-tech/svc, audio-video/subsvc

#2027 Update lParam description of WM_NCACTIVATE message
  desktop-src/winmsg/wm-ncactivate.md
Labels: do-not-merge, Change sent to author, windows-api-desktop-tech/svc, desktop-app-ui/subsvc

#2028 Fix a few typos
  desktop-src/AD/excel-macros-for-managing-service-connection-points.md
  desktop-src/ADSchema/a-badpasswordtime.md
  desktop-src/CIMWin32Prov/cim-physicalmemory.md
  desktop-src/Debug/system-error-codes--6000-8199-.md
  desktop-src/DirectShow/introduction-to-the-filter-base-classes.md
  desktop-src/FWP/wfp-version-independent-names-and-targeting-specific-versions-of-windows.md
  desktop-src/HyperV_v2/cim-alertindication.md
  desktop-src/HyperV_v2/cim-error.md
  desktop-src/Memory/stdexceptiondestroy.md
  desktop-src/Msi/checktargetpath-controlevent.md
  desktop-src/NAP/exampleshv.md
  desktop-src/NativeWiFi/wlan-profileschema-wlanprofile-element.md
  desktop-src/NetMon2/sessionstats.md
  desktop-src/OpenGL/opengl-state-variables.md
  desktop-src/TaskSchd/security-contexts-for-running-tasks.md
  desktop-src/TaskSchd/taskschedulerschema-workingdirectory-exectype-element.md
  desktop-src/WinSock/name-resolution-configuration-and-installation-2.md
  desktop-src/com/processes--threads--and-apartments.md
  desktop-src/direct3d11/id3dx11effectvariable-getannotationbyindex.md
  desktop-src/direct3ddxgi/dxgi-error.md
  desktop-src/direct3dhlsl/gather4--sm4-1---asm-.md
  desktop-src/direct3dhlsl/imm-atomic-xor--sm5---asm-.md
  desktop-src/direct3dhlsl/ps---ps.md
  desktop-src/direct3dtools/ipipelinestagescallback-getsupportedstages-dword-pipelinestage-arr-uint-uint.md
  desktop-src/direct3dtools/issue.md
  desktop-src/extensible-storage-engine/setcolumngrbit-enumeration.md
  desktop-src/gdiplus/-gdiplus-flatapi-flat.md
  desktop-src/inputmsg/wm-pointerhwheel.md
  desktop-src/lwef/mpscanstart.md
  desktop-src/medfound/mft-message-set-d3d-manager.md
  desktop-src/wic/-wic-glossary.md
  desktop-src/wsw/endpoint-identity.md
Labels: do-not-merge, Change sent to author, windows-api-desktop-tech/svc, networking/subsvc

#2029 Fix a few typos
  desktop-src/AD/object-creation-wizards.md
  desktop-src/DirectShow/step-1--declare-the-dshowplayer-class.md
  desktop-src/DxTechArts/directx-setup-for-game-developers.md
  desktop-src/ETW/drivermajorfunctioncall.md
  desktop-src/Http/run-time-configuration.md
  desktop-src/Memory/stdexceptiondestroy.md
  desktop-src/Memory/winbase-zerodevicememory.md
  desktop-src/Midl/midl-start-page.md
  desktop-src/Midl/size-is.md
  desktop-src/Msi/checkexistingtargetpath-controlevent.md
  desktop-src/Msi/ice80.md
  desktop-src/Msi/newdialog-controlevent.md
  desktop-src/WinAuto/active-accessibility-and-windows-vista-screen-scaling.md
  desktop-src/WinAuto/calling-active-accessibility-apis.md
  desktop-src/WinAuto/winevents-overview.md
  desktop-src/WmiSdk/wmi-error-constants.md
  desktop-src/com/registering-the-dll-server-for-surrogate-activation.md
  desktop-src/cossdk/securing-xml-web-services.md
  desktop-src/dataxchg/xtyp-unregister.md
  desktop-src/direct3d12/cd3dx12-global-root-signature-subobject.md
  desktop-src/lwef/-search-2x-wds-browserhelpobject.md
  desktop-src/medfound/codec-merit.md
  desktop-src/medfound/direct3d-12-video-structures.md
  desktop-src/medfound/dxva-video-processing.md
  desktop-src/medfound/extended-color-information.md
  desktop-src/medfound/mestreamsinkscrubsamplecomplete.md
  desktop-src/medfound/mfpkey-checkdataconsistency2pproperty.md
  desktop-src/medfound/mfpkey-wmaenc-generate-drc-paramsproperty.md
  desktop-src/menurc/menuex-template-item.md
  desktop-src/tablet/iinkanalyzer-abort.md
  desktop-src/wcs/advanced-color-icc-profiles.md
  desktop-src/wsw/wsutil-compiler-tool.md
Labels: do-not-merge, Change sent to author, windows-api-desktop-tech/svc, networking/subsvc

#2030 Add missing oplock type names
  desktop-src/FileIO/opportunistic-locks.md
Labels: do-not-merge, Change sent to author, windows-api-desktop-tech/svc, data-access-storage/subsvc

#2032 Update winsock-ioctls.md
  desktop-src/WinSock/winsock-ioctls.md
Labels: do-not-merge, Change sent to author, windows-api-desktop-tech/svc, networking/subsvc

#2033 Fix a few typos
  desktop-src/AD/example-code-for-creating-an-attribute.md
  desktop-src/Http/http-server-sample-application.md
  desktop-src/HyperV_v2/msvm-managementcollection.md
  desktop-src/HyperV_v2/msvm-referencepointcollection.md
  desktop-src/HyperV_v2/msvm-snapshotcollection.md
  desktop-src/HyperV_v2/msvm-virtualsystemcollection.md
  desktop-src/Msi/enablerollback-controlevent.md
  desktop-src/Msi/enddialog-controlevent.md
  desktop-src/Msi/reglocator-table.md
  desktop-src/Msi/setinstalllevel-controlevent.md
  desktop-src/Msi/spawndialog-controlevent.md
  desktop-src/Msi/spawnwaitdialog-controlevent.md
  desktop-src/Msi/validateproductid-controlevent.md
  desktop-src/OpenGL/glreadbuffer.md
  desktop-src/Win7AppQual/server-hyper-v.md
  desktop-src/direct3d11/overviews-direct3d-11-render-multipass.md
  desktop-src/direct3dhlsl/ld2dms--sm4-1---asm-.md
  desktop-src/directmanipulation/directmanipulation-multiple-vieports.md
  desktop-src/lwef/-search-2x-iresultsviewer.md
  desktop-src/lwef/-search-2x-iresulttype-preceivedtype.md
  desktop-src/properties/props-system-itemsubtype.md
  desktop-src/tablet/about-the-input-panel.md
  desktop-src/tablet/ink-collection-plug-ins.md
  desktop-src/uxguide/win-property-win.md
  desktop-src/wic/native-wic-codecs.md
Labels: do-not-merge, Change sent to author, windows-api-desktop-tech/svc, graphics-gaming/subsvc

#2034 Update quality-of-service.md to document inactivity based QoS management and add instructions to disable
  desktop-src/ProcThread/quality-of-service.md
Labels: do-not-merge, Change sent to author, windows-api-desktop-tech/svc, diagnostics/subsvc

#2036 Better document transitionMode in Wi-Fi profile
  desktop-src/NativeWiFi/wlan-profileschema-authencryption-security-element.md
Labels: do-not-merge, Change sent to author, windows-api-desktop-tech/svc, networking/subsvc

#2035 Fix a few typos
  desktop-src/AD/object-creation-wizards.md
  desktop-src/CIMWin32Prov/win32-1394controller.md
  desktop-src/Controls/em-settextmode.md
  desktop-src/Controls/static-control-styles.md
  desktop-src/DevNotes/sense-data.md
  desktop-src/DirectShow/copp-command-reference.md
  desktop-src/DirectShow/frequency-tables.md
  desktop-src/DirectWrite/getting-started-with-directwrite.md
  desktop-src/FWP/wmi/nettcpipprov/msft-netoffloadglobalsetting.md
  desktop-src/WmiSdk/isa-operator-for-schema-queries.md
  desktop-src/WmiSdk/registering-a-provider.md
  desktop-src/direct3d10/d3dx10-channel-flag.md
  desktop-src/direct3d11/id3dx11effectvariable-getmemberbyname.md
  desktop-src/direct3d12/new-releases.md
  desktop-src/direct3d9/token-records.md
  desktop-src/direct3dtools/ipixengine2.md
  desktop-src/extensible-storage-engine/jet-index-column-members.md
  desktop-src/medfound/mfpkey-totalframesproperty.md
  desktop-src/numerics_h/quaternion-structure.md
  desktop-src/search/linguistic-and-unicode-considerations.md
  desktop-src/wmformat/drm-headersignprivkey.md
  desktop-src/wpd_sdk/mtp-extension-events.md
  desktop-src/wsw/filerepserviceexample.md
  desktop-src/wsw/security-description.md
  desktop-src/wsw/service-metadata.md
Labels: do-not-merge, Change sent to author, windows-api-desktop-tech/svc, networking/subsvc

#2038 Fix a few typos
  desktop-src/FWP/wmi/nettcpipprov/cim-concretejob.md
  desktop-src/FWP/wmi/nettcpipprov/cim-enabledlogicalelement.md
  desktop-src/FWP/wmi/nettcpipprov/cim-filterentrybase.md
  desktop-src/FWP/wmi/nettcpipprov/cim-ipprotocolendpoint.md
  desktop-src/FWP/wmi/nettcpipprov/cim-job.md
  desktop-src/FWP/wmi/nettcpipprov/cim-lanendpoint.md
  desktop-src/FWP/wmi/nettcpipprov/cim-logicaldevice.md
  desktop-src/FWP/wmi/nettcpipprov/cim-logicalelement.md
  desktop-src/FWP/wmi/nettcpipprov/cim-logicalport.md
  desktop-src/FWP/wmi/nettcpipprov/cim-managedelement.md
  desktop-src/FWP/wmi/nettcpipprov/cim-managedsystemelement.md
  desktop-src/FWP/wmi/nettcpipprov/cim-networkpipe.md
  desktop-src/FWP/wmi/nettcpipprov/cim-networkport.md
  desktop-src/FWP/wmi/nettcpipprov/cim-nexthoproute.md
  desktop-src/FWP/wmi/nettcpipprov/cim-policy.md
  desktop-src/FWP/wmi/nettcpipprov/cim-policyaction.md
  desktop-src/FWP/wmi/nettcpipprov/cim-protocolendpoint.md
  desktop-src/FWP/wmi/nettcpipprov/cim-remoteserviceaccesspoint.md
  desktop-src/FWP/wmi/nettcpipprov/cim-serviceaccesspoint.md
  desktop-src/FWP/wmi/nettcpipprov/cim-settingdata.md
  desktop-src/FWP/wmi/nettcpipprov/msft-netbaseipprotocol.md
  desktop-src/FWP/wmi/nettcpipprov/msft-netcompartment.md
  desktop-src/FWP/wmi/nettcpipprov/msft-netipaddress.md
  desktop-src/FWP/wmi/nettcpipprov/msft-netipinterface.md
  desktop-src/FWP/wmi/nettcpipprov/msft-netipv4protocol.md
  desktop-src/FWP/wmi/nettcpipprov/msft-netipv6protocol.md
  desktop-src/FWP/wmi/nettcpipprov/msft-netneighbor.md
  desktop-src/FWP/wmi/nettcpipprov/msft-netprefixpolicy.md
  desktop-src/FWP/wmi/nettcpipprov/msft-netsettingdata-nettcpip.md
  desktop-src/FWP/wmi/nettcpipprov/msft-nettcpconnection.md
  desktop-src/FWP/wmi/nettcpipprov/msft-nettcpsetting.md
  desktop-src/FWP/wmi/nettcpipprov/msft-nettransportconnection.md
  desktop-src/FWP/wmi/nettcpipprov/msft-nettransportfilter.md
  desktop-src/FWP/wmi/nettcpipprov/msft-netudpendpoint.md
  desktop-src/FWP/wmi/nettcpipprov/msft-netudpsetting.md
  desktop-src/Midl/midl-user-allocate-1.md
  desktop-src/WinSock/upcalls-exposed-by-windows-sockets-2-dll-2.md
  desktop-src/medfound/creating-the-asf-file-sink.md
  desktop-src/properties/props-system-music-albumartistsortoverride.md
Labels: do-not-merge, Change sent to author, windows-api-desktop-tech/svc, desktop-environment/subsvc

#2040 docFix
  desktop-src/SecAuthZ/app-isolation-overview.md
  desktop-src/SecAuthZ/app-isolation-packaging-with-vs.md
Labels: do-not-merge, Change sent to author, windows-api-desktop-tech/svc, security-identity/subsvc

#2042 Fix a few typos
  desktop-src/CIMWin32Prov/win32-networkloginprofile.md
  desktop-src/Controls/cookbook-overview.md
  desktop-src/Controls/create-an-owner-drawn-combo-box.md
  desktop-src/Controls/using-list-view-controls.md
  desktop-src/Direct2D/block-compression.md
  desktop-src/Direct2D/programming-guide.md
  desktop-src/Direct2D/transforms.md
  desktop-src/Msi/manage-policy-settings.md
  desktop-src/SecGloss/s-gly.md
  desktop-src/Stg/stgm-constants.md
  desktop-src/Stg/stoclien-overview.md
  desktop-src/TermServ/getprovisioningproperties-win32-rdmscollectionproperties.md
  desktop-src/WinAuto/built-in-accessibility-features.md
  desktop-src/WinAuto/handling-the-wm-getobject-message.md
  desktop-src/WinAuto/uiauto-accessingmsaaservers.md
  desktop-src/WinHttp/winhttprequestoption.md
  desktop-src/WinRM/displaying-xml-output-from-winrm-scripts.md
  desktop-src/WinRM/windows-remote-management-glossary.md
  desktop-src/WinSock/function-calls-2.md
  desktop-src/direct3d11/direct3d-11-advanced-stages-compute-create.md
  desktop-src/direct3d9/d3dusage.md
  desktop-src/direct3dhlsl/dcl-output-omask--sm5---asm-.md
  desktop-src/direct3dhlsl/dcl-tessellator-domain--sm5---asm-.md
  desktop-src/direct3dtools/descriptor-heap-header-columns.md
  desktop-src/direct3dtools/pix/pix-gpu-captures.md
  desktop-src/direct3dtools/sourcefileinfo.md
  desktop-src/extensible-storage-engine/api.gettableindexes-method-jet-sesid-jet-dbid-string-.md
  desktop-src/extensible-storage-engine/jetsetcolumns-function.md
  desktop-src/inputmsg/wm-pointerwheel.md
  desktop-src/lwef/-search-2x-iresultsviewer-filtertype.md
  desktop-src/medfound/using-the-indexer-to-write-a-new-index.md
  desktop-src/search/-search-sql-reusewhere.md
  desktop-src/search/-search-sql-where.md
  desktop-src/tablet/auto-claims-form-sample.md
  desktop-src/tablet/scanned-paper-form-sample.md
  desktop-src/wcs/basic-color-management-concepts.md
  desktop-src/windowsribbon/windowsribbon-guides-entry.md
  desktop-src/wsw/security-binding-settings.md
  desktop-src/xinput/getting-started-with-xinput.md
Labels: do-not-merge, Change sent to author, windows-api-desktop-tech/svc, graphics-gaming/subsvc

#2046 Fixed bug in example in 3d-perspective-transform.md
  desktop-src/Direct2D/3d-perspective-transform.md
Labels: do-not-merge, Change sent to author, windows-api-desktop-tech/svc, graphics-gaming/subsvc

#2039 Update using-cursors.md
  desktop-src/menurc/using-cursors.md
Labels: do-not-merge, Change sent to author, windows-api-desktop-tech/svc, desktop-app-ui/subsvc

#2050 Update publishing-your-event-schema-for-a-manifest-base-provider.md to make events appear in Event Viewer
  desktop-src/ETW/publishing-your-event-schema-for-a-manifest-base-provider.md
Labels: do-not-merge, Change sent to author, windows-api-desktop-tech/svc, diagnostics/subsvc

#2049 Update writing-manifest-based-events.md to fix string const cast errors
  desktop-src/ETW/writing-manifest-based-events.md
Labels: do-not-merge, Change sent to author, windows-api-desktop-tech/svc, diagnostics/subsvc

#2048 Update publishing-your-event-schema-for-a-manifest-base-provider.md to fix schema validation error
  desktop-src/ETW/publishing-your-event-schema-for-a-manifest-base-provider.md
Labels: do-not-merge, Change sent to author, windows-api-desktop-tech/svc, diagnostics/subsvc

#2054 Update symstore-command-line-options.md
  desktop-src/Debug/symstore-command-line-options.md
Labels: do-not-merge, Change sent to author, windows-api-desktop-tech/svc, diagnostics/subsvc

#2053 Update writing-manifest-based-events.md with int wmain return-type
  desktop-src/ETW/writing-manifest-based-events.md
Labels: do-not-merge, Change sent to author, windows-api-desktop-tech/svc, diagnostics/subsvc

#2059 Fix a few typos
  desktop-src/Bits/background-intelligent-transfer-service-portal.md
  desktop-src/DirectShow/audio-capture-and-rendering-interfaces.md
  desktop-src/DirectShow/end-of-stream-notifications.md
  desktop-src/DirectShow/using-wddm-capture-in-directshow.md
  desktop-src/DirectWrite/enumerations.md
  desktop-src/ETW/systemconfig.md
  desktop-src/ETW/using-tdhformatproperty-to-consume-event-data.md
  desktop-src/Http/http-server-hp-code-example.md
  desktop-src/HyperV_v2/msvm-guestclusterinformation.md
  desktop-src/Midl/-env.md
  desktop-src/Midl/defaultvalue.md
  desktop-src/Msi/ice36.md
  desktop-src/Rpc/top-level-and-embedded-pointers.md
  desktop-src/SecCertEnroll/enumerating-installed-providers.md
  desktop-src/TaskSchd/taskschedulerschema-schedulebyweek-calendartriggertype-element.md
  desktop-src/TaskSchd/taskschedulerschema-weeksinterval-weeklyscheduletype-element.md
  desktop-src/VML/msdn-online-vml-imagedata-element.md
  desktop-src/WMDM/interfaces-for-applications.md
  desktop-src/WinAuto/uiauto-textattribute-ids.md
  desktop-src/com/data-notification.md
  desktop-src/com/interfaces.md
  desktop-src/direct3dtools/pixelhistoryintersection.md
  desktop-src/directcomp/how-to--apply-transforms-and-effects-to-a-visual.md
  desktop-src/medfound/evrconfig-allowscaling.md
  desktop-src/medfound/mf-toponode-errorcode-attribute.md
  desktop-src/medfound/tutorial--encoding-an-mp4-file-.md
  desktop-src/mediastreaming/activebasicdevice-issearchsupported.md
  desktop-src/search/-search-3x-wds-sampleentry.md
  desktop-src/search/querying-process--windows-search-.md
  desktop-src/wic/jpeg-xr-codec.md
  desktop-src/wpd_sdk/retrieving-an-object-identifier-from-a-persistent-unique-identifier.md
  desktop-src/wsw/requestreplynamedpipesclientwithwindowstransportsecurityexample.md
Labels: do-not-merge, Change sent to author, windows-api-desktop-tech/svc, networking/subsvc
