Repository MicrosoftDocs/win32, pull requests merged in 2025-08, with the labels that each got.

#2091 Fix ImageCheckSum to ImageChecksum
  desktop-src/ETW/image-load.md
Labels: do-not-merge, Change sent to author, windows-api-desktop-tech/svc, diagnostics/subsvc

#2090 Update code-page-bitfields.md
  desktop-src/Intl/code-page-bitfields.md
Labels: do-not-merge, Change sent to author, windows-api-desktop-tech/svc, desktop-app-ui/subsvc

#2093 Update Direct3D 9Ex Device Behavior Changes documentation
  desktop-src/direct3d9/dx9lh.md
Labels: do-not-merge, Change sent to author, windows-api-desktop-tech/svc, graphics-gaming/subsvc

#2085 Update Video Processor MFT documentation
  desktop-src/medfound/video-processor-mft.md
Labels: do-not-merge, Change sent to author, windows-api-desktop-tech/svc, audio-video/subsvc

#2097 RPC tutorial: Fix undeclared handle errors
  desktop-src/Rpc/the-client-application.md
  desktop-src/Rpc/the-server-application.md
Labels: do-not-merge, Change sent to author, windows-api-desktop-tech/svc, networking/subsvc

#2096 Make RPC tutorial compatible with VS2022
  desktop-src/Rpc/the-client-application.md
  desktop-src/Rpc/the-server-application.md
Labels: do-not-merge, Change sent to author, windows-api-desktop-tech/svc, networking/subsvc

#2095 Add warnings about outdated / deprecated Event Logging content
  desktop-src/EventLog/about-event-logging.md
  desktop-src/EventLog/event-categories.md
  desktop-src/EventLog/event-data.md
  desktop-src/EventLog/event-identifiers.md
  desktop-src/EventLog/event-log-file-format.md
  desktop-src/EventLog/event-log-records.md
  desktop-src/EventLog/event-logging-elements.md
  desktop-src/EventLog/event-logging-functions.md
  desktop-src/EventLog/event-logging-model.md
  desktop-src/EventLog/event-logging-operations.md
  desktop-src/EventLog/event-logging-reference.md
  desktop-src/EventLog/event-logging-security.md
  desktop-src/EventLog/event-logging-structures.md
  desktop-src/EventLog/event-logging.md
  desktop-src/EventLog/event-sources.md
  desktop-src/EventLog/event-types.md
  desktop-src/EventLog/eventlog-key.md
  desktop-src/EventLog/logging-guidelines.md
  desktop-src/EventLog/message-files.md
  desktop-src/EventLog/message-text-files.md
  desktop-src/EventLog/querying-for-event-source-messages.md
  desktop-src/EventLog/reading-from-the-event-log.md
  desktop-src/EventLog/receiving-event-notification.md
  desktop-src/EventLog/reporting-an-event.md
  desktop-src/EventLog/sample-message-text-file.md
  desktop-src/EventLog/toc.yml
  desktop-src/EventLog/using-event-logging.md
  desktop-src/EventLog/viewing-the-event-log.md
Labels: do-not-merge, Change sent to author, windows-api-desktop-tech/svc, diagnostics/subsvc

#2101 Update unpremultiply.md
  desktop-src/Direct2D/unpremultiply.md
Labels: do-not-merge, Change sent to author, windows-api-desktop-tech/svc, graphics-gaming/subsvc

#2102 RPC tutorial: Delete redundant "Compiling and Linking" article
  desktop-src/Rpc/compiling-and-linking.md
  desktop-src/Rpc/toc.yml
  desktop-src/Rpc/tutorial.md
Labels: do-not-merge, Change sent to author, windows-api-desktop-tech/svc, networking/subsvc
