Repository MicrosoftDocs/win32, pull requests merged in 2025-01, with the labels that each got.

#1959 singlePackageUpdate
  desktop-src/SecAuthZ/app-isolation-overview.md
  desktop-src/SecAuthZ/app-isolation-packaging-with-vs.md
  desktop-src/SecAuthZ/images/app-isolation/vs/06-Microsoft-Windows-SDK-BuildTools.png
  desktop-src/SecAuthZ/images/app-isolation/vs/07-SDK-BuildTools-Info.png
  desktop-src/SecAuthZ/images/app-isolation/vs/08-PackagingAppx-File.png
  desktop-src/SecAuthZ/images/app-isolation/vs/09-PackagingAppx-File.png
  desktop-src/SecAuthZ/images/app-isolation/vs/09-Project-File.png
Labels: do-not-merge, Change sent to author, windows-api-desktop-tech/svc, security-identity/subsvc

#1960 Fixed code in creating-a-socket-for-the-client.md
  desktop-src/WinSock/creating-a-socket-for-the-client.md
Labels: do-not-merge, Change sent to author, windows-api-desktop-tech/svc, networking/subsvc

#1957 Fixed typo for 'Maximize'
  desktop-src/winmsg/images/cswin-02.png
  desktop-src/winmsg/images/cswin_02.png
Labels: do-not-merge, review-team-triage

#1961 Update painting-on-a-dc-that-spans-multiple-displays.md
  desktop-src/gdi/painting-on-a-dc-that-spans-multiple-displays.md
Labels: do-not-merge, Change sent to author, windows-api-desktop-tech/svc, desktop-app-ui/subsvc

#1963 appSiloEdit01092025
  desktop-src/SecAuthZ/app-isolation-overview.md
  desktop-src/SecAuthZ/app-isolation-packaging-with-vs.md
Labels: do-not-merge, Change sent to author, windows-api-desktop-tech/svc, security-identity/subsvc

#1964 Add error handling in the FormatMessage + Last Error example
  desktop-src/Debug/retrieving-the-last-error-code.md
Labels: do-not-merge, Change sent to author, windows-api-desktop-tech/svc, diagnostics/subsvc

#1967 dx9lh: Fix whitespace typo
  desktop-src/direct3d9/dx9lh.md
Labels: do-not-merge, Change sent to author, windows-api-desktop-tech/svc, graphics-gaming/subsvc

#1966 Update accepting-a-connection.md
  desktop-src/WinSock/accepting-a-connection.md
Labels: do-not-merge, Change sent to author, windows-api-desktop-tech/svc, networking/subsvc

#1965 Typo fixed on "WFP Architecture" page
  desktop-src/FWP/windows-filtering-platform-architecture-overview.md
Labels: do-not-merge, Change sent to author, windows-api-desktop-tech/svc, networking/subsvc

#1884 Update ldrdllnotification.md
  desktop-src/DevNotes/ldrdllnotification.md
Labels: do-not-merge, Change sent to author, windows-api-desktop-tech/svc, system-services/subsvc

#1970 Fix incorrect array size in DDS Cube Map Example
  desktop-src/direct3ddds/dds-file-layout-for-cubic-environment-maps.md
Labels: do-not-merge, Change sent to author, windows-api-desktop-tech/svc, graphics-gaming/subsvc

#1969 Fix syntax highlighting in using-hooks.md
  desktop-src/winmsg/using-hooks.md
Labels: do-not-merge, Change sent to author, windows-api-desktop-tech/svc, desktop-app-ui/subsvc

#1954 Fix wrong cloaking enum value for CoInitializeSecurity
  desktop-src/VSS/security-considerations-for-requestors.md
Labels: do-not-merge, Change sent to author, windows-api-desktop-tech/svc, data-access-storage/subsvc

#1943 Update file-system-operation-notifications.md
  desktop-src/ProjFS/file-system-operation-notifications.md
Labels: do-not-merge, Change sent to author, windows-api-desktop-tech/svc, data-access-storage/subsvc

#1973 Clarify constant int sizes in templated HLSL matrix declaration
  desktop-src/direct3dhlsl/dx-graphics-hlsl-matrix.md
Labels: do-not-merge, Change sent to author, windows-api-desktop-tech/svc, graphics-gaming/subsvc

#1972 Clarify constant int size in templated HLSL vector declaration
  desktop-src/direct3dhlsl/dx-graphics-hlsl-vector.md
Labels: do-not-merge, Change sent to author, windows-api-desktop-tech/svc, graphics-gaming/subsvc

#1974 Update mf-devsource-attribute-frameserver-share-mode.md to fix var name and text nits
  desktop-src/medfound/mf-devsource-attribute-frameserver-share-mode.md
Labels: do-not-merge, Change sent to author, windows-api-desktop-tech/svc, audio-video/subsvc
