Repository MicrosoftDocs/win32, pull requests merged in 2025-04, with the labels that each got.

#2004 Fix incorrect class name
  desktop-src/WmiSdk/wmi-tasks--processes.md
Labels: do-not-merge, Change sent to author, windows-api-desktop-tech/svc, server-tech/subsvc

#2006 Update using-dynamic-data-exchange.md
  desktop-src/dataxchg/using-dynamic-data-exchange.md
Labels: do-not-merge, Change sent to author, windows-api-desktop-tech/svc, desktop-app-ui/subsvc

#2007 AppSilo VS instructions update
  desktop-src/SecAuthZ/app-isolation-packaging-with-vs.md
Labels: do-not-merge, Change sent to author, windows-api-desktop-tech/svc, security-identity/subsvc

#2008 Fix COM0 and LPT0 incorrectly listed as reserved
  desktop-src/FileIO/naming-a-file.md
Labels: do-not-merge, Change sent to author, windows-api-desktop-tech/svc, data-access-storage/subsvc

#1999 pe-format.md - add header C++ highlighting
  desktop-src/Debug/pe-format.md
Labels: do-not-merge, Change sent to author, windows-api-desktop-tech/svc, diagnostics/subsvc

#2009 Fix file path ole-com-object-viewer.md
  desktop-src/com/ole-com-object-viewer.md
Labels: do-not-merge, Change sent to author, windows-api-desktop-tech/svc, system-services/subsvc

#2010 Refine context switch description
  desktop-src/ProcThread/context-switches.md
Labels: do-not-merge, Change sent to author, windows-api-desktop-tech/svc, diagnostics/subsvc

#2012 Update xaudio2-redistributable.md
  desktop-src/xaudio2/xaudio2-redistributable.md
Labels: do-not-merge, Change sent to author, windows-api-desktop-tech/svc, graphics-gaming/subsvc

#2014 (exFAT) Fixed likely copy-paste error.
  desktop-src/FileIO/exfat-specification.md
Labels: do-not-merge, Change sent to author, windows-api-desktop-tech/svc, data-access-storage/subsvc

#2015 Update for WINHTTP_OPTION_HTTP_VERSION description
  desktop-src/WinHttp/option-flags.md
Labels: do-not-merge, Change sent to author, windows-api-desktop-tech/svc, networking/subsvc

#1971 SEH: Remove misleading text from one of the examples and minor fixes
  desktop-src/Debug/using-an-exception-handler.md
Labels: do-not-merge, Change sent to author, windows-api-desktop-tech/svc, diagnostics/subsvc

#1962 Update power-management-functions.md
  desktop-src/Power/power-management-functions.md
Labels: do-not-merge, Change sent to author, windows-api-desktop-tech/svc, system-services/subsvc

#1846 pe-format: MIPS Updates
  desktop-src/Debug/pe-format.md
Labels: do-not-merge, Change sent to author, windows-api-desktop-tech/svc, diagnostics/subsvc

#2013 Replace '❓' with '❔' in DirectX format support
  desktop-src/direct3ddxgi/format-support-for-direct3d-11-0-feature-level-hardware.md
  desktop-src/direct3ddxgi/format-support-for-direct3d-11-1-feature-level-hardware.md
  desktop-src/direct3ddxgi/hardware-support-for-direct3d-12-0-formats.md
  desktop-src/direct3ddxgi/hardware-support-for-direct3d-12-1-formats.md
Labels: do-not-merge, Change sent to author, windows-api-desktop-tech/svc, graphics-gaming/subsvc

#2018 Fix a few typos
  desktop-src/Controls/printing-rich-edit-controls.md
  desktop-src/DevNotes/getvmworkerprocess.md
  desktop-src/DirectShow/the-timeline-model.md
  desktop-src/Http/http-logging-flag--constants.md
  desktop-src/Ktm/recovery-processing.md
  desktop-src/Stg/com-objects-and-structured-storage.md
  desktop-src/Tapi/lineofferingmode--constants.md
  desktop-src/Wua_Sdk/iupdateendpointauthtoken-tokenreferenceunattached.md
  desktop-src/com/com-error-codes-9.md
  desktop-src/direct3d12/cd3dx12-local-root-signature-subobject.md
  desktop-src/direct3d9/data-binding.md
  desktop-src/eaphost/sso-password-change-behavior-.md
  desktop-src/extensible-storage-engine/api.jetescrowupdate-method.md
  desktop-src/inputmsg/wm-pointerup.md
  desktop-src/medfound/mf-toponode-errorcode-attribute.md
  desktop-src/medfound/tutorial--copying-asf-streams-from-one-file-to-another.md
  desktop-src/pktmon/packetmonitor/nf-packetmonitor-packetmonitorenumdatasources.md
  desktop-src/wintouch/iinertiaprocessor-properties.md
  desktop-src/wintouch/manipulation-and-inertia-sample.md
  desktop-src/xaudio2/xaudio2-redistributable.md
Labels: do-not-merge, Change sent to author, windows-api-desktop-tech/svc, graphics-gaming/subsvc

#2017 Update sid-strings.md
  desktop-src/SecAuthZ/sid-strings.md
Labels: do-not-merge, Change sent to author, windows-api-desktop-tech/svc, security-identity/subsvc

#2016 Update well-known-sids.md
  desktop-src/SecAuthZ/well-known-sids.md
Labels: do-not-merge, Change sent to author, windows-api-desktop-tech/svc, security-identity/subsvc
