Repository MicrosoftDocs/win32, pull requests merged in 2025-07, with the labels that each got.

#2068 Document tri-state TCP timestamps knob on MSFT_NetTCPSetting
  desktop-src/FWP/wmi/nettcpipprov/msft-nettcpsetting.md
Labels: do-not-merge, Change sent to author, windows-api-desktop-tech/svc, desktop-environment/subsvc

#2074 Update installation-and-configuration-for-windows-remote-management.md
  desktop-src/WinRM/installation-and-configuration-for-windows-remote-management.md
Labels: do-not-merge, Change sent to author, windows-api-desktop-tech/svc, server-tech/subsvc

#2080 Update lb-setanchorindex.md
  desktop-src/Controls/lb-setanchorindex.md
Labels: Change sent to author, windows-api-desktop-tech/svc, desktop-app-ui/subsvc

#2073 Update lb-getanchorindex.md
  desktop-src/Controls/lb-getanchorindex.md
Labels: Change sent to author, windows-api-desktop-tech/svc, desktop-app-ui/subsvc

#2084 Update WARP documentation
  desktop-src/direct3darticles/directx-warp.md
Labels: do-not-merge, Change sent to author, windows-api-desktop-tech/svc, graphics-gaming/subsvc

#2086 Create understanding-pe-signatures.md
  desktop-src/SecBP/toc.yml
  desktop-src/SecBP/understanding-pe-signatures.md
Labels: do-not-merge, Change sent to author, windows-api-desktop-tech/svc, security-identity/subsvc
