Repository MicrosoftDocs/win32, pull requests merged in 2025-02, with the labels that each got.

#1980 Update ace-inheritance-rules.md
  desktop-src/SecAuthZ/ace-inheritance-rules.md
Labels: do-not-merge, Change sent to author, windows-api-desktop-tech/svc, security-identity/subsvc

#1982 Fix anchor links in taking-advantage-of-high-dpi-mouse-movement.md
  desktop-src/DxTechArts/taking-advantage-of-high-dpi-mouse-movement.md
Labels: do-not-merge, Change sent to author, windows-api-desktop-tech/svc, graphics-gaming/subsvc

#1984 Update ipsec-configuration.md
  desktop-src/FWP/ipsec-configuration.md
Labels: do-not-merge, Change sent to author, windows-api-desktop-tech/svc, networking/subsvc

#1938 Replace mentions of nonexistent ID3D12Texture2D with ID3D12Resource
  desktop-src/medfound/direct3d-12-video-migration.md
Labels: do-not-merge, Change sent to author, windows-api-desktop-tech/svc, audio-video/subsvc

#1987 Update acquiring-high-resolution-time-stamps.md
  desktop-src/SysInfo/acquiring-high-resolution-time-stamps.md
Labels: do-not-merge, Change sent to author, windows-api-desktop-tech/svc, system-services/subsvc

#1989 Clean up superfluous semicolons
  desktop-src/Controls/create-a-simple-combo-box.md
  desktop-src/Controls/create-directory-listing-in-a-single-selection-list-box.md
  desktop-src/CoreAudio/render-spatial-sound-using-spatial-audio-objects.md
  desktop-src/WinInet/asynchronous-example-application.md
  desktop-src/activity_coordinator/activity-coordinator-example-project.md
  desktop-src/directcomp/how-to--animate-a-visual.md
  desktop-src/directcomp/how-to--apply-transforms-and-effects-to-a-visual.md
  desktop-src/directcomp/how-to--build-a-visual-tree.md
  desktop-src/directcomp/initialize-directcomposition.md
  desktop-src/lwef/mpthreat-localized-info.md
  desktop-src/shell/building-thumbnail-providers.md
  desktop-src/wpd_sdk/adding-a-resource-to-an-object.md
  desktop-src/wsw/filerepserviceexample.md
Labels: do-not-merge, Change sent to author, windows-api-desktop-tech/svc, networking/subsvc

#1991 Update extended-window-styles.md
  desktop-src/winmsg/extended-window-styles.md
Labels: do-not-merge, Change sent to author, windows-api-desktop-tech/svc, desktop-app-ui/subsvc

#1992 Update using-objid-nativeom-to-expose-a-native-object-model-interface…
  desktop-src/WinAuto/using-objid-nativeom-to-expose-a-native-object-model-interface-for-a-window.md
Labels: do-not-merge, Change sent to author, windows-api-desktop-tech/svc, accessibility/subsvc
