Repository MicrosoftDocs/win32, pull requests merged in 2025-09, with the labels that each got.

#2106 Update lvm-setview.md
  desktop-src/Controls/lvm-setview.md
Labels: do-not-merge, Change sent to author, windows-api-desktop-tech/svc, desktop-app-ui/subsvc

#2089 Update about-rich-edit-controls.md
  desktop-src/Controls/about-rich-edit-controls.md
Labels: Change sent to author, windows-api-desktop-tech/svc, desktop-app-ui/subsvc

#2112 Update dot11-phy-type.md to fix markdown formatting, add info for most recent updates, standardize formatting
  desktop-src/NativeWiFi/dot11-phy-type.md
Labels: do-not-merge, Change sent to author, windows-api-desktop-tech/svc, networking/subsvc
