Repository MicrosoftDocs/win32, pull requests merged in 2025-03, with the labels that each got.

#1836 Update wm-updateuistate.md
  desktop-src/menurc/wm-updateuistate.md
Labels: do-not-merge, Change sent to author, windows-api-desktop-tech/svc, desktop-app-ui/subsvc

#1897 Fix wrong field
  desktop-src/menurc/vs-versioninfo.md
Labels: do-not-merge, Change sent to author, windows-api-desktop-tech/svc, desktop-environment/subsvc

#1994 winsock: clarify the usage of BSD socket errors
  desktop-src/WinSock/error-codes-errno-h-errno-and-wsagetlasterror-2.md
Labels: do-not-merge, Change sent to author, windows-api-desktop-tech/svc, networking/subsvc

#1998 Update virtual-key-codes.md
  desktop-src/inputdev/about-keyboard-input.md
  desktop-src/inputdev/virtual-key-codes.md
Labels: do-not-merge, Change sent to author, windows-api-desktop-tech/svc, desktop-app-ui/subsvc

#2000 Remove non-existent pseudo handle
  desktop-src/SecCNG/cng-algorithm-pseudo-handles.md
Labels: do-not-merge, Change sent to author, windows-api-desktop-tech/svc, security-identity/subsvc

#2002 Typo fix
  desktop-src/Debug/system-error-codes--12000-15999-.md
Labels: do-not-merge, Change sent to author, windows-api-desktop-tech/svc, diagnostics/subsvc

#2003 Update high-dynamic-range.md
  desktop-src/direct3darticles/high-dynamic-range.md
Labels: do-not-merge, Change sent to author, windows-api-desktop-tech/svc, graphics-gaming/subsvc
